        <div class="courseContainer" *ngIf="!nocard && !defaultDiv">
        <div class="courseProduct">
            <figure class="bannerBgImage" id="banner">
                <img [src]="courseData?.image?.bgurl" alt="" />
            </figure>
            <div class="bannerContent">
                <div class="container">
                    <div class="left">
                        <div class="heading1">{{courseData?.name}}</div>
                        <p>{{courseData?.shortDescription}}</p>
                        <span>{{courseData?.skillLevel}}</span>
                        <div class="courseContent">
                            <span class="ratingStar">
                                <em class="icon-Star" *ngFor="let rate of courseData?.courseContents?.ratings"></em>
                            </span>
                            <span class="ratings">{{courseData?.courseContents?.ratingsCount}}</span>
                            <span class="learners">{{courseData?.courseContents?.learners}}</span>
                            <div class="buttons">
                                <span class="courseRate" *ngIf="courseData?.is_free">{{'Free'}}</span>
                                <span class="courseRate" *ngIf="!courseData?.is_free"><em class="icon-Rupee"></em>{{courseData?.sellingPrice}}</span>
                                <!-- <button class="buyNow" (click)="courseBuy()">Add to Cart</button> -->
                                <button class="buyNow" (click)="navigateBatch()">
                                    {{(this.courseType == 'Track' || this.courseType == 'course') ? 'Enroll Now' :'Add To Cart'}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <figure>
                            <img [src]="courseData?.image?.url" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
            <div class="starss">
                <div class='stars'></div>
                <div class='stars2'></div>
                <div class='stars3'></div>
            </div>
        </div>
        <section class="topTab">
            <div class="bannerFooter">
                <div class="container">
                    <div class="footerWrapper">
                        <div class="studentsEnrolled commonStyle" *ngFor="let item of courseData?.courseContents?.bannerFooter">
                            <figure>
                                <img [src]="item.image" alt="" />
                            </figure>
                            <div>
                                <p>{{item?.title}}</p>
                                <span class="content">{{item?.description}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Overall tabs -->
            <div class="tabssection" #stickyMenu [class.sticky] = "sticky">
                <div class="container">
                    <ul>
                        <li *ngFor="let item of this.courseData?.courseContents?.tabs">
                            <a (click)="scroll(item?.sectionId)" [ngClass]="item?.sectionId == activeSection ? 'active':''">{{item.title}}</a>
                        </li>
                    </ul>
                    <button class="buyNow" (click)="courseBuy()">
                        {{(this.courseType == 'Track' || this.courseType == 'course') ? 'Enroll Now' :'Add To Cart'}}
                    </button>
                </div>
            </div>
        </section>
        <ng-container *ngFor="let item of this.courseData?.courseContents?.Headings">
          <!-- Why Full Stack -->
           <ng-container *ngIf="item?.sectionId == 1 && item?.dispalystatus">
            <section class="whyFullStack" [id]="item.sectionId" #1>
                
                <div class="container fullStack">
                    <div class="commonHeadingStyle">{{item?.title}}</div>
                    <ul>
                        <li *ngFor="let child of item.innerArray">
                            <figure>
                                <img [src]="child?.imageurl" alt="" />
                            </figure>
                            <div class="heading5">{{child?.title}}</div>
                            <p>{{child?.description}}</p>
                        </li>
                    </ul>
                </div>
            </section>
           </ng-container>
             <!-- Program Overivew -->
            <ng-container *ngIf="item?.sectionId == 2 && item?.dispalystatus">
                <section class="programOverview" [id]="item.sectionId" #2>
                    <div class="container">
                        <div class="commonHeadingStyle">{{item?.title}}</div>
                        <div class="programming">
                            <div class="left" [ngStyle]="{'background-image': 'url(' + item?.bgurl + ')'}">
                                <p>{{item?.description}}</p>
                            </div>
                            <figure>
                                <img [src]="item?.imageurl" alt="" />
                            </figure>
                        </div>
                    </div>
                </section>
                <section class="projectThink" *ngIf="item?.subHeading0?.dispalystatus" [ngStyle]="{'background-image': 'url(' + item?.subHeading0?.bgurl + ')'}">
                    <div class="container">
                        <div class="thinkSection">
                            <div class="left">
                                <figure>
                                    <img [src]="item?.subHeading0?.imageurl" alt="" />
                                </figure>
                            </div>
                            <div class="right">
                                <div>{{item?.subHeading0?.title}}</div>
                                <p>{{item?.subHeading0?.description}}</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="progHighlightsBg" *ngIf="item?.subHeading1?.dispalystatus">
                    <div class="container">
                        <div class="programmeHighlights" *ngIf="item?.subHeading2?.dispalystatus">
                            <div class="heading4">{{item?.subHeading2?.title}}</div>
                            <p>{{item?.subHeading2?.description}}</p>
                            <div class="keySkillsCovered">
                                <div class="keyFeatures" *ngFor="let highlightChild of item?.subHeading2?.innerArray">
                                    <div class="heading4">{{highlightChild?.title}}</div>
                                    <ul>
                                        <li *ngFor="let subChild of highlightChild?.innersubArray">
                                            <figure>
                                                <img [src]="highlightChild?.imageurl" alt="" />
                                            </figure>
                                            <span>{{subChild}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="projectYou" *ngIf="item?.subHeading2?.dispalystatus">
                    <div class="container">
                        <div class="projectsCreate" *ngIf="item?.subHeading1?.dispalystatus">
                            <div class="heading4">{{item?.subHeading1?.title}}</div>
                            <p>{{item?.subHeading1?.description}}</p>
                            <ul>
                                <li *ngFor="let projectChild of item?.subHeading1?.innerArray">
                                    <div class="left">
                                        <figure>
                                            <img [src]="projectChild?.imageurl" alt="" />
                                        </figure>
                                    </div>
                                    <div class="right">
                                        <div class="heading6">{{projectChild?.title}}</div>
                                        <p>{{projectChild?.description}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="projectFace" *ngIf="item?.subHeading3?.dispalystatus" [ngStyle]="{'background-image': 'url(' + item?.subHeading3?.bgurl + ')'}">
                    <div class="container">
                        <div class="left">
                            <div class="heading4">{{item?.subHeading3?.title}}</div>
                            <p>{{item?.subHeading3?.description}}</p>
                        </div>
                        <div class="right">
                            <figure>
                                <img [src]="item?.subHeading3?.imageurl" alt="" />
                            </figure>
                        </div>
                    </div>
                </section>
            </ng-container>
            <!-- Curriculam -->
            <ng-container *ngIf="item?.sectionId == 3 && item?.dispalystatus">
                <section class="curriculam" [id]="item.sectionId" #3>
                    <div class="container">
                        <div class="commonHeadingStyle">{{item?.title}}</div>
                        <div class="curriculamWrapper">
                            <div class="left">
                                <p>{{item?.description}}</p>
                                <div class="accordionPanel"*ngFor="let curriculamTopics of item?.innerArray;first as isFirst">
                                    <mat-accordion>
                                            <mat-expansion-panel [expanded]="isFirst">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <div class="heading5">{{curriculamTopics?.title}}</div>
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        <div class="hours"><em class="icon-Time"></em> <span>{{curriculamTopics?.hours}}</span></div>
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div class="expansionContent">
                                                    <ul>
                                                        <li *ngFor="let curriculamTopicsInner of curriculamTopics?.innersubArray"><em></em>{{curriculamTopicsInner}}</li>
                                                    </ul>
                                                    <figure>
                                                        <img [src]="item.imageurl" alt="" />
                                                    </figure>
                                                </div>
                                            </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                            <div class="right">
                                <div class="heading4">{{item?.subHeading}}</div>
                                <div class="contactUs">
                                    <span class="phone">
                                        <em class="icon-ContactUs"></em>
                                    </span>
                                    <div>
                                        <!-- <span class="heading5">Contact us</span> -->
                                        <span class="pnNum">044 - 2252 6000</span>
                                    </div>
                                </div>
                                <div class="form">
                                    <form [formGroup]="contactForm" class="contactContent">
                                        <div class="inputContainer">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Your Name</mat-label>
                                                <input type="text" required autocomplete="false" id="contact_name" autocomplete="off" name="name" formControlName="name" matInput placeholder="Your Name">
                                            </mat-form-field>
                                            <ng-container *ngIf="name.invalid && name.touched">
                                            <mat-error *ngIf="name.errors?.required" class="error">{{'Name is required'}}</mat-error>
                                        </ng-container>
                                        </div>
                                        <div class="inputContainer">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Email Address</mat-label>
                                                <input type="text" required autocomplete="false" id="contact_email" autocomplete="off" name="email" formControlName="email" matInput placeholder="Email Address">
                                            </mat-form-field>
                                            <ng-container *ngIf="email.invalid && email.touched">
                                            <mat-error class="error" *ngIf="email.errors?.email">{{'Please enter a valid email address'}}</mat-error>
                                            <mat-error *ngIf="email.errors?.required" class="error">{{'Email is required'}}</mat-error>
                                        </ng-container>
                                        </div>
                                        <div class="inputContainer">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Phone</mat-label>
                                                <input type="text" required autocomplete="false" id="contact_phone" autocomplete="off" name="phone" formControlName="phone" matInput placeholder="Phone">
                                            </mat-form-field>
                                            <ng-container *ngIf="phone.invalid && phone.touched">
                                            <mat-error *ngIf="phone.errors?.required" class="error">{{'Phone numer is required'}}</mat-error>
                                        </ng-container>
                                        </div>
                                        <div class="inputContainer">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Comment</mat-label>
                                                <textarea type="text" autocomplete="false" id="contact_phone" autocomplete="off" name="comment" formControlName="comment" matInput matInput ></textarea>
                                            </mat-form-field>
                                        </div>
                                        <button  id="contact_btn" class="requestBtn" mat-stroked-button (click)="requestQuery('academicCouncillor')">Request Callback</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Request Broucher -->
                <!-- <section class="reqBroucher" [ngStyle]="{'background-image': 'url(https://lmsassetspremium.lntedutech.com/portalicons/reqbg.webp)'}" *ngIf="item?.subHeading0?.dispalystatus"> -->
                <section class="reqBroucher" *ngIf="item?.subHeading0?.dispalystatus">
                    <div class="container">
                        <span class="heading">{{item?.subHeading0?.title}}</span>
                        <div class="heading6">{{item?.subHeading0?.description}}</div>
                        <button (click)="openRequest()"><img [src]="item?.subHeading0?.broucherurl" alt="" /> Request Brochure</button>
                    </div>
                </section>
                <!-- Real Time Projects -->
                <section class="realTimeProjects" *ngIf="item?.subHeading1?.dispalystatus">
                    <div class="container">
                        <div class="heading4">{{item?.subHeading1?.title}}</div>
                        <div class="heading6">{{item?.subHeading1?.description}}</div>
                        <div class="realTimeWrapper" *ngIf ="item?.subHeading1?.dispalystatus">
                            <div class="commonStyle" *ngFor="let realTimeProjectsDetails of item?.subHeading1?.innerArray">
                                <figure>
                                    <img [src]="realTimeProjectsDetails.imageurl" alt="" />
                                </figure>
                                <div class="heading5">{{realTimeProjectsDetails?.title}}</div>
                                <p>{{realTimeProjectsDetails?.description}}</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- duration -->
                <section class="duration" *ngIf="item?.subHeading2?.dispalystatus" [ngStyle]="{'background-image': 'url(' + item?.subHeading2?.imageurl + ')'}">
                    <div class="container">
                        <ul>
                            <li *ngFor="let duration of item?.subHeading2?.innerArray">
                                <div class="count">{{duration?.title}}<span>{{duration?.quantifier}}</span></div>
                                <div class="description">{{duration?.description}}</div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- morehelp -->
                <section class="morehelp" *ngIf="item?.subHeading3?.dispalystatus" [ngStyle]="{'background-image': 'url(' + item?.subHeading3?.bgurl + ')'}">
                    <div class="container">
                        <div class="left">
                            <div class="heading4">{{item?.subHeading3?.title}}</div>
                            <div class="heading6">{{item?.subHeading3?.description}}</div>
                            <div class="contact">
                                <div class="contact-content" *ngFor="let contact of item?.subHeading3?.innerArray">
                                    <div class="icon">
                                        <img [src]="contact?.imageurl" alt="" />
                                    </div>
                                    <div class="rightSec">
                                        <div class="contact-label">{{contact?.title}}</div>
                                        <div class="contact-desc">{{contact?.description}}</div>
                                    </div>
                                </div>
                            </div>
                            <button class="reqCallBack" (click)="openRequest()">Request Call Back</button>
                        </div>
                        <div class="right">
                            <figure>
                                <img [src]="item?.subHeading3?.imageurl" alt="">
                            </figure>
                        </div>
                    </div>
                </section>
            </ng-container>
            <!-- Expert Support System -->
            <ng-container *ngIf="item?.sectionId == 4 && item?.dispalystatus">
                <section class="expertSupportTab" [id]="item.sectionId" #4 [ngStyle]="{'background-image': 'url(https://lmsassetspremium.lntedutech.com/portalicons/expertbg.webp)'}">
                    <div class="container">
                        <div class="commonHeadingStyle">{{item?.title}}</div>
                        <mat-tab-group class="expertSupportSystem">
                            <mat-tab *ngFor="let childItem of item?.innerArray">
                                <ng-template mat-tab-label>{{childItem?.title}}</ng-template>
                                <ng-template matTabContent>
                                    <ng-container *ngIf="childItem?.subSectionID == 1">
                                        <div class="instructorsTab content">
                                            <owl-carousel-o [options]="TopicsOptions">
                                                <ng-template *ngFor="let instructorsArray of childItem?.innersubArray" carouselSlide>
                                                        <div class="profile">
                                                            <div class="image">
                                                                <figure>
                                                                    <img [src]="instructorsArray.imageurl" alt="" />
                                                                </figure>
                                                            </div>
                                                            <div class="imageContent">
                                                                <span class="heading5">{{instructorsArray?.name}}</span>
                                                                <span class="desc">{{instructorsArray?.designation}}</span>
                                                                <p>{{instructorsArray?.description}}</p>
                                                            </div>
                                                        </div>
                                                </ng-template>
                                            </owl-carousel-o>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="childItem?.subSectionID == 2">
                                        <div class="expertTab content">
                                            <owl-carousel-o [options]="expertOptions" class="expertList">
                                                <ng-container *ngFor="let expertTab of childItem?.innersubArray">
                                                    <ng-template carouselSlide>
                                                        <figure>
                                                            <img [src]="expertTab?.imageurl" alt="" />
                                                        </figure>
                                                        <div class="expert">
                                                            <div>
                                                                <span class="heading5">{{expertTab?.name}}</span>
                                                                <span class="designation">{{expertTab?.designation}}</span>
                                                                <p>{{expertTab?.description}}</p>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ng-container>
                                            </owl-carousel-o>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="childItem?.subSectionID == 3">
                                        <div class="careerSupport content">
                                            <div class="left">
                                                <div class="heading6">
                                                    {{childItem?.description}}
                                                </div>
                                                <ul>
                                                    <li *ngFor="let careerSupport of childItem?.innersubArray"><em class="icon-CheckMark"></em> {{careerSupport}}</li>
                                                </ul>
                                            </div>
                                            <div class="right">
                                                <figure>
                                                    <img [src]="childItem?.imageurl" alt="" />
                                                </figure>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="childItem?.subSectionID == 4">
                                        <div class="studentSuccess content">
                                            <div class="left">
                                                <figure>
                                                    <img [src]="childItem?.imageurl" alt="" />
                                                </figure>
                                            </div>
                                            <div class="right">
                                                <div class="heading6">
                                                    {{childItem?.description}}
                                                </div>
                                                <ul>
                                                    <li *ngFor="let studentSuccess of childItem?.innersubArray"><em class="icon-CheckMark"></em> {{studentSuccess}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="childItem?.subSectionID == 5">
                                        <div class="careerSupport content">
                                            <div class="left">
                                                <div class="heading6">
                                                    {{childItem?.description}}
                                                </div>
                                                <ul>
                                                    <li *ngFor="let careerSupport of childItem?.innersubArray"><em class="icon-CheckMark"></em> {{careerSupport}}</li>
                                                </ul>
                                            </div>
                                            <div class="right">
                                                <figure>
                                                    <img [src]="childItem?.imageurl" alt="" />
                                                </figure>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-template>
                            
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </section>
            </ng-container>          
            <!-- Carrer Path -->
            <ng-container *ngIf="item?.sectionId == 5 && item?.dispalystatus">
                <section class="careerPath" [id]="item.sectionId" #5>
                    <div class="container">
                        <div class="commonHeadingStyle">{{item?.title}}</div>
                        <div class="careerPathWrapper">
                            <div class="path" *ngFor="let carerChild of item?.innerArray">
                                <figure>
                                    <img [src]="carerChild?.imageurl" alt="" />
                                </figure>
                                <span class="heading">{{carerChild?.title}}
                                    <em class="icon-RightArrow"></em>
                                </span>
                                <p>{{carerChild?.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="ocean">
                        <div class="wave" [ngStyle]="{'background-image': 'url(' + item?.imageurl + ')'}"></div>
                        <div class="wave" [ngStyle]="{'background-image': 'url(' + item?.imageurl2 + ')'}"></div>
                    </div>
                </section>
                <section class="industryStep" *ngIf="item?.subHeading1?.dispalystatus">
                    <div class="bg"></div>
                    <div class="wrapper">
                        <div class="container">
                            <div class="left">
                                <div class="heading4">{{item?.subHeading1?.title}}</div>
                                <p>{{item?.subHeading1?.description}}</p>
                            </div>
                            <figure>
                                <img [src]="item?.subHeading1?.imageurl" alt="" />
                            </figure>
                        </div>
                    </div>
                </section>
            </ng-container>
            <!-- Programming Language -->
            <ng-container *ngIf="item?.sectionId == 6 && item?.dispalystatus">
                <section class="programmingLanguages" [id]="item.sectionId" #6>
                    <div class="container">
                        <div class="commonHeadingStyle">{{item?.title}}</div>
                        <!-- <div class="subjectsOpportunities">
                            <div class="topSubjects commonStyle" *ngFor="let opportunitiesDetails of courseData?.courseContents?.topsubjects_opportunities">
                                <figure>
                                    <img [src]="opportunitiesDetails.image" alt="" />
                                </figure>
                                <div class="headding">{{opportunitiesDetails?.title}}</div>
                                <ul>
                                    <li *ngFor="let opportunitiesBenefits of opportunitiesDetails.benefits">
                                        <img src="https://lmsassetspremium.lntedutech.com/portalicons/blue-tick.webp" alt="" />
                                    {{opportunitiesBenefits?.content}}</li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="toolsCovered">
                            <div class="tools">
                                <figure *ngFor="let prgmLangNdToolsCoveredDetails of item?.innerArray">
                                    <img [src]="prgmLangNdToolsCoveredDetails" alt="" />
                                </figure>
                            </div>
                            <p>{{item?.description}}</p>
                        </div>
                    </div>
                </section>
            </ng-container>
            <!-- enrollNow -->
            <ng-container *ngIf="item?.sectionId == 9 && item?.dispalystatus">
                <!-- <section class="enrollNow" [ngStyle]="{'background-image': 'url(' + item?.bgurl + ')'}"> -->
                <section class="enrollNow">
                    <div class="container">
                        <div class="enrollNowWrapper">
                            <div class="left">
                                <div class="heading">{{item?.title}}</div>
                                <p>{{item?.description}}</p>
                                <div>
                                    <button class="enrollNowBtn" (click)="courseBuy()">Add to Cart</button>
                                    <button class="reqCallBack" (click)="openRequest()">Request Call Back</button>
                                </div>
                            </div>
                            <div class="right">
                                <figure>
                                    <img [src]="item?.imageurl" alt="" />
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>
            </ng-container>
            <!-- testimonial -->
            <ng-container *ngIf="item?.sectionId == 7 && item?.dispalystatus">
               <div [id]="item?.sectionId" #7>
                    <app-testimonial [testimonal]="item"></app-testimonial>
               </div>
            </ng-container>

            <!-- FAQ -->
            <ng-container *ngIf="item?.sectionId == 8 && item?.dispalystatus">
                <section class="faq" [id]="item.sectionId" #8 [ngStyle]="{'background-image': 'url(' + item?.imageurl + ')'}">
                    <div class="container">
                        <div class="commonHeadingStyle">{{item?.title}}</div>
                        <div class="faqAccordionPanel">
                            <mat-accordion [multi]="false">
                                <ng-container *ngFor="let faqTopics of item?.innerArray">
                                <mat-expansion-panel [expanded]="false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <div class="heading5">{{faqTopics?.question}}</div>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="expansionContent">
                                        <p>{{faqTopics?.answer}}</p>
                                    </div>
                                </mat-expansion-panel>                                 
                            </ng-container>
                            </mat-accordion>
                        </div>
                    </div>
                </section>
            </ng-container>
            
            <!-- Related items -->
            <ng-container *ngIf="item?.sectionId == 10">
                <app-relateditems [relateditem]="item"></app-relateditems>
            </ng-container>
            <!-- hiringPartnres -->
            <ng-container *ngIf="item?.sectionId == 11 && item.dispalystatus">
                <app-partners-list class="app-Partners" [OurPartners]="item"></app-partners-list>
            </ng-container>
        </ng-container>
    </div>

    <div *ngIf="nocard && !defaultDiv" class="noDataFound">
        <figure>
            <img src="https://lmsassetspremium.lntedutech.com/portalicons/no-categories.webp" alt="" />
        </figure>
        <div class="heading3">no courses found</div>
    </div>
    
    <div *ngIf="defaultDiv">
    </div>


<ng-template #kycmandate >
    <app-kyc-mandate></app-kyc-mandate>
  </ng-template>

  <ng-template #enroll>
    <span class="closeBtn" mat-dialog-close><em class="icon-Close"></em></span>
    <div class="queryContainer">
    <div class="header">Get In Touch</div>
    <div class="title">Raise your query</div>
    <div class="form">
        <form [formGroup]="queryForm" class="contactContent">
            <div class="queryRow">
                <div class="inputContainer">
                    <mat-form-field appearance="outline">
                        <mat-label>Your Name</mat-label>
                        <input type="text" required autocomplete="false" id="contact_name" autocomplete="off" name="name" formControlName="name" matInput placeholder="Your Name">
                    </mat-form-field>
                    <ng-container *ngIf="queryname.invalid && queryname.touched">
                    <mat-error *ngIf="queryname.errors?.required" class="error">{{'Name is required'}}</mat-error>
                </ng-container>
                </div>
                <div class="inputContainer">
                    <mat-form-field appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input type="text" required autocomplete="false" id="contact_email" autocomplete="off" name="email" formControlName="email" matInput placeholder="Email Address">
                    </mat-form-field>
                    <ng-container *ngIf="queryemail.invalid && queryemail.touched">
                    <mat-error class="error" *ngIf="queryemail.errors?.email">{{'Please enter a valid email address'}}</mat-error>
                    <mat-error *ngIf="queryemail.errors?.required" class="error">{{'Email is required'}}</mat-error>
                </ng-container>
                </div>
            </div>
            <div class="queryRow">
                <div class="inputContainer">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input type="text" required autocomplete="false" id="contact_phone" autocomplete="off" name="phone" formControlName="phone" matInput placeholder="Phone">
                    </mat-form-field>
                    <ng-container *ngIf="queryphone.invalid && queryphone.touched">
                    <mat-error *ngIf="queryphone.errors?.required" class="error">{{'Phone numer is required'}}</mat-error>
                </ng-container>
                </div>
                <div class="inputContainer">
                    <mat-form-field appearance="outline">
                        <mat-label>Subject</mat-label>
                        <input type="text" required autocomplete="false" id="subject" autocomplete="off" name="subject" formControlName="subject" matInput placeholder="Subject">
                    </mat-form-field>
                    <ng-container *ngIf="querysubject.invalid && querysubject.touched">
                        <mat-error *ngIf="querysubject.errors?.required" class="error">{{'Subject is required'}}</mat-error>
                    </ng-container>
                </div>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Message</mat-label>
                    <textarea type="text" rows="4" autocomplete="false" id="message" autocomplete="off" name="message" formControlName="message" matInput matInput ></textarea>
                </mat-form-field>
            </div>
            <!-- <button  id="contact_btn" class="requestBtn" mat-stroked-button (click)="requestQuery('careerCouncillor')">Send Now</button> -->
            <button  id="contact_btn"  (click)="requestQuery('careerCouncillor')">Send Now</button>
        </form>
    </div>
</div>
</ng-template>