@import "variables";
@import "keyframes";

.purchaseSection {
    background-color: #e8e8e8;
    // padding: 1.75em 0 0 0;
    font-size: 13px;
    position: relative;
    @include lg {
        font-size: 14px;
    }
    @include xl {
        font-size: 16px;
    }
    p {
        font-size: 0.75em;
        font-weight: 400;
        color: $darkMediumGrey;
        line-height: 1.3;
        margin: 0;
    }
}
.cartSection {
    .itemsHeading {
        text-transform: uppercase;
        font-family: "OpenSans", sans-serif;
        font-size: 1.25em;
        font-weight: 600;
        color: $darkGrey;
        line-height: 1.3;
        display: block;
        margin: 2em 0 1em 0;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 1em;
        @include sm {
            margin-top: 0;
        }
    }
}
.leftContent {
    width: 100%;
    @include md {
        width: 68%;
    }
    @include lg {
        width: 70%;
    }
}
.offer {
    border-radius: 5px;
    border: 1px solid $greyColor;
    padding: 1em;
    margin-bottom: 2em;
    .availableOffers {
        font-size: 0.937em;
        font-weight: 700;
        color: $blackColor;
    }
    em {
        color: $mediumGrey;
    }
    ul {
        &.limitTextHeight {
            max-height: 13px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            @include lg {
                max-height: 20px;
            }
        }
        margin-top: 0.25em;
        li {
            font-size: 0.875em;
            font-weight: 400;
            color: $mediumGrey;
            line-height: 1.4;
        }
    }
    .showText {
        font-size: 0.687em;
        font-weight: 400;
        color: $lightGrey;
        display: block;
        margin-top: 0.25em;
        cursor: pointer;
        line-height: normal;
    }
}
.itemsinCart {
    // margin-top: 2em;
    > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid rgba(112, 112, 112, 0.25);
        padding: 0.75em;
        background-color: $whiteColor;
        border-radius: 10px;
        margin-bottom: 1.75em;
        &:last-child {
            margin-bottom: 0;
        }
        figure {
            display: flex;
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            @include sm {
                width: 24%;
            }
            img {
                object-fit: cover;
                height: 150px;
                width: 100%;
                @include md {
                    height: 130px;
                }
                @include xl {
                    height: 150px;
                }
            }
        }
        .cartContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // border-bottom: 1px solid $greyColor;
            @include sm {
                width: 74%;
            }
            .wrapper {
                // flex: 1;
            }
        }
        .levelAssessment, .headingPrice {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-end;
            width: 100%;
        }
        .soldby {
            margin-top: 0.5em;
        }
        .competencyName {
            font-size: 0.75em;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 1em;
            em {
                font-size: 0.75em;
                margin-right: 0.25em;
            }
        }
        .headingPrice {
            align-items: flex-start;
            .heading5 {
                font-family: "OpenSans", sans-serif;
                width: 78%;
                color: $darkGrey;
                font-weight: 600;
                line-height: 1.3;
                span {
                    font-size: 0.75em;
                }
            }
            .value {
                font-family: "OpenSans", sans-serif;
                font-size: 1.25em;
                font-weight: 800;
                color: $shadeBlueColor;
                width: 20%;
                text-align: right;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                align-self: center;
                em {
                    color: $shadeBlueColor;
                    font-weight: bold;
                    font-size: 0.65em;
                    margin-right: 0.35em;
                }
            }
        }
        .test {
            margin-top: 0.75em;
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include lg {
                width: 80%;
            }
            > div {
                width: 50%;
                @include sm {
                    width: 40%;
                }
                @include xl {
                    width: 30%;
                }
            }
            .heading, .assessmentHour {
                font-size: 0.75em;
                display: block;
                line-height: normal;
            }
            .heading {
                font-family: "OpenSans", sans-serif;
                font-weight: 700;
                color: $mediumGrey;
                margin-bottom: 0.25em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .assessmentHour {
                span {
                    color: $lightGrey;
                    display: inline-block;
                    border-right: 1px solid #C02222;
                    padding-right: 0.5em;
                    margin-right: 0.5em;
                    &:last-child {
                        padding-right: 0;
                        margin-right: 0;
                        border-right: 0;
                    }
                    em {
                        color: $secondaryColor;
                        margin-right: 0.15em;
                        font-size: 0.85em;
                    }
                }
            }
        }
        .ratingSkills {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            @include lg {
                width: 65%;
            }
            .commonStyle {
                font-size: 0.75em;
                font-weight: 400;
                line-height: 1.2;
            }
            .commonStyle {
                color: $lightGrey;
            }
            .iconwithText {
                color: $darkGrey;
                font-weight: 700;
                font-size: 0.75em;
                line-height: normal;
                display: flex;
                align-items: center;
                em {
                    color: #EBC71A;
                    margin-right: 2px;
                }
                &.assessmentIcon {
                    em {
                        color: $primaryColor;
                    }
                }
            }
            .commonStyle {
                display: block;
                margin-bottom: 0.2em;
            }
            .popoverInfoFinal {
                position: relative;
                .info {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: #FF5722;
                    color: $whiteColor;
                    border-radius: 20px;
                    width: 17px;
                    height: 17px;
                    font-style: italic; 
                    font-weight: 900;
                    font-family: 'icomoon';
                    font-size: 1.25em;
                    margin-left: 0.5em;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
                }
                .popoverContainer {
                    position: absolute;
                    width: 150px;
                    left: -62px;
                    bottom: 25px;
                    z-index: 2;
                    background-color: #F9F9F9;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
                    border-radius: 10px;
                    display: none;
                    padding: 12px;
                    font-size: 13px;
                    @include lg {
                        font-size: 14px;
                    }
                    @include xl {
                        font-size: 16px;
                    }
                    &::before {
                        content: '';
                        border-top: 10px solid #F9F9F9;
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                        box-shadow: 0 3px 36px rgba(0, 0, 0, 0.26);
                        bottom: -7px;
                        display: block;
                        left: 50%;
                        margin-left: -7px;
                        position: absolute;
                    }
                    .popTitle, .subpopTitle {
                        line-height: normal;
                        color: $blueColor;
                    }
                    .popTitle {
                        font-size: 0.75em;
                        font-weight: 700;
                    }
                    .subpopTitle {
                        font-size: 0.6375em;
                        font-weight: 400;
                        margin-top: 0.35em;
                    }
                    .common {
                        margin-top: 0.65em;
                        .popheading {
                            font-size: 0.6em;
                            font-weight: 400;
                            color: $lightGrey;
                            line-height: normal;
                        }
                        .desc {
                            font-size: 0.6375em;
                            font-weight: 700;
                            color: $secondaryColor;
                            line-height: normal;
                        }
                    }
                }
                &:hover {
                    .popoverContainer {
                        display: block;
                        -webkit-animation: fadeIn .3s linear 1, moveUp .3s linear 1;
                        animation: fadeIn .3s linear 1, moveUp .3s linear 1;
                    }
                }
                // em {
                //   color: #626262;
                //   font-size: 13px;
                //   font-weight: 500;
                // }
            }
        }
        .deleteWishList {
            width: 100%;
            margin-top: 0.5em;
            @include lg {
                width: 20%;
                margin-top: 0;
                text-align: right;
            }
            @include xl {
                // width: 33%;
            }
            button {
                background-color: transparent;
                border: none;
                font-family: "OpenSans", sans-serif;
                font-size: 0.9375em;
                font-weight: 400;
                color: $mediumGrey;
                margin-right: 1em;
                padding: 0;
                line-height: normal;
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: $shadeBlueColor;
                }
                @include lg {
                    margin-left: 1em;
                    margin-right: 0;
                }
                em {
                    margin-right: 0.25em;
                    color: $shadeBlueColor;
                }
            }
        }
    }
}
.rightContent {
    width: 100%;
    @include md {
        width: 30%;
    }
    @include lg {
        width: 27%;
    }
    .rightContentWrapper {
        background-color: #F0F0F0;
        padding: 1em;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 1em;
        @include md {
            margin-top: 0;
        }
    }
    .heading6 {
        text-transform: uppercase;
        display: block;
    }
    .tag, .priceDetails > div, .totalAmount > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tag {
        border-bottom: 1px solid $lightGrey;
        border-bottom-style: dashed;
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
        p {
            margin: 0;
        }
        button {
            @include buttonOutlined;
            background-color: $whiteColor;
            color: $blackColor;
            padding-right: 1.5em;
            padding-left: 1.5em;
            font-size: 0.9375em;
        }
    }
    .priceDetails {
        border-bottom: 1px solid $lightGrey;
        border-bottom-style: dashed;
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
        > div {
            margin-top: 1em;
            &.couponDiscount {
                span {
                    &:last-child {
                        color: $primaryColor;
                        font-weight: 400;
                    }
                }
            }
            span {
                font-size: 0.9375em;
                line-height: 1.3;
                color: $mediumGrey;
                em {
                    font-weight: bold;
                    font-size: 0.75em;
                }
                &:first-child {
                    font-weight: 400;
                }
                &:last-child {
                    font-weight: 700;
                }
            }
        }
    }
    .totalAmount {
        span {
            color: $blackColor;
            font-weight: 700;
            &:last-child {
                font-size: 1.625em;
                em {
                    font-size: 0.75em;
                    font-weight: 700;
                    color: $mediumGrey;
                }
            }
        }
        .heading6 {
            text-transform: capitalize;
        }
        .checkout {
            @include buttonFilled;
            width: 100%;
            margin: 2em 0 1em 0;
            font-size: 1.125em;
        }
    }
}

.secure {
    position: absolute;
    width: 100%;
    right: 0;
    top: 21px;
    display: none;
    @include md {
        display: block;
    }
    > div {
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            figure {
                margin-right: 0.5em;
            }
            span {
                text-transform: uppercase;
                color: $blackColor;
                font-size: 1.125em;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

// //
::ng-deep.purchaseSection {
    // .mat-horizontal-stepper-header{
    //     pointer-events: none !important;
    // }
    .mat-stepper-horizontal {
        background-color: #e8e8e8;
    }
    .mat-step-label {
        min-width: auto;
    }
    .mat-step-header {
        &:hover {
            background-color: transparent;
        }
    }
    .mat-stepper-horizontal-line {
        border-top-style: dashed;
    }
    .mat-step-header .mat-step-label.mat-step-label-active {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.06em;
        color: $blackColor;
    }
    .mat-horizontal-stepper-header {
        height: 42px;
        padding: 15px 24px 10px 24px;
        &[aria-selected="true"] {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 2px;
                background-image: linear-gradient(to right, #00bcef, #00c0db, #00c1b6, #00be83, #4eb749);
            }
            // border-bottom: 3px solid $primaryColor;
        }
        &[aria-selected="false"] {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 2px;
                background-image: none;
            }
            // border-bottom: 2px solid transparent;
        }
        .mat-step-icon {
            display: none;
        }
    }
    .mat-horizontal-stepper-header-container {
        max-width: 400px;
        width: 96%;
        margin: 0 auto;
    }
    .mat-horizontal-content-container {
        background-color: $whiteColor;
        padding:  0 15px 15px 15px;
        @include lg {
            padding:  0 24px 24px 24px;
        }
    }
    .mat-horizontal-stepper-content {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }
}


//Empty Cart Starts
.emptyCart {
    text-align: center;
    .container {
        margin-top: 1.5em;
    }
    figure {
        img {
            width: 25%;
        }
    }
    .heading3 {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0.65em 0 0.25em 0;
    }
    p {
        color: $mediumGrey;
        font-size: 0.93em;
        line-height: 1.4;
    }
    button {
        @include buttonFilled;
        font-size: 1.25em;
        font-weight: 400;
        padding-left: 3em;
        padding-right: 3em;
        line-height: 1.5;
    }
}
::ng-deep.popover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border: none;
    .arrow {
      bottom: 32%;
      transform: translateY(0%);
    }
    .popover-body {
      .popoverContainer {
        min-width: 210px;
        padding: 0.2em;
        .popTitle {
            font-size: 0.75em;
            font-weight: 700;
            color: $secondaryColor;
        }
        .subpopTitle{
            font-size: 0.625em;
            font-weight: 400;
            color: $secondaryColor;
        }
        .popheading{
            color: $darkGrey;
            font-size: 0.5em;
            font-weight: 400;
        }
        .desc{
            color: $primaryColor;
            font-size: 0.5em;
            font-weight: 400;
        }
      }
    }
  }
//Empty Cart Ends

