<section class="purchaseSection">
    <div class="secure">
        <div class="container">
            <div class="wrapper">
                <figure>
                    <img src="https://lmsassetspremium.lntedutech.com/portalicons/secure.webp" alt="" />
                </figure>
                <span>100% Secure</span>
            </div>
        </div>
    </div>
    <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Cart</ng-template>
            <div *ngIf="cartList.length > 0" class="cartSection">
                <span class="itemsHeading">{{cartList.length}} <span *ngIf="cartList.length <= 1">item</span><span *ngIf="cartList.length > 1">items</span> in cart</span>
                <div class="wrapper">
                    <div class="leftContent">
                        <!-- <div class="offer">
                            <span class="availableOffers"><em class="icon-Offer"></em> Available Offers</span>
                            <ul [ngClass]="{'limitTextHeight': isReadMore}">
                                <li>10% Unlimited Cashback on Axis Bank Credit Card. TCA</li>
                                <li>20% Unlimited Cashback on Axis Bank Credit Card. TCA</li>
                                <li>30% Unlimited Cashback on Axis Bank Credit Card. TCA</li>
                                <li>40% Unlimited Cashback on Axis Bank Credit Card. TCA</li>
                            </ul>
                            <span class="showText" (click)="showText()"> {{ isReadMore ? 'Show More': 'Show Less' }} </span>
                        </div> -->
                        <div class="itemsinCart">
                            <ng-container *ngFor="let cart of cartList">
                                <div>
                                    <figure>
                                        <img [src]="cart?.assessmentDetails?.image?.url" alt="" />
                                    </figure>
                                    <div class="cartContent">
                                        <div class="wrapper">
                                            <span [ngStyle]="{'color':cart.productType !='course' ? '#27BBEE': '#20B19A'}" class="competencyName">
                                                <em class="icon-Right_Play"></em> {{cart?.competencyDetails?.name}}
                                            </span>
                                            <div class="headingPrice">
                                                <div class="heading5">
                                                    {{cart.assessmentDetails.name}} 
                                                    <!-- <span *ngIf="cart.productType !='course'">{{cart?.competencyDetails?.levelName}}</span> -->
                                                </div>
                                                <div class="value"><em class="icon-Rupee"></em>{{cart.assessmentDetails.is_free?"Free":cart.assessmentDetails.sellingPrice}}</div>
                                            </div>
                                            <div class="soldby">
                                                <p>Sold by : L&T Edutech</p>
                                            </div>
                                        </div>
                                        <div class="levelAssessment">
                                            <ng-container *ngIf="cart.productType =='course'">
                                                <!-- <popover-content #finalPopover placement="right" [animation]="true" popoverSize="large">
                                                    <div class="popoverContainer">
                                                        <div class="popTitle">JFSD-Batch 01</div>
                                                        <div class="subpopTitle">Weekday batch / morning</div>
                                                        <div class="popheading">Batch duration</div>
                                                        <span class="desc">15 Feb, 2022</span>
                                                        <div class="popheading">Instructor session timings</div>
                                                        <span class="desc">11:00 am</span>
                                                        <div class="popheading">Total duration</div>
                                                        <span class="desc">4.5 Months</span>
                                                    </div>
                                                </popover-content> -->
                                                <div class="ratingSkills">
                                                    <div>
                                                        <span class="commonStyle">No. of Modules</span>
                                                        <span class="iconwithText"><em class="icon-Document"></em> {{'8+'}}</span>
                                                    </div>
                                                    <div *ngIf="batchInfo">
                                                        <span class="commonStyle">Batch details</span>
                                                        <span class="iconwithText">{{batchInfo?.batchName}}
                                                             <div class="popoverInfoFinal">
                                                                <span class="info">i</span>
                                                                <div class="popoverContainer">
                                                                    <div>
                                                                        <div class="popTitle">{{batchInfo?.batchName}}</div>
                                                                        <div class="subpopTitle">{{batchInfo?.batchDesc}}</div>
                                                                    </div>
                                                                    <div class="common">
                                                                        <div class="popheading">Batch duration</div>
                                                                        <div class="desc">{{batchInfo?.batchStartDate | date:'dd MMM, y'}} - {{batchInfo?.batchStartDate | date:'dd MMM, y'}}</div>
                                                                    </div>
                                                                    <div class="common">
                                                                        <div class="popheading">Instructor session timings</div>
                                                                        <div class="desc">{{batchInfo?.instructorSessionTiming}}</div>
                                                                    </div>
                                                                    <div class="common">
                                                                        <div class="popheading">Total duration</div>
                                                                        <div class="desc">{{batchInfo?.duration}}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </div>

                                                   <div>
                                                        <span class="commonStyle">Duration</span>
                                                        <span class="iconwithText"><em class="icon-Booked"></em> {{'4.5 months'}}</span>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <div class="test" *ngIf="cart.productType !='course'">
                                                <ng-container *ngFor="let test of cart.assessmentDetails.testTypes">
                                                    <div>
                                                        <span class="heading">{{test.testName}}</span>
                                                        <span class="assessmentHour">
                                                            <span><em class="icon-Time"></em> {{test.sumtotalhour}} hr</span>
                                                            <!-- <span>|</span> -->
                                                            <span><em class="icon-Layers"></em> {{test.totalQuestion}} qn</span>
                                                        </span>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="deleteWishList">
                                                <button (click)="removeAssessment(cart.cartId)"><em class="icon-Delete"></em> Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="rightContent">
                        <div class="rightContentWrapper">
                            <app-Checkout [tab]='stepper' [checkoutData]='cartList'></app-Checkout>
                        </div>
                    </div>
                </div>
            </div>

            <section *ngIf="cartList.length == 0" class="emptyCart">
                <div class="container">
                    <figure>
                        <img src="https://lmsassetspremium.lntedutech.com/portalicons/empty-cart.webp" alt="" />
                        <div class="heading3">HEY, IT FEELS EMPTY!</div>
                        <p>There is nothing in your cart. Let's add some items.</p>
                        <button (click)="toCatalogue()">Go to Catalogue</button>
                    </figure>
                </div>
            </section>
        </mat-step>
        <!-- #docregion label -->
        <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Address</ng-template>
            <!-- #enddocregion label -->
            <div class="cartSection">
                <div class="itemsHeading">Billing Address</div>
                <div class="wrapper">
                    <div class="leftContent">
                        <app-Address></app-Address>
                    </div>
                    <div class="rightContent">
                        <app-Checkout [tab]='1' [checkoutData]='cartList'></app-Checkout>
                    </div>
                </div>
            </div>
        </mat-step>

    </mat-horizontal-stepper>
</section>
