$imagePath : "/assets/images";
$fontPath: "/assets/fonts";

//Color Defining
//$primaryColor: #C02222;
$primaryColor: #27bbee;
$secondaryColor: #1B4E9B;
$hoversecondaryColor:#004684;
$successColor: #0CD684;
$blueColor: #004C86;
$shadeBlueColor:#1B4E9B;
$blueLabelColor: #27BBEE;
$greenColor:#53aa34;
$whiteColor: #ffffff;
$blackColor: #000000;
$blackBgColor: #192428;
$darkGrey: #222222;
$mediumGrey: #333333;
$darkMediumGrey: #444444;
$lightGrey: #666666;
$darkGrayColor: #848484;
$greyColor: #cdcdcd;
$bgColor: #E9E9E9;
$lightColor: #fafafa;
$thumbColor : #aaa;
$thumbHoverColor : #999;
$borderColor: #ececec;
$greyListColor: #E0E0E0;
$aliceBlueColor: #F9FDFF;
$whiteSmoke: #f5f5f5;
$veryLightGray: #F9F9F9;
$mostlyDarkBlue: #607D8B;

$primary-yellow: #FFCC00;
$table-border: rgba(112, 112, 112, 0.411);
$black-1: #5E5E5E;
$black-2: #4B4B4B;
$black-3: #D6D6D6;
$black-4: #5E5E5EBF;
$white:#fff;
$primary-red: #C02222;
$text-color:#757783;
//Screen Size definitions
$screen-sm-min: 576px; // Mobile Devices
$screen-md-min: 700px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin buttonCommon {
    border-radius: 1.56em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    line-height: 1.2;
}
@mixin buttonFilled {
    background: $secondaryColor;
    color: $whiteColor;
    border: 0;
    transition: background 0.3s ease-in-out;
    &:hover {
        background: $primaryColor;
    }
    @include buttonCommon;
}
@mixin buttonOutlined {
    background-color: transparent;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    @include buttonCommon;
}

@function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'
    }
    @return unquote($value);
} 

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);