<!-- <section class="bannerSection">
    <div class="owlCarouselWrapper">
        <owl-carousel-o [options]="owlCarouselOptions">
            <ng-container *ngFor = "let bannerSection of HomeBannerImage;">
                <ng-template class="imageWrapper" carouselSlide>
                    <img [src] = "bannerSection.image  + blobToken" alt="" />
                    <div class="bannerContent">
                        <div class="heading">{{bannerSection.name}}</div>
                        <p>{{bannerSection.longDescription}}</p>
                        <button>Explore <em class="icon-RightArrow"></em></button>
                    </div>
                </ng-template> 
            </ng-container>
        </owl-carousel-o>
    </div>
</section> -->

<section class="bannerCarousel">
    <!-- <div class="progression" *ngIf="showProgress">
        <span>{{profilePercentage}}% of your profile is complete</span>
        <mat-progress-bar class="progressbar" mode="determinate" [value]="profilePercentage" bufferValue ="100"></mat-progress-bar>
    </div>
    <div class="container">
        <div class="bannerWrapper">
            <div class="bannerContent">
                <button (click)="navigateCatalog()"><span>Explore Courses</span></button>
            </div>
        </div>
    </div> -->
    <owl-carousel-o [options]="owlCarouselOptions">
        <ng-container *ngFor="let item of HomeBannerImage">
            <ng-template carouselSlide>
                <!-- <div class="bannerSection" [ngStyle]="{'background-image': 'url(' + item?.image + ')'}"> -->
                <div class="bannerSection">
                    <picture>
                        <source media="(min-width: 700px)" srcset="{{item?.image}}">
                        <img [src]="item?.mobileImage" alt="">
                    </picture>
                    <!-- <div class="bannerContent">
                        <button (click)="navigateCatalog()"><span>Explore Courses</span></button>
                    </div> -->
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>