@import "variables";
@import "keyframes";

.bannerSection {
    position: relative;
    width: 100%;
    display: block;
    picture {
        img {
            height: calc(100vh - 74px);
            object-fit: cover;
            @include sm {
                height: 100%;
            }
        }
    }
    .progression {
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px 15px 8px 15px;
        background-color: $whiteColor;
        z-index: 9;
        .progressbar{
            margin-top: 8px;
            height: 12px;
            border-radius: 10px;
        }
    }
    .bannerWrapper {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding: 2.5em 0;
        @include md {
            flex-direction: row;
        }
        @include lg {
            font-size: 14px;
        }
        @include xl {
            font-size: 16px;
        }
        .imageWrapper {
            position: relative;
        }
    }
    .bannerContent {
        position: absolute;
        left: 2%;
        top: 2%;
        z-index: 1;
        width: 100%;
        .heading, p {
            font-weight: 300;
            line-height: 1.2;
        }
        .heading {
            color: $whiteColor;
            font-size: 2.125em;
            line-height: 1.1;
            font-weight: 300;
            letter-spacing: 2px;
            strong {
                display: block;
                font-size: 1.5em;
                font-weight: 700;
                color: $shadeblue1;
                margin-top: 0.25em;
                letter-spacing: initial;
            }
        }
        p {
            color: $whiteColor;
            font-size: 1.3125em;
            margin: 1em 0 1.5em 0;
        }
        button {
            background: $shadeblue1;
            border: 0;
            border-radius: 5px;
            font-size: 1.25em;
            font-weight: 400;
            color: $whiteColor;
            padding: 0.5em 1em;
            transition: background 0.3s ease-in-out;
            &:hover {
                background: $lightblue;
            }
        }
    }
}
::ng-deep .progression .mat-progress-bar-fill::after {
    background-color: $lightgreen;
}

::ng-deep .progression .mat-progress-bar-buffer {
    background: $shadedwhite;
}

  ::ng-deep.bannerCarousel {
    .owl-theme {
        .owl-dots {
            position: absolute;
            left: 41%;
            bottom: 5%;
            @include md {
              left: 50%;
            }
            .owl-dot { 
                span {
                    width: 8px;
                    height: 8px;
                    background-color: $lightGrey;
                }
                &:hover {
                    span {
                        width: 10px;
                        height: 10px;
                        background-color: $whiteColor;
                    }
                }
                &.active {
                    span {
                        width: 10px;
                        height: 10px;
                        background-color: $whiteColor;
                    }
                }
            }
        }
    }
}