<section class="batchContainer">
    <div class="container">
        <div class="batchWrapper">
            <div class="chooseBatch">
                <div class="heading4">Choose batch at your flexible timeline</div>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</span>
                <div class="wrapper">
                    <div>
                        <span class="calendar">
                            <em class="icon-CalendarBatch"></em>
                        </span>
                        <div class="heading6">JFSD-Batch 01</div>
                        <p>Weekday batch / morning</p>
                        <div class="batchDetails">
                            <div>
                                <span class="icon">
                                    <em class="icon-Time"></em>
                                </span>
                                <div class="details">
                                    <span>Batch duration</span>
                                    <p>15 Feb, 2022, 10 Jun, 2022</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Instructor"></em>
                                </span>
                                <div class="details">
                                    <span>Instructor session timings</span>
                                    <p>11:00 am - 01:00 pm</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Booked"></em>
                                </span>
                                <div class="details">
                                    <span>Total duration</span>
                                    <p>4.5 Months</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-StopWatch"></em>
                                </span>
                                <div class="details">
                                    <span>Enrolment closes on</span>
                                    <p>12 Feb, 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="selectBatch">
                            <button>Select</button>
                        </div>
                    </div>
                    <div>
                        <span class="calendar">
                            <em class="icon-CalendarBatch"></em>
                        </span>
                        <div class="heading6">JFSD-Batch 01</div>
                        <p>Weekday batch / morning</p>
                        <div class="batchDetails">
                            <div>
                                <span class="icon">
                                    <em class="icon-Time"></em>
                                </span>
                                <div class="details">
                                    <span>Batch duration</span>
                                    <p>15 Feb, 2022, 10 Jun, 2022</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Instructor"></em>
                                </span>
                                <div class="details">
                                    <span>Instructor session timings</span>
                                    <p>11:00 am - 01:00 pm</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Booked"></em>
                                </span>
                                <div class="details">
                                    <span>Total duration</span>
                                    <p>4.5 Months</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-StopWatch"></em>
                                </span>
                                <div class="details">
                                    <span>Enrolment closes on</span>
                                    <p>12 Feb, 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="selectBatch">
                            <button>Select</button>
                        </div>
                    </div>
                    <div>
                        <span class="calendar">
                            <em class="icon-CalendarBatch"></em>
                        </span>
                        <div class="heading6">JFSD-Batch 01</div>
                        <p>Weekday batch / morning</p>
                        <div class="batchDetails">
                            <div>
                                <span class="icon">
                                    <em class="icon-Time"></em>
                                </span>
                                <div class="details">
                                    <span>Batch duration</span>
                                    <p>15 Feb, 2022, 10 Jun, 2022</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Instructor"></em>
                                </span>
                                <div class="details">
                                    <span>Instructor session timings</span>
                                    <p>11:00 am - 01:00 pm</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Booked"></em>
                                </span>
                                <div class="details">
                                    <span>Total duration</span>
                                    <p>4.5 Months</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-StopWatch"></em>
                                </span>
                                <div class="details">
                                    <span>Enrolment closes on</span>
                                    <p>12 Feb, 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="selectBatch">
                            <button>Select</button>
                        </div>
                    </div>
                    <div>
                        <span class="calendar">
                            <em class="icon-CalendarBatch"></em>
                        </span>
                        <div class="heading6">JFSD-Batch 01</div>
                        <p>Weekday batch / morning</p>
                        <div class="batchDetails">
                            <div>
                                <span class="icon">
                                    <em class="icon-Time"></em>
                                </span>
                                <div class="details">
                                    <span>Batch duration</span>
                                    <p>15 Feb, 2022, 10 Jun, 2022</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Instructor"></em>
                                </span>
                                <div class="details">
                                    <span>Instructor session timings</span>
                                    <p>11:00 am - 01:00 pm</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Booked"></em>
                                </span>
                                <div class="details">
                                    <span>Total duration</span>
                                    <p>4.5 Months</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-StopWatch"></em>
                                </span>
                                <div class="details">
                                    <span>Enrolment closes on</span>
                                    <p>12 Feb, 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="selectBatch">
                            <button>Select</button>
                        </div>
                    </div>
                    <div>
                        <span class="calendar">
                            <em class="icon-CalendarBatch"></em>
                        </span>
                        <div class="heading6">JFSD-Batch 01</div>
                        <p>Weekday batch / morning</p>
                        <div class="batchDetails">
                            <div>
                                <span class="icon">
                                    <em class="icon-Time"></em>
                                </span>
                                <div class="details">
                                    <span>Batch duration</span>
                                    <p>15 Feb, 2022, 10 Jun, 2022</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Instructor"></em>
                                </span>
                                <div class="details">
                                    <span>Instructor session timings</span>
                                    <p>11:00 am - 01:00 pm</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-Booked"></em>
                                </span>
                                <div class="details">
                                    <span>Total duration</span>
                                    <p>4.5 Months</p>
                                </div>
                            </div>
                            <div>
                                <span class="icon">
                                    <em class="icon-StopWatch"></em>
                                </span>
                                <div class="details">
                                    <span>Enrolment closes on</span>
                                    <p>12 Feb, 2022</p>
                                </div>
                            </div>
                        </div>
                        <div class="selectBatch">
                            <button>Select</button>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="programHighlights">
                <div class="heading4">Program highlights</div>
                <span>Our program emphasis on building skills and enable you to be productive in your job from day one.</span>
                <div class="wrapper">
                    <div class="commonStyle">
                        <figure>
                            <img src="/assets/images/learningResource.svg" alt="" />
                        </figure>
                        <div class="right">
                            <div class="heading6">Learning Resources</div>
                            <p>Learn and acquire knowledge from High-Quality self-learning video materials available with us.</p>
                        </div>
                    </div>
                    <div class="commonStyle">
                        <figure>
                            <img src="/assets/images/instructorLed.svg" alt="" />
                        </figure>
                        <div class="right">
                            <div class="heading6">Instructor-led sessions</div>
                            <p>Live classroom sessions on Real world problem scenarios with Live Demonstration by subject experts.</p>
                        </div>
                    </div>
                    <div class="commonStyle">
                        <figure>
                            <img src="/assets/images/handsExercise.svg" alt="" />
                        </figure>
                        <div class="right">
                            <div class="heading6">Hands on Exercises</div>
                            <p>Analytical practice and problem solving activities with instructor support.</p>
                        </div>
                    </div>
                </div>
                <div class="contactUs">
                    <span class="contactIcon"><em class="icon-ContactUs"></em></span>
                    <div>
                        <span class="heading">Contact us</span>
                        <span class="phone">044 - 2252 6000</span>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- <app-partners-list class="app-Partners" [OurPartners]="hiringPartners"></app-partners-list> -->