<section class="thankyouMessage">
    <div class="container">
        <figure>
            <img src="https://lmsassetspremium.lntedutech.com/portalicons/purchase-tick.webp" alt="" />
        </figure>
        <div class="heading3">THANK YOU FOR YOUR PURCHASE!</div>
        <!-- <div class="heading5">Token number has been sent to your registered email.</div> -->
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec nunc sed purus ultricies feugiat non sit amet ligula.</p> -->

        <!-- <div class="bookSlot">
            <div>
                <div class="heading6">Your assessment has been Purchased, to proceed book an exam slot.</div>
                <p>You can select a date and time of the day convenient for you.</p>
                <p>Upon booking your time slot, you'll receive an email confirming the exam appointment that includes further instructions to take the exam.</p>
            </div>
            <div>
            </div>
        </div> -->

        <div class="orderDetails">
            <!-- <div class="positionChange">
                <span class="heading5">Order Details</span>
            </div> -->
            <div class="orders" *ngFor="let item of orderlist">
                <div class="orderCourseImage">
                    <figure>
                        <img [src]="item?.courseImage" alt="">
                    </figure>
                </div>
                <div class="courseHeading">
                    <span class="domainName"><em class="icon-Right_Play"></em>{{item?.domainName ? item.domainName : 'NA'}}</span>
                    <span class="heading6">{{item.assessmentName}}</span>
                </div>
                <div class="orderHistory">
                    <div class="orderHeading">
                        <ul>
                            <!-- <div class="commonClass"> 
                                <li>Name:</li>
                                 <span class="orderContent">{{item.assessmentName}}<br></span> 
                            </div> -->
                            <div class="commonClass">
                                <li>Order Date:</li>
                                <span class="orderContent">{{item.orderDate}}<br></span>
                            </div>
                            <div class="commonClass">
                                <li>Order ID:</li>
                                <span class="orderContent">{{item.orderNo}}</span>
                            </div>
                            <div class="commonClass">
                                <li>Payment Type:</li>
                                <span class="orderContent">{{item.payment?item.payment:"N/A"}}</span>
                            </div>
                            <div class="commonClass">
                                <li>Total price:</li>
                                <span class="orderContent">₹ {{item?.totalPrice}}</span>
                            </div>
                            <div class="commonClass">
                                <li>Delivery Option</li>
                                <span class="orderContent">{{item?.deliveryOption}}</span>
                            </div>
                            <!-- <div class="commonClass">
                                <li>Product Type</li>
                                <span class="orderContent">{{item?.productType == 'course' ? 'Course' : 'Assessment'}}</span>
                            </div> -->
                            <!-- <li>Action</li> -->
                        </ul>
                    </div>
                    <div class="navigateToLxp">
                        <!-- <div *ngIf="item?.productType == 'course'">
                            <button class="backToCourse" (click)="goToCourse(item)">Go to Course</button>
                        </div> -->
                        <div *ngIf="item?.productType !== 'course'">
                            <button (click)="openDialog(bookSlot,orderlist[0])" class="slotBooking">Book a Slot</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Book a Slot -->
<ng-template #bookSlot>
    <div class="slotContainer">
        <div class="slotImage">
            <div class="heading1">Book a Slot</div>
            <figure>
                <img src="https://lmsassetspremium.lntedutech.com/portalicons/Book-a-Slot.webp" alt="" />
            </figure>
        </div>
        <div class="slotContent">
            <div class="area">{{competencyName}}</div>
            <div class="heading4">{{assesmentName}}<span class="level">{{levelName}}</span></div>
            <!-- <span class="closeBtn" mat-dialog-close (click)="slotClose()"><em class="icon-Close"></em></span> -->
            <div class="slotSlider">
                <owl-carousel-o [options]="owlCarouselOptions">
                    <ng-template carouselSlide  *ngFor="let item of testData">
                        <div class="wrapper">
                            <div class="sliderBg">
                                <div class="sliderContent">
                                    <div class="area">Test Name</div>
                                    <div class="heading4">{{item.testTypes.testName}}</div>
                                    <div class="area status">Status: <button [ngClass]="item.testTypes.scheculeStatus?'scheduled':'notScheduled'">{{item.testTypes.scheculeStatus?'Scheduled':'Not Scheduled'}}</button></div>
                                    <div class="bookSlotDate" *ngIf="!item.testTypes.scheculeStatus">
                                        <!-- <div>
                                            <mat-form-field appearance="fill">
                                                <mat-label>DD/MM/YYYY</mat-label>
                                                <input matInput readonly [matDatepicker]="picker" [min]="minDate" [(ngModel)]="item.testTypes.bookingData.selectedDate" (dateChange)="fetchSlotbyTask($event,item.testTypes)">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker ></mat-datepicker>
                                            </mat-form-field>
                                        </div> -->
                                        <div class="info" *ngIf="!item.testTypes.bookingData.selectedDate">
                                            <span><em class="icon-Info"></em></span>
                                            <p>Please select the date to get test slot availability</p>
                                        </div>
                                        <div *ngIf="item.testTypes.bookingData.selectedDate" class="slotInfo">
                                            <div class="slots">
                                                <span class="heading">Select Slot:</span>
                                                <div >
                                                    <!-- <a  *ngFor="let slotItem of item.testTypes.slot" [class]="slotItem.isSlotExpired?'notAvailable':slotItem.slotStatus?'booked':slotItem.isSelected?'selected':'available'" (click)="slotItem.slotStatus?'':slotItem.isSlotExpired?'':selectSlot(item.testTypes,slotItem)">
                                                        {{slotItem.key}} </a> -->
                                                </div>
                                            </div>
                                            <ul>
                                                <li><span></span>Booked</li>
                                                <li><span></span>Available</li>
                                                <li><span></span>Not Available</li>
                                            </ul>
                                            <!-- <div class="book">
                                                <button [ngClass]="item.testTypes?.bookingData?.selectedSlot?'':'disable'" (click)="item.testTypes?.bookingData?.selectedSlot?submitSelectedSlot(item):''">Book</button>
                                            </div> -->
                                        </div>

                                    </div>

                                    <div *ngIf="item.testTypes.scheculeStatus" class="slotConfirmed">
                                        <span class="confirmedStatus">Confirmed</span>
                                        <div class="bookedSlotOn">{{item.testTypes.scheduleDate}}</div>
                                        <div class="timeZone">
                                            {{item.testTypes.scheduleTime}} / Duration: {{item.testTypes.sumtotalhour}}Hr(s)
                                            <span>(Asia/Calcutta, UTC+05:30)</span>
                                        </div>
                                        <div class="reschedule">
                                            <span class="pointerCur" (click)="item.testTypes.scheculeStatus=false">Reschedule</span>
                                            <span><em class="icon-Booked"></em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <!-- <ng-template carouselSlide>
                        <div class="wrapper">
                            <div class="sliderBg">
                                <div class="sliderContent">
                                    <div class="area">quiver name</div>
                                    <div class="heading4">Quantitative Aptitude</div>
                                    <div class="area status">Status: <button class="scheduled">Scheduled</button></div>
                                    <div class="bookSlotDate">
                                        <div>
                                            <mat-form-field appearance="fill">
                                                <mat-label>DD/MM/YYYY</mat-label>
                                                <input matInput [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="info">
                                            <span><em class="icon-Info"></em></span>
                                            <p>Please select the date to get test slot availability</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>-->
                    <!-- <ng-template carouselSlide>
                        <div class="wrapper">
                            <div class="sliderBg">
                                <div class="sliderContent">
                                    <div class="area">Test Name</div>
                                    <div class="heading4">Quantitative Aptitude</div>
                                    <div class="area status">Status: <button class="notScheduled">Not Scheduled</button></div>
                                    <div class="slotConfirmed">
                                        <span class="confirmedStatus">Confirmed</span>
                                        <div class="bookedSlotOn">26/05/2021</div>
                                        <div class="timeZone">
                                            11:00 AM - 12:00 PM
                                            <span>(Asia/Calcutta, UTC+05:30)</span>
                                        </div>
                                        <div class="reschedule">
                                            <span>Reschedule</span>
                                            <span><em class="icon-Booked"></em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>  -->
                </owl-carousel-o>
            </div>
            <!-- <div class="gotoAssessment">
                <span> <a  (click)="slotClose()"> I'm not sure yet</a>  <button (click)="gotoMyAsseessment()">Go to Assessment</button></span>
            </div> -->
        </div>
    </div>
    <!-- <div class="bookASlot">
        <div class="heading3" mat-dialog-title>Book a Slot</div>
        <span class="closeBtn" mat-dialog-close><em class="icon-Close"></em></span>
        <div class="slotContent">
            <div>
                <span class="slotTitle">Assessment Name</span>
                <div class="heading4">Residential building construction</div>
            </div>
            <div>
                <span class="slotTitle">Token Number</span>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Enter Token Number">
                </mat-form-field>
            </div>
            <div>
                <span class="slotTitle">Select Date</span>
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <span class="slotTitle">Select a time slot</span>
                <mat-form-field appearance="fill">
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                      <mat-option>One</mat-option>
                      <mat-option>Two</mat-option>
                      <mat-option>Three</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="bookBtn">
                <button>Book</button>
            </div>
        </div>
    </div> -->
</ng-template>
