@import "variables";

.assessmentSection {
    background-color: $whiteColor;
    padding: 0 0 3.75em 0;
    position: relative;
    font-size: 14px;
    @include md {
        font-size: 13px;
    }
    @include lg {
        font-size: 14px;
    }
    @include xl {
        font-size: 16px;
    }
    // .obstacles {
    //     position: absolute;
    //     background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/industryleater-topleft.webp');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     z-index: 1;
    //     width: 25%;
    //     height: 15%;
    //     left: -3.5em;
    //     top: 5em;
    //     @include sm {
    //         left: -6.5em;
    //     }
    //     @include md {
    //         left: -7.5em;
    //     }
    // }
    .headingSection {
        padding: 2.75em 0;
        background-color: $whiteSmoke;
        p {
            font-size: 1em;
            font-weight: 400;
            color: $darkMediumGrey;
            line-height: normal;
            margin: 0;
            text-align: center;
        }
    }
    // &::after, &::before {
    //     content: '';
    //     position: absolute;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     z-index: 1;
    // }
    // &::before {
    //     background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/industryleater-bottomrgiht.webp');
    //     width: 45%;
    //     height: 35%;
    //     left: -15em;
    //     bottom: 8em;
    //     @include lg {
    //         left: -25em;
    //     }
    //     @media only screen and (min-width: 1540px) {
    //         height: 45%;
    //         bottom: 4em;
    //     }
    // }
    // &::after {
    //     background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/industryleater-bottomleft.webp');
    //     width: 57%;
    //     height: 40%;
    //     right: 0;
    //     bottom: 6em;
    //     @include sm {
    //         width: 50%;
    //         height: 20%;
    //     }
    //     @include md {
    //         width: 70%;
    //         height: 40%;
    //         right: -10em;
    //     }
    //     @include lg {
    //         right: -20em;
        
    //     }
    //     @include xl {
    //         width: 57%;
    //         height: 40%;
    //         right: -15em;
    //     }
    //     @media only screen and (min-width: 1540px) {
    //         width: 53%;
    //         height: 52%;
    //     }
    // }
    .container {
        position: relative;
        z-index: 2;
        .search {
            display: flex;
            justify-content: flex-end;
            margin-top: 1em;
            position: relative;
            input {
                font-size: 0.825em;
                max-width: 350px;
                width: 100%;
                padding: 0.65em 2em 0.75em 0.75em;
                border: 1px solid $borderColor;
                border-radius: 5px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
                &::-webkit-input-placeholder {
                    color: $thumbHoverColor;
                }
                &::-moz-placeholder {
                    color: $thumbHoverColor;
                }
                &::-ms-input-placeholder {
                    color: $thumbHoverColor;
                }
                &::-moz-placeholder {
                    color: $thumbHoverColor;
                }
                &:hover,&:focus,&:active{
                    border: 1px solid $secondaryColor;
                }
                @include lg {
                    padding: 0.35em 2em 0.35em 0.5em;
                }
            }
            .searchKey {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                line-height: normal;
                em {
                    font-size: 14px;
                    color: $secondaryColor;
                    font-weight: bold;
                }
            }
        }
    }
}
// .mainTab {
//     width: 100%;
//     margin-top: 3em;
//     text-align: center;
//     a {
//         position: relative;
//         display: inline-block;
//         margin-right: 1em;
//         color: $mediumGrey;
//         font-size: 1.4em;
//         font-weight: 400;
//         &.active {
//             color: $darkGrey;
//             &::before {
//                 width: 100%;
//                 visibility: visible;
//             }
//         }
//         &::before {
//             content: "";
//             position: absolute;
//             width: 0;
//             height: 2px;
//             bottom: -5px;
//             left: 0;
//             background-color: $primaryColor;
//             visibility: hidden;
//             transition: all 0.3s ease-in-out;
//         }
//         &:hover {
//             color: $darkGrey;
//             &::before {
//                 visibility: visible;
//                 width: 100%;
//             }
//         }
//     }
// }
.filterSection {
    position: relative;
    width: 96%;
    margin: 0 auto;
    .parentContainer {
        vertical-align: top;
        white-space: initial;
        &:last-child {
            margin-right: 0 !important;
            .fieldItems {
                margin-right: 0;
            }
        }
    }
    .fieldItems {
        margin: 0 15px;
        width: 130px;
        @include sm {
            width: 154px;
        }
        @include md {
            width: 140px;
        }
        @include xl {
            width: 154px;
        }
    }
    .draggable-button-container {
        position: absolute;
        width: 100%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .leftArrow, .rightArrow {
            position: absolute;
            button {
                background-color: $whiteColor;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                width: 1.5em;
                height: 1.5em;
                box-shadow: 0 3px 6px rgba(0,0,0,0.25) !important;
                &.disableArrow {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
                em {
                    font-size: 0.875em;
                    color: $blueColor;
                }
            }
        }
        .leftArrow {
            left: -1em;
            @include md {
                left: -2em;
            }
        }
        .rightArrow {
            right: -1em;
            @include md {
                right: -2em;
            }
        }
    }
    .fieldTabs {
        padding: 0.75em;
        text-align: center;
        cursor: pointer;
        width: 100%;
        transition: all 0.3s;
        height: 100%;
        display: flex;
        flex-direction: column;
        em {
            line-height: 1.4;
            color: $mostlyDarkBlue;
            font-size: 4.25em;
        }
        .fieldName {
            position: relative;
            font-family: 'OpenSans';
            color: $darkGrey;
            font-size: 0.85em;
            font-weight: 700;
            line-height: 1.2;
            text-align: center;
            flex-grow: 1;
            min-height: 45px;
        }
        .coursesCount {
            font-size: 0.75em;
            color: $darkGrayColor;
            margin: 0.75em 0 0 0;
        }
        &:hover {
            em, .fieldName {
                color: $shadeBlueColor;
            }
            .coursesCount {
                color: $blueLabelColor;
            }
        }
        &.active {
            border-radius: 10px;
            overflow: hidden;
            background: $veryLightGray 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px $secondaryBlackShadow;
            cursor: pointer;
            position: relative;
            em, .fieldName {
                color: $shadeBlueColor;
            }
            .coursesCount {
                color: $blueLabelColor;
            }
        }
    }
    .btn-group {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
        @include lg {
            text-align: right;
            width: 35%;
            order: 2;
            margin-bottom: 0;
        }
        @include xl {
            width: 30%;
        }
        .product-btn {
            background-color: transparent;
            color: $primaryColor;
            border: 1px solid $primaryColor;
            padding-top: 0.375em;
            padding-bottom: 0.375em;
            line-height: 1.2;
            padding-left: 1em;
            padding-right: 1em;
            font-size: 0.937em;
            font-weight: 400;
            width: 110px;
            transition: all 0.3s ease-in-out;
            &.active{
                color: #FFFFFF;
                background-color: $primaryColor;
            }
            &:hover{
                color: #FFFFFF;
                background-color: $primaryColor;
            }
            &:not(:last-child) {
                border-right: 0;
            }
        }

    }
    .filter {
        margin-top: 0.65em;
        width: 8%;
        color: $darkGrey;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.4;
        border: none;
        background-color: $whiteColor;
        padding: 4px 0.75em;
        border-radius: 4px;
        box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.15);
        -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.15);
        transition: color 0.3s linear;
        &:hover {
            color: $primaryColor;
        }
        span, em {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            margin-left: 0.35em;
        }
        em {
            // transform: rotate(90deg);
            font-size: 1.15em;
        }
    }
}

::ng-deep.filterSection {
    .owl-carousel .owl-stage-outer {
        overflow: visible !important;
    }
}
.assessmentList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    @include sm {
        margin: 0 0 0 -2%;
    }
    @include md {
        margin: 0 0 0 -3.5%;
    }
    @include lg {
        margin: 0 0 0 -5.5%;
    }
}

.assessmentArea {
    margin-top: 1em;
    // background-color: $whiteColor;
}
.list {
    background-color: $whiteColor;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(112, 112, 112, 0.2);
    margin: 2em 0 0 0;
    cursor: pointer;
    transition: all 0.3s;
    float: left;
    position: relative;
    @include sm {
        width: 48%;
        margin: 2em 0 0 2%;
    }
    @include md {
        width: 30%;
        margin: 2em 0 0 3.3%;
    }
    @include lg {
        width: 28%;
        margin: 2em 0 0 5.3%;
    }
    .figWrapper {
        position: relative;
        display: flex;
        figure {
            width: 100%;
            display: inline-flex;
            position: relative;
            overflow: hidden;
            height: 195px;
            position: relative;
            border-radius: 5px;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 1;
                background: rgb(255,255,255);
                background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
                background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
                background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 130%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
            }
            img {
                transition: transform .5s;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
            .estimateTime {
                position: absolute;
                bottom: 0;
                right: 0;
                color: $whiteColor;
                font-size: 0.75em;
                font-weight: 600;
                border: none;
                padding: 0.35em 1em;
                border-radius: 0;
                background-color: #00000080;
                z-index: 9;
            }
            button {
                position: absolute;
                top: 1em;
                right: 1em;
                color: $whiteColor;
                font-size: 0.75em;
                font-weight: 400;
                text-transform: uppercase;
                border: none;
                padding-left: 1em;
                padding-right: 1em;
                border-radius: 0.25em;
                &.topRated {
                    background-color: #92278E;
                }
                &.new {
                    background-color: $primaryColor;
                }
            }
        }
    }
    .figEffect {
        &::before, &::after {
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            transition: all 0.4s ease-in-out;
            z-index: 9;
            opacity: 0.5;
        }
        &::before {
            transform: scale(0, 1);
            border-top: 1px solid $whiteColor;
            border-bottom: 1px solid $whiteColor;
        }
        &::after {
            transform: scale(1, 0);
            border-left: 1px solid $whiteColor;
            border-right: 1px solid $whiteColor;
        }
    }
    .listDescription {
        padding: 0.5em 0.85em 0.5em 0.85em;
        position: relative;
        .headings, .courseDuration, .assessmentDuration {
            span {
                display: block;
            }
        }
        .headings {
            .courseDesc {
                color: $mediumGrey;
                font-size: 0.875em;
                font-weight: 400;
                line-height: normal;
            }
        }
        .heading5 {
            font-family: "OpenSans", sans-serif;
            color: $darkGrey;
            font-size: 1.125em;
            font-weight: 700;
            line-height: 1.25;
            min-height: 40px;
            margin-bottom: 0.75em;
        }
        .courseDuration {
            margin: 2em 0 0 0;
            padding: 0.4em 0 0.65em 0;
        }
        .heart {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 1em;
            top: -1.6em;
            background-color: $whiteColor;
            border-radius: 50%;
            width: 2.25em;
            height: 2.25em;
            box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.15);
            -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.15);
            em {
                font-size: 1.25em;
                color: $mediumGrey;
            }
        }
        .courseDuration {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &.flexStart {
                justify-content: flex-start;
                > div {
                    width: 40%;
                    @include sm {
                        width: 45%;
                    }
                    @include xl {
                        width: 40%;
                    }
                }
            }
            &.spaceBetween {
                justify-content: space-between;
            }
        }
        .domainName {
            color: $blueLabelColor;
            margin-bottom: 1em;
            em {
                font-size: 0.75em;
                margin-right: 3px;
            }
            &.collegeConnect {
                color: $secondaryColor;
            }
            &.english {
                color: #20B19A;
            }
        }
        .domainName, .commonStyle {
            font-size: 0.75em;
            font-weight: 400;
            line-height: 1.2;
        }
        .commonStyle {
            color: $darkGrayColor;
        }
        .iconwithText {
            color: $mediumGrey;
            font-weight: 700;
            font-size: 0.75em;
            line-height: normal;
            em {
                color: $lightGrey;
                margin-right: 2px;
            }
            &.assessmentIcon {
                em {
                    color: $primaryColor;
                }
            }
        }
        .commonStyle {
            margin-bottom: 0.7em;
        }
        // em {
        //     font-size: 0.85em;
        //     color: #eec720;
        // }
    }
    &:hover {
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
        .listDescription {
            .heart {
                em {
                    color: $primaryColor;
                    animation: .8s infinite beatHeart;
                }
            }
        }
        figure {
            &::before {
                transform: scale(1);
            }
            img {
                transform: scale(1.2);
            }
        }
        .figEffect {
            &::before {
                transform: scale(1, 1);
                border-top: 1px solid $whiteColor;
                border-bottom: 1px solid $whiteColor;
            }
            &::after {
                transform: scale(1, 1);
                border-left: 1px solid $whiteColor;
                border-right: 1px solid $whiteColor;
            }
        }
    }
    .previewRibbon {
        position: relative;
        text-align: center;
        margin-bottom: 1em;
        // width: 100%;
        span {
            font-family: "OpenSans", sans-serif;
            font-size: 0.75em;
            font-weight: 400;
            color: $whiteColor;
            background-color: $blueLabelColor;
            padding: 0.35em 1.5em;
            position: relative;
            display: inline-block;
            border-radius: 5px;
            // width: 100%;
            text-align: center;
            z-index: 1;
            &.coursetag {
                background-color: $secondaryColor;
            }
            &.stepTag {
                background-color: #20B19A;
            }
        }
       
    }
}
.viewMore {
    text-align: center;
    margin-top: 3em;
    button {
        background-color: $shadeBlueColor;
        font-family: "OpenSans", sans-serif;
        font-size: 1.125em;
        font-weight: 400;
        color: $whiteColor;
        padding: 0.5em 1.25em;
        transition: all 0.3s ease-in-out;
        border: 1px solid $shadeBlueColor;
        border-radius: 5px;
        em {
            font-size: 0.75em;
        }
        &:hover {
            color: $shadeBlueColor;
            background-color: $whiteColor;
        }
    }
}

// No Categories Found
.noDataFound {
    width: 100%;
    margin-top: 2em;
    text-align: center;
    figure {
        img {
            width: 25%;
        }
    }
    .heading3 {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0.65em 0 0 0;
    }
}


//Skeleton
.skeletonWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    .items {
        width: 23%;
    }
}
::ng-deep.btn-group {
    .mat-form-field-wrapper {
        padding-bottom: 0;
      }  
      .mat-form-field-infix {   
        border-top: 0 solid transparent;  
        padding: 0.25em 0 0.75em 0.5em;
      }   
    .mat-form-field-label-wrapper { 
        top: -0.99375em; 
      }
      .mat-select-value {
        color: $blackColor;
        font-weight: 500;
      }
    
      .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0.5em 0.5em 0 0.25em;
        border-radius: 6px 6px 6px 6px;
      }
      .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        transform: translateY(0%);
      }
      .mat-form-field-ripple, 
      .mat-form-field.mat-focused .mat-form-field-ripple, 
      .mat-form-field-appearance-fill .mat-form-field-underline::before {
        background-color: transparent;
      }
      .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: $whiteColor;
        // box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 6px #00000013;
        // }
      }
      .mat-form-field-underline {
        // border: 1px solid #cdcdcd;
        height: 100%;
        bottom: 0;
      }
      .mat-form-field.mat-focused .mat-form-field-label, .mat-form-field-label {
        color: $darkMediumGrey;
      }
      .mat-form-field.mat-focused.mat-primary .mat-select-arrow, 
      .mat-select-arrow {
        color: $darkMediumGrey;
      }
      .mat-select {
        text-transform: capitalize;
      }
}

::ng-deep.filterSection {
    .owl-carousel .owl-nav.disabled {
        display: block !important;
    }
    .owl-theme .owl-nav {
        padding: 6px 10px !important;
        font-size: 15px !important;
    }
    .owl-prev {
      position: absolute;
      left: -40px;
      top: 35%;
      border-radius: 50% !important;
      background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box !important;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) !important;
      padding: 6px 10px !important;
      font-size: 15px !important;
      @include md {
        left: -75px;
      }
      .prev {
        color: $shadeBlueColor;
        font-size: 12px;
      }
    }
    .owl-next {
      position: absolute;
      right: -40px;
      top: 35%;
      border-radius: 50% !important;
      background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box !important;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) !important;
      padding: 6px 10px !important;
      font-size: 15px !important;
      @include md {
        right: -75px;
      }
      .next {
        color: $shadeBlueColor;
        font-size: 12px;
      }
    }
}


::ng-deep.filterSection {
    .drag-scroll-wrapper {
        &.drag-scroll-container {
            height: auto !important;
        }
    }
    .drag-scroll-content {
        position: relative;
        padding: 10px;
        &::after {
            content: '';
            
        }
    }
}