@import "variables";
@import "keyframes";

.detailBanner {
  width: 100%;
  position: relative;
  font-size: 14px;
  figure {
    overflow: hidden;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &::before {
      background: rgba(0, 0, 0, 0.3);
    }
    &::after {
      background: rgba(0, 0, 0, 0.1);
      background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1.0));
      background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1.0));
      background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1.0));
    }
    img {
      display: block;
      width: 100%;
      height: calc(100vh - 74px);
      object-fit: cover;
      object-position: center top;
      @include sm {
        height: 350px;
      }
      @include lg {
        height: 450px;
      }
      @include xl {
        height: 480px;
      }
      @media only screen and (min-width: 1540px) {
        height: 500px;
      }
    }
  }
  @include md {
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
  .detailBannerPosition {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 1em 0;
  }
}

.bannerDescription {
  display: flex;
  flex-direction: column;
  width: 96%;
  max-width: 768px;
}

.detailBannerPosition {
  .assessmentArea {
    > div {
      width: 100%;
      display: inline-flex;
      justify-content: flex-start;
      > div {
        padding-right: 2em;
        margin-right: 2em;
        position: relative;
        &:last-child {
          margin-right: 0;
          padding-right: 0;
          &::after {
            content: none;
          }
        }
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 70%;
          background-color: #FF8A02;
        }
        p {
          font-size: 0.75em;
          font-weight: 400;
          color: #E6E6E6;
          line-height: 1;
          margin: 0;
        }
        span {
          color: $whiteColor;
          font-size: 0.68em;
          font-weight: 300;
          line-height: 1;
          em {
            color: #EBC71A;
            margin-right: 0.35em;
          }
        }
      }
    }
  }
  // ul {
  //   margin-bottom: 1em;
  //   li {
  //     display: inline-block;
  //     font-size: 0.814em;
  //     font-weight: 400;
  //     color: $whiteColor;
  //     line-height: 1.2;
  //     em {
  //       font-size: 0.7em;
  //     }
  //   }
  // }
  .heading1 {
    display: block;
    font-family: "OpenSans", sans-serif;
    font-size: 2.8125em;
    font-weight: 700;
    color: $whiteColor;
    line-height: normal;
  }
  .shortDescription {
    font-size: 0.9375em;
    font-weight: 400;
    color: #E6E6E6;
    line-height: 1.5;
    margin: 2.5em 0;
  }
  .ratingStar {
    .icon-Star,
    .icon-Star {
      font-size: 0.5em;
      margin-right: 0.2em;
    }
    .icon-Star {
      color: $secondaryColor;
    }
  }
  .icon-Level2 {
    color: $secondaryColor;
  }
  .assessmentHighlights {
    margin: 3em 0 0 0;
    .heading6 {
      color: $whiteColor;
      font-weight: 700;
      line-height: 1;
    }
    ul {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
      @include md {
        flex-direction: row;
      }
      li {
        font-size: 0.9375em;
        font-weight: 400;
        color: $whiteColor;
        line-height: 2;
        margin-right: 2em;
        &:last-child {
          margin-right: 0;
        }
        @include md {
          line-height: normal;
        }
        em {
          color: #EBC71A;
          margin-right: 0.5em;
          font-size: 1em;
        }
      }
    }
  }
}

//Sticky Header
// .stickyBar {
//   position: fixed;
//   background: $whiteColor;
//   top: 0;
//   padding: 0;
//   opacity: 0;
//   transition: opacity 0.25s ease-out, padding 0.15s ease;
//   cursor: default;
//   user-select: none;
//   width: 100%;
//   padding: 0 15px;
//   box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
//   box-sizing: border-box;
//   font-size: 10px;
//   @include md {
//     font-size: 12px;
//   }
//   @include lg {
//     font-size: 14px;
//   }
//   @include xl {
//     font-size: 16px;
//   }
//   .container {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     flex-direction: column;
//     @include md {
//       flex-direction: row;
//     }
//   }
//   .heading3 {
//     width: 100%;
//     font-weight: 700;
//     @include md {
//       width: 40%;
//       font-weight: 700;
//       text-overflow: ellipsis;
//       overflow: hidden;
//       white-space: nowrap;
//     }
//     @include xl {
//       width: 30%;
//     }
//   }
//   .bannerDescription {
//     width: 100%;
//     margin-top: 1em;
//     @include md {
//       margin-top: 0;
//       margin-left: 3%;
//       width: 57%;
//     }
//     @include xl {
//       width: 67%;
//     }
//   }
//   .detailBannerPosition {
//     .assessmentArea {
//       width: 100%;
//       @include xl {
//         width: 65%;
//       }
//       > div {
//         width: 100%;
//         margin-top: 0;
//         > div {
//           p,
//           span {
//             color: $blackColor;
//           }
//           p {
//             font-size: 0.85em;
//           }
//           span {
//             font-size: 0.75em;
//           }
//         }
//       }
//     }
//   }
// }

// .sticky {
//   padding: 1em 8px;
//   opacity: 1;
//   transition: opacity 0.25s ease-out, padding 0.15s ease;
//   z-index: 2;
//   p {
//     margin: 0;
//   }
//   @include md {
//     padding: 1.25em 15px;
//   }
// }


// bannerCount
.bannerCount {
  background-color: $whiteColor;
  padding: 5em 0;
  font-size: 14px;
  .container {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      flex-wrap: wrap;
      @include sm {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
      }
      li {
        text-align: center;
        width: 38%;
        margin: 0.5em 0;
        border-left: 2px solid #46455C;
        &:first-child{
          border-left:none;
        }
        @include sm {
          width: 12%;
          margin: 0;
        }
        .count {
          color: #27BBEE;
          font-size: 1.5625em;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 0.6em;
        }
        .desc {
          color: #46455C;
          font-size: 0.75em;
          font-weight: 800;
          line-height: normal;
        }
      }
    }
  }
}

// assessmentOverview
.assessmentOverview {
  background-color: #F7F7F7;
  padding: 3.75em 0 0 0;
  font-size: 14px;
  @include md {
    font-size: 13px;
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
  .commonHeadingStyle{
    margin-bottom: 0;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 80%;
      p {
        color: $darkMediumGrey;
        font-size: 1em;
        font-weight: 400;
        line-height: 2;
      }
    }
    .right {
      width: 15%;
      figure {
        display: flex;
        img {
          width: 75%;
        }
      }
    }
  }
}

.sectorProject {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $lightGrey;
  tr {
    &:first-child {
      td {
        p {
          color: $darkGrey;
          b {
            font-weight: bold;
          }
        }
      }
    }
    td {
      padding: 10px;
      p {
        color: $mediumGrey;
        font-weight: 400;
      }
      b {
        font-weight: 400;
      }
    }
  }
}
//About Assessment
.areaDetailDescription {
  margin: 2em 0 0.5em 0;
  .container {
    > div {
      // max-width: 850px;
      width: 100%;
      margin-bottom: 3.75em;
    }
  }
  .heading4 {
    color: $darkGrey;
    margin-bottom: 0.4em;
  }
  p {
    color: $lightGrey;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 100%;
      margin-top: 1em;
      @include sm {
        //width: 47%;
      }
      em,
      p {
        display: inline-block;
        vertical-align: middle;
      }
      em {
        width: 4%;
        color: $mediumGrey;
      }
      p {
        width: 92%;
        margin-left: 4%;
        @include sm {
          width: 94%;
          margin-left: 2%;
        }
      }
    }
  }
  .limitTextHeight {
    transition: max-height 1s;
    max-height: 75px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(transparent 20px, white);
    }
  }
  button {
    @include buttonOutlined;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: $mediumGrey;
    line-height: 1.4;
    margin-top: 0.75em;
    font-size: 0.875em;
    font-weight: 400;
  }
  .achieve {
    .heading4 {
      margin-bottom: 0;
    }
  }
  .achieve,
  .requirements,
  .description {
    margin-bottom: 1.3em;
  }
  .requirements {
    &.specialization {
      .heading4 {
        margin-bottom: 15px;
      }
    }
    p {
      color: #999999;
    }
    .heading4 {
      margin-bottom: 0;
    }
    .heading5 {
      color: #666666;
      margin-bottom: 5px;
    }
  }
}

//How it Works
.howitWorksSection {
  background-image: linear-gradient(to bottom, #f7f7f7, #f4f4f6, #f0f1f5, #ebeff4, #e5edf3);
  padding: 3.75em 0 3.75em 0;
  font-size: 12px;
  position: relative;
  @include md {
    font-size: 12px;
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
  .smalltext {
    font-family: "OpenSans", sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    color: #A2A9B0;
    text-align: center;
  }
  .heading {
    font-family: "OpenSans", sans-serif;
    font-size: 1.875em;
    font-weight: 700;
    color: #283646;
    text-align: center;
    margin: 1em 0;
    display: inline-block;
    width: 100%;
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      border-top: 2px dashed #3A86FF;
      z-index: 1;
    }
    li {
      text-align: center;
      position: relative;
      padding: 1em;
      width: 23%;
      transition: all 0.3s ease-in-out;
      z-index: 2;
      &:hover {
        @include xl {
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
        }
      }
      figure {
        display: inline-flex;
        width: 10em;
        height: 10em;
        border-radius: 50%;
        border: 4px solid #27BBEE;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .heading6 {
        color: #283646;
        margin: 1em 0;
        font-family: "OpenSans", sans-serif;
        font-weight: 600;
        min-height: 50px;
      }
      p {
        color: #77808B;
        font-size: 0.9375em;
        font-weight: 400;
        line-height: 1.4;
      }
    }
  }
}

.assessmentCertification {
  background-color: #FAF3F2;
  padding: 10em 0;
  clip-path: ellipse(60% 100% at 50% 0%);
}

.assessmentSection {
  background-color: #F8FBFF;
  padding: 3.75em 0 3.75em 0;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  @include md {
    font-size: 13px;
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('#{$imagePath}/enhanceBG.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    display: inline-flex;
    opacity: 0.2;
  }
  p {
    font-size: 0.875em;
    font-weight: 400;
    color: $mediumGrey;
    line-height: 1.3;
  }
}
.assessmentsArea {
  // background-color: $whiteColor;
  .heading5,
  .totalAssessments {
    display: inline-block;
    vertical-align: middle;
  }
  .heading5 {
    font-family: "OpenSans", sans-serif;
    color: $darkGrey;
    width: 100%;
    @include md {
      width: 75%;
    }
  }
  .totalAssessments {
    width: 100%;
    text-align: left;
    font-family: "OpenSans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: $darkGrey;
    margin-top: 0.5em;
    @include sm {
      margin-top: 0;
    }
    @include md {
      width: 24%;
      margin-left: 1%;
      text-align: right;
    }
    em {
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}
.assessments {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include sm {
    margin: 1em 0 0 -2%;
  }
  @include md {
    margin: 1em 0 0 -3.3%;
  }
  @include xl {
    margin: 1em 0 0 -1.8%;
  }
  > div {
    position: relative;
    width: 100%;
    background-color: $whiteColor;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 1em 0 0 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    height: 250px;
    @include sm {
      width: 47.6%;
      margin: 1em 0 0 2%;
    }
    @include md {
      width: 30%;
      margin: 1em 0 0 3.3%;
      height: 275px;
    }
    @include lg {
      height: 300px;
    }
    @include xl {
      margin: 1em 0 0 2%;
      width: 23%;
      height: 325px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.9));
      z-index: 1;
    }
    &:hover {
      @include xl {
        .hoverSection {
          top: 0;
          opacity: 1;
        }
      }
    }
    figure {
      display: flex;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .content {
      position: absolute;
      bottom: 1em;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);
      text-align: center;
      z-index: 2;
      .viewDetails {
        display: inline-flex;
        margin-top: 0.75em;
        @include xl {
          display: none;
        }
      }
    }
    .hoverSection {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100%;
      left: 0;
      opacity: 0;
      background-color: $primaryColor;
      z-index: 3;
      transition: all .5s cubic-bezier(0,-0.09,0,.95);
      display: flex;
      flex-direction: column;
      .hoverContent {
        background-color: $whiteColor;
        border-radius: 10px 10px 0 0;
        flex-grow: 1;
        text-align: center;
      }
      .heading5 {
        color: $whiteColor;
        padding: 1em 0;
        font-size: 0.9375em;
      }
      p {
        font-size: 0.825em;
        color: $lightGrey;
        min-height: 150px;
        margin: 1em 0;
      }
      .assessmentCount {
        color: $darkGrey;
        margin: 0.75em 0;
      }
    }
  }
  .heading5 {
    font-weight: 400;
    color: $blueLabelColor;
    position: relative;
    // min-height: 40px;
    width: 100%;
    text-align: center;
  }
  .assessmentCount {
    font-size: 0.9375em;
    font-weight: 400;
    color: $whiteColor;
    line-height: 1.3;
    display: block;
    margin-top: 0.75em;
    position: relative;
    em {
      font-size: 1em;
      margin-right: 0.35em;
      display: inline-block;
    }
  }
  p {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.93em;
    line-height: 1.4;
    color: $mediumGrey;
    padding: 0 1.5em 1em 1.5em;
    margin: 0;
    @include sm {
      margin: 1em 0 2em 0;
    }
    @include lg {
    }
  }
  .viewDetails {
    color: $whiteColor;
    font-family: "OpenSans", sans-serif;
    font-size: 0.875em;
    padding: 0.5em 2em;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    background-color: #117CD8;
    border: 1px solid #117CD8;
    border-radius: 5px;
    position: relative;
    display: inline-flex;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    cursor: pointer;
    &:hover {
      @include xl {
        background-color: $whiteColor;
        color: #117CD8;
      }
    }
  }
}

.d-flex {
  display: flex;
}

.imageSection {
  width: auto !important;
}

//benifits
.benifits {
  background-image: linear-gradient(to right, #004C65, #01516C, #004C65);
  padding: 5em 0;
  font-size: 14px;
  .container {
    .heading {
      color: $whiteColor;
      font-size: 2.0625em;
      font-family: "OpenSans", sans-serif;
      text-align: center;
      font-weight: 600;
      margin-bottom: 2em;
    }
    p {
      color: $whiteColor;
      font-size: 1.125em;
      font-family: "OpenSans", sans-serif;
      text-align: center;
      font-weight: 400;
      margin-bottom: 2em;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      flex-wrap: wrap;
      @include sm {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
      }
      li {
        text-align: center;
        width: 38%;
        margin: 0.5em 0;
        color: $whiteColor;
        text-align: center;
        img {
          margin-bottom: 1em;
        }
        .benifitTitle {
          font-size: 1.125em;
          font-weight: 700;
          margin-bottom: 1em;
        }
        p {
          font-size: 1em;
          font-weight: 400;
        }
      }
    }
  }
}

// achieve
.achieve {
  padding: 3.75em 0 0 0;
  font-size: 14px;
  background-image: url("#{$imagePath}/achievebg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  .container {
    .requirements {
      color:$darkGrey;
      font-size: 1.25em;
      font-weight: 400;
      margin-bottom: 1em;
    }
  }
}

//Related Programs
.relatedProgramsAssessments {
  background-color: $whiteColor;
  position: relative;
  font-size: 12px;
  &.programList {
    padding: 3.75em 0 1.5em 0;
  }
  &.assessmentList {
    padding: 1.5em 0 3.75em 0;
  }
  @include md {
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
  .programBg {
    background-image: linear-gradient(to right, #ffffff, #fcfcfc, #fafafa, #f7f7f7, #f5f5f5);
    .wrapper {
      border-radius: 50px 0 0 50px;
      padding: 2.25em 0 2.25em 2.25em;
    }
  }
  .assessmentBg {
    background-image: linear-gradient(to right, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff);
    .wrapper {
      border-radius: 0 50px 50px 0;
      padding: 2.25em 2.25em 2.25em 0;
    }
  }
  .commonCSS {
    padding: 0;
    .wrapper {
      background-color: #f5f5f5;
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .relatedList {
        background-color: $whiteColor;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        padding: 0.75em 0;
        width: 95%;
        .heading {
          display: block;
          font-family: "OpenSans", sans-serif;
          font-size: 1em;
          font-weight: 400;
          line-height: 1.3;
          color: $blackColor;
          padding: 0 0.5em;
          min-height: 42px;
        }
        figure {
          display: block;
          margin: 0.75em 0 1em 0;
          img {
            height: 170px;
            object-fit: cover;
          }
        }
        .contentWrapper {
          padding: 0 0.5em;
          font-size: 16px;
          .batchStarts, .months {
            font-size: 0.6875em;
            font-weight: 400;
            color: $darkGrey;
            line-height: normal;
            em {
              color: #08558C;
              font-size: 1em;
              margin-right: 2px;
            }
          }
          > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
            .stars {
              em {
                color: #EEC720;
                font-size: 0.75em;
                margin-left: 1px;
              }
            }
          }
          .level{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1em;
            > div {
              &:first-child {
                span {
                  em {
                    color: #EEC720;
                  }
                }
              }
            }
            p {
              color: $darkGrey;
              font-size: 0.625em;
              font-weight: 400;
              line-height: normal;
              margin: 0;
            }
            span {
              color: $darkGrey;
              font-family: "OpenSans", sans-serif;
              font-size: 0.75em;
              font-weight: 600;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

::ng-deep .relatedProgramsAssessments {
  .owl-theme .owl-dots {
    position: absolute;
    right: 33px;
    bottom: -18px;
    width: 80px;
    height: 5px;
    background-color: #D8D8D8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .owl-theme .owl-dots .owl-dot {
    width: 100%;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: auto;
    height: 5px;
    background-color: #D8D8D8;
    margin: 0;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background-image: linear-gradient(to right, #00bcef, #00c0db, #00c1b6, #00be83, #4eb749);
    background-color: transparent;
  }
  .owl-carousel .owl-stage-outer {
    padding: 0.5em;
  }
  //Navigation
  .owl-theme .owl-nav {
    position: absolute;
    right: 0;
    bottom: -29px;
    width: 150px;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 0;
  }
  .owl-theme .owl-nav [class*=owl-] {
    margin: 0;
    padding: 0;
    background: transparent;
    i {
      color: #08558C;
      font-size: 1.5em;
    }
  }
}


//Hiring Partners
.hiringPartnres {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 4em 0;
  position: relative;
  font-size: 12px;
  @include md {
    padding: 8em 0;
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #08558C;
    opacity: 0.9;
  }
  .container {
    position: relative;
  }
  .commonHeadingStyle {
    color: $whiteColor;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
    @include md {
      flex-wrap: nowrap;
    }
  }
  .left {
    width: 100%;
    @include md {
      width: 30%;
    }
    @include lg {
      width: 25%;
    }
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 1.125em;
      font-weight: 300;
      color: $whiteColor;
      line-height: 1.5;
    }
  }
  .right {
    width: 100%;
    @include md {
      width: 65%;
      margin-left: 5%;
    }
    @include lg {
      width: 70%;
    }
    .figWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    figure {
      background-color: $whiteColor;
      border-radius: 5px;
      padding: 1em;
      margin: 0.5em 0.5%;
      width: 32%;
      text-align: center;
      img {
        height: 40px;
        object-fit: contain;
        @include lg {
          height: 60px;
        }
      }
    }
  }
}
.programCourse {
  width: 100%;
  padding: 3.75em 0;
  position: relative;
  background: $blackBgColor;
  font-size: 12px;
    @include md {
    }
    @include lg {
      font-size: 14px;
    }
    @include xl {
      font-size: 16px;
  }
  .listPart {
    padding-bottom: 4em;
    .heading {
      font-size: 1.125em;
      font-weight: 500;
      color: $blueLabelColor;
      line-height: normal;
      padding-bottom: 0.5em;
    }
    .division {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.7;
      color: $greyListColor;
      font-weight: 400;
      font-size: 0.875em;
      @include md {
        line-height: 1.3;
      }
      li {
        border-right: 1px solid $whiteColor;
        padding-right: 10px;
        margin-right: 10px;
        &:last-child {
          border-right: none;
          padding-right: 0;
          margin-right: 0;
        }
      }
    }
    &:last-child {
      padding-bottom: 0em;
    }
  }
    
}

.ourPartners {
    width: 100%;
    padding: 3.75em 0;
    position: relative;
    background: $bgColor;
    font-size: 12px;
    @include md {
    }
    @include lg {
      font-size: 14px;
    }
    @include xl {
      font-size: 16px;
    }
    .partnersSection {
      display: flex;
      align-items: center;
      margin-bottom: 2em;
      div {
        font-family: "OpenSans", sans-serif;
        font-size: 1.125em;
        font-weight: 600;
        color: $darkGrey;
        margin-right: 1em;
        line-height: normal;
      }
      figure {
        height: 50px;
        width: 14%;
        margin-right: 1em;
        @include md {
          width: 8%;
          margin-right: 3em;
        }
        &:last-child {
          margin-right: 0;
        }
        img {
          object-fit: contain;
          height: 50px;
          width: 100%;
        }
      }

    }
    .grievanceSection {
      display: flex;
      margin: 2em 0;
      p {
        font-family: "OpenSans", sans-serif;
        font-size: 1em;
        font-weight: 400;
        color: #0C1854;
        margin: 0;
        span {
          font-style: italic;
        }
      }
    }
    .poweredSection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      @include md {
        flex-wrap: nowrap;
      }
      .left {
        width: 100%;
        display: flex;
        align-items: center;
        @include md {
          width: 40%;
        }
        .heading {
          font-family: "OpenSans", sans-serif;
          font-size: 1em;
          font-weight: 400;
          color: $blackColor;
          margin-right: 1em;
        }
        img {
          object-fit: contain;
          height: 30px;
          width: 100%;
        }
      }
      .right {
        width: 100%;
        text-align: left;
        @include md {
          text-align: right;
          width: 55%;
        }
        img {
          object-fit: contain;
          height: 50px;
          width: 100%;
          @include md {
            width: 60%;
          }
        }
      }
    }
  }