<div id="top"></div>
<ng-container *ngIf="productType != 'course'">
<section class="areaDetail">
    <div class="detailBanner">
        <figure>
            <img [src] = "bannerImage" alt="" />
        </figure>
        <div class="detailBannerPosition">
            <div class="container">
                <ul>
                    <a href="/catalog/catalogHome?fromPage=viewAll&selectedTab={{btoaId}}"><li>{{aboutArea?.domainName}}<em class="icon-RightArrow"></em></li></a>
                    <li *ngIf = '!showAssesment'>{{aboutArea?.name}}</li>
                    <li *ngIf = 'showAssesment'><a href = "/catalog/aboutAssessment?id={{btoaId}}&selectedTab={{btoaAll}}&productType={{btoaproductType}}">{{aboutArea?.name}}</a><em class="icon-RightArrow"></em></li>
                    <li *ngIf = "showAssesment">{{competencyData?.name}}</li>
                </ul>
                <div class="bannerDescription">
                    <div class="assessmentArea">
                        <span class="heading1">{{aboutArea?.name}}</span>
                        <p class="shortDescription">{{ (aboutArea?.shortDescription.length > 250)? (aboutArea?.shortDescription | slice:0:250)+'...':(aboutArea?.shortDescription) }}</p>
                        <div>
                            <!-- <div>
                                <p>Rating</p>
                                <div class="ratingStar">
                                    <em class="icon-Star"></em>
                                    <em class="icon-Star"></em>
                                    <em class="icon-Star"></em>
                                    <em class="icon-Star"></em>
                                    <em class="icon-Star"></em>
                                </div>
                            </div> -->
                            <div>
                                <p>{{'No. of Assessments '}}</p>
                                <span><em class="icon-Document"></em> {{totalAssessmentCount}}</span>
                            </div>
                            <div>
                                <p>Skill Level</p>
                                <span><em class="icon-Level2"></em> Intermediate</span>
                            </div>
                            <!-- <div>
                                <p>Duration</p>
                                <span><em class="icon-Time"></em>{{aboutArea?.totalDuration}}h</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="assessmentHighlights">
                        <ul>
                            <li><em class="icon-Globe"></em> 100% online Assessments</li>
                            <li><em class="icon-Badge"></em> Certificate of completion</li>
                            <li><em class="icon-Portfolio"></em>Job ready portfolio</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Sticky Content -->
    <!-- <div class="stickyBar" [ngClass]="{'sticky' : isSticky}">
        <div class="container">
            <div class="heading3" matTooltipClass="tooltipClass" matTooltip="{{aboutArea?.name}}">{{aboutArea?.name}}</div>
            <div class="detailBannerPosition bannerDescription">
                <div class="assessmentArea">
                    <div>
                        <div>
                            <p>Rating</p>
                            <div class="ratingStar">
                                <em class="icon-Star"></em>
                                <em class="icon-Star"></em>
                                <em class="icon-Star"></em>
                                <em class="icon-Star"></em>
                                <em class="icon-Star"></em>
                            </div>
                        </div>
                        <div>
                            <p>Skill Level</p>
                            <span><em class="icon-Level2"></em> Intermediate</span>
                        </div>
                        <div>
                            <p>Duration</p>
                            <span><em class="icon-Time"></em>{{aboutArea?.totalDuration}}h</span>
                        </div>
                        <div>
                            <p>No. of Assessments</p>
                            <span><em class="icon-Document"></em> {{totalAssessmentCount}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Sticky Content Ends -->

<!-- bannerCount -->
<section class="bannerCount" *ngIf="!showAssesment">
    <div class="container">
        <ul>
            <li>
               <div class="heading4">100+</div> 
               <div class="desc">RECRUITERS</div>
            </li>
            <li>
                <div class="heading4">13K</div> 
                <div class="desc">CANDIDATES</div>
             </li>
             <li>
                <div class="heading4">450+</div> 
                <div class="desc">SKILLS COVERED</div>
             </li>
             <li>
                <div class="heading4">450+</div> 
                <div class="desc">JOB OPPORTUNITIES</div>
             </li>
        </ul>
    </div>
</section>

<!-- assessmentOverview -->
<section class="assessmentOverview" *ngIf="!showAssesment">
    <div class="container">
        <div class="commonHeadingStyle">Assessment Overview</div>
        <div class="wrapper">
            <div class="left">
                <p>Each lecture is developed and delivered with the benefit of my experience as a university lecturer in structural engineering. The teaching style appeals to all types of learners with material developed through hand-drawn notes and sketches. Students are encouraged to engage with each lecture by actively developing their own notes during each video lecture…no ‘death by PowerPoint’ here! We’ll focus on pinning down the basics before diving into worked examples.</p>
            </div>
            <div class="right">
                <figure>
                    <img src="../../../../assets/images/overview.png" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- skill assessment -->
<section class="skill" *ngIf="showAssesment">
    <div class="container">
        <div class="commonHeadingStyle">Aptitude Skill Assessment</div>
        <div class="wrapper">
            <div class="left">
                <p>
                    Each lecture is developed and delivered with the benefit of my experience as a university lecturer in structural engineering. The teaching style appeals to all types of learners with material developed through hand-drawn notes and sketches. Students are encouraged to engage with each lecture by actively developing their own notes during each video lecture…no ‘death by PowerPoint’ here! We’ll focus on pinning down the basics before diving into worked examples.
                </p>
            </div>
            <div class="right">
                <div class="buyCard">
                    <div class="price"><em class="icon-Rupee"></em><span>6999.00</span></div>
                    <div class="count">(2 Assessments)</div>
                    <button class="buyBtn">BUY NOW</button>
                    <button class="cartBtn">ADD TO CART</button>
                    <ul>
                        <li><em class="icon-Globe"></em> <div>100% online Assessments</div></li>
                        <li><em class="icon-Badge"></em> <div>Certificate of completion</div></li>
                        <li><em class="icon-Portfolio"></em> <div>Job ready portfolio</div></li>
                        <li><em class="icon-Globe"></em> <div>24*7 Customer Support</div></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- achieve -->
<section class="achievement">
    <div class="container">
        <div class="commonHeadingStyle">{{'What you will you achieve'}}</div>
          <ul>
                <li>
                    <em class="icon-checked"></em>
                    <p>You will be fully competent in drawing shear force and bending moment diagrams for statically determinate beams and frames.</p>
                </li>
                <li>
                    <em class="icon-checked"></em>
                    <p>You will understand the link between internal stresses and their shear force and bending moment resultants.</p>
                </li>
                <li>
                    <em class="icon-checked"></em>
                    <p>You will understand the link between internal stresses and their shear force and bending moment resultants.</p>
                </li>
                <li>
                    <em class="icon-checked"></em>
                    <p>You will have a robust system of analysis that allows you to confidently tackle the analysis of any statically determinate structure.</p>
                </li>
         </ul> 
        <div class="requirements">Requirements</div>
        <p class="desc">A basic understanding of statics would be helpful but not essential - we’ll review the basics to bring you up to speed.</p>
    </div>
</section>

<!-- Area Detail Section -->
<section class="requirementsSection">
    <div class="areaDetailDescription">
        <div class="container d-flex">
            <div class="descriptionSection">
                <!-- <div class="achieve">
                    <div class="heading4">What you will achieve</div>
                     <ul>
                        <li>
                            <em class="icon-checked"></em> 
                            <p>{{aboutArea?.contentAchieve}}</p>
                        </li>
                     </ul>
                </div> -->
                <div class="requirements require">
                    <div class="heading4">Requirements</div>
                    <p>{{aboutArea?.contentRequirement}}</p>
                </div>
                <div class="description">
                    <span class="heading4">Description</span>
                    <div [ngClass]="{'limitTextHeight': isReadMore}">
                        <p>{{aboutArea?.contentDescription}}</p>
                    </div>
                    <button *ngIf="aboutArea?.contentDescription.length > 370" type="button" (click)="showText()">
                        {{ isReadMore ? 'Show More': 'Show Less' }} <em class="icon-DownArrow"></em>
                    </button>
                </div>
                
    <div *ngIf="aboutArea?.cid==='A0004'">
        <div class="requirements pecialization">
            <div class="heading4">Specialization Areas</div>
            <br>
            <div class="heading5">Construction Engineering</div>
            <p>Construction engineering is a professional discipline that deals with the designing, planning, construction and management of infrastructures such as roads, tunnels, bridges, airports, railroads, facilities, buildings, dams, utilities and other projects</p>
        </div>
        <div class="requirements">
            <div class="heading5">Geotechnical Engineering</div>
            <p>Geotechnical engineering, also known as geotechnics, is the branch of civil engineering concerned with the engineering behavior of earth materials. It uses the principles of soil mechanics and rock mechanics for the solution of its respective engineering problems. It also relies on knowledge of geology, hydrology, geophysics, and other related sciences.</p>
        </div>
        
        <div class="requirements">
            <div class="heading5">Hydraulics & Water Resources</div>
            <p>Hydraulic engineering as a sub-discipline of civil engineering is concerned with the flow and conveyance of fluids, principally water and sewage. One feature of these systems is the extensive use of gravity as the motive force to cause the movement of the fluids. This area of civil engineering is intimately related to the design of bridges, dams, channels, canals, and levees, and to both sanitary and environmental engineering.</p>
<br>
            <p>Water Resource Engineering is a specific kind of civil engineering that involves the design of new systems and equipment that help manage human water resources. Some of the areas Water Resource Engineers touch on are water treatment facilities, underground wells, and natural springs.</p>
        </div>
        <div class="requirements">
            <div class="heading5">Transportation Engineering</div>
            <p>Transportation engineering or transport engineering is the application of technology and scientific principles to the planning, functional design, operation and management of facilities for any mode of transportation in order to provide for the safe, efficient, rapid, comfortable, convenient, economical, and environmentally compatible movement of people and goods transport.</p>
        </div>
        <div class="requirements">
            <div class="heading5">Environmental Engineering</div>
            <p>Environmental engineering is a job type that is a professional engineering discipline and takes from broad scientific topics like chemistry, biology, ecology, geology, hydraulics, hydrology, microbiology, and mathematics to create solutions that will protect and also improve the health of living organisms and improve the quality of the environment. Environmental engineering is a sub-discipline of civil engineering and chemical engineering.</p>
        </div>
        <div class="requirements">
            <div class="heading5">Structural Engineering</div>
            <p>Structural engineering is a sub-discipline of civil engineering in which structural engineers are trained to design the 'bones and muscles' that create the form and shape of man-made structures. Structural engineers also must understand and calculate the stability, strength, rigidity and earthquake-susceptibility of built structures for buildings and nonbuilding structures. The structural designs are integrated with those of other designers such as architects and building services engineer and often supervise the construction of projects by contractors on site. They can also be involved in the design of machinery, medical equipment, and vehicles where structural integrity affects functioning and safety.</p>
        </div>

        <p ><b><span class="heading4" style="display: inline-block; margin-bottom: 15px;">Job
            Sectors/Projects</span></b></p>
            
            <table class="sectorProject" border="1" cellspacing="0" cellpadding="0">
             <tbody><tr >
              <td width="119" valign="top" >
              <p ><b>Role</b></p>
              </td>
              <td >
              <p ><b>Site Engineer</b></p>
              </td>
              <td width="86" valign="top" >
              <p><b>Design Engineer</b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b>Planning Engineer</b></p>
              </td>
              <td width="86" valign="top" >
                  <p ><b>Materials Engineer</b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b>Quality Engineer</b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b>Supply Chain</b></p>
              </td>
             </tr>
             <tr >
              <td width="119" valign="top" >
              <p ><b>Construction<br>
              ( Buildings, Factories etc)</b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><span class="icon-checked"></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
             </tr>
             <tr style="mso-yfti-irow:2">
              <td width="119" valign="top" >
              <p ><b>Environmental<br>
              Engineering</b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p><span class="icon-checked"></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p><b></b></p>
              </td>
             </tr>
             <tr>
              <td width="119" valign="top" >
              <p ><b>Water (Dams, Canals, Irrigation)</b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
             </tr>
             <tr style="mso-yfti-irow:4">
              <td width="119" valign="top" >
              <p ><b>Structural</b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
             </tr>
             <tr style="mso-yfti-irow:5">
              <td width="119" valign="top" >
              <p ><b>Transportation<br>
              (Roads, Railway, Airports, Harbours, Tunnels, Docks)</b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
             </tr>
             <tr style="mso-yfti-irow:6;mso-yfti-lastrow:yes">
              <td width="119" valign="top" >
              <p ><b>Geo-Technical<br>
              (Highways, Flyovers)</b></p>
              </td>
              <td width="86" valign="top"  >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><!--[if !supportLists]--><span ><span class="icon-checked"></span></span><!--[endif]--><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
              <td width="86" valign="top" >
              <p ><b></b></p>
              </td>
             </tr>
            </tbody></table>
        </div>
            </div>
            <!-- <div *ngIf="aboutArea" class="imageSection">
                <img [src] = "aboutArea.knowYourPath" alt="" />
            </div> -->
        </div>
    
    </div>
</section>

<section *ngIf="!showAssesment" class="assessmentSection">
    <div class="container">
        <div class="commonHeadingStyle">Enhance employability using these {{'Assessments'}}</div>
        <!-- <p>Best for those who want a series of Assessment</p> -->
        <div class="descriptionSection " style="display: none;">
            <div class="achieve">
                <div class="heading4">What you will achieve</div>
                <!-- <ul>
                    <li> -->
                        <!-- <em class="icon-checked"></em> -->
                        <p>{{aboutArea?.contentAchieve}}</p>
                    <!--</li>
                 </ul> -->
            </div>
            <div class="requirements require">
                <div class="heading4">Requirements</div>
                <p>{{aboutArea?.contentRequirement}}</p>
            </div>
            <!-- <div class="description">
                <span class="heading4">Description</span>
                <div [ngClass]="{'limitTextHeight': isReadMore}">
                    <p>{{aboutArea?.contentDescription}}</p>
                </div>
                <button *ngIf="aboutArea?.contentDescription.length > 370" type="button" (click)="showText()">
                    {{ isReadMore ? 'Show More': 'Show Less' }} <em class="icon-DownArrow"></em>
                </button>
            </div> -->
        </div>
        <div class="assessmentsArea">
            <div class="heading5">{{aboutArea?.name}}</div>
            <span class="totalAssessments"><em class="icon-Assessment"></em>{{totalAssessmentCount}} {{totalAssessmentCount > 1 ? 'Assessments':'Assessment'}}</span>
            <div class="assessments">
                <div *ngFor="let competency of competencyList">
                    <figure>
                        <img src="/assets/images/assessments_img.png" alt="" />
                    </figure>
                    <div class="content">
                        <div class="heading5">{{competency.name}}</div>
                        <span class="assessmentCount"><em class="icon-Assessment"></em>{{competency?.totalAssessment}} {{competency?.totalAssessment > 1 ? 'Assessments': 'Assessment'}}</span>
                        <span class="viewDetails" (click)="openAssessments(competency)">View Details</span>
                    </div>
                    <div class="hoverSection">
                        <div class="heading5">{{competency.name}}</div>
                        <div class="hoverContent">
                            <p>{{competency?.shortDescription}}</p>
                            <span class="assessmentCount"><em class="icon-Assessment"></em>{{competency?.totalAssessment}} {{competency?.totalAssessment > 1 ? 'Assessments': 'Assessment'}}</span>
                            <span class="viewDetails" (click)="openAssessments(competency)">View Details</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-certify-assessment *ngIf="showAssesment" [competencyData]="competencyData" [areaData]= "aboutArea"></app-certify-assessment>

<!-- How it works -->
<section class="howitWorksSection">
    <div class="container">
        <div class="smalltext">How It Works</div>
        <div class="heading">Get Started with 4 Easy Steps</div>
        <ul *ngIf = "howItWorks">
            <li *ngFor="let contents of howItWorks.howItWorksContents">
                <figure>
                    <img src="/assets/images/assessments_img.png" alt="" />
                </figure>
                <div class="heading6">{{contents.title}}</div>
                <p>{{contents.content}}</p>
            </li>
        </ul>
    </div>
</section>

<!-- Assessment Certification -->
<section class="assessmentCertification">
    <div class="container">
        <div class="wrapper">
            <div class="left">
                <div class="heading">Assessment and Certification</div>
                <p>Fusce tempor, tortor et vehicula posuere, mi est iaculis quam, nec luctus enim erat non augue. Nunc accumsan semper aliquet.</p>
                <button class="viewMore">View More</button>
            </div>
            <div class="right">
                <figure>
                    <img src="/assets/images/assessmentCertification.png" alt="" />
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- Assessment Tools -->
<section class="assessmentTools">
    <div class="container">
        <div class="commonHeadingStyle">Assessment Tools Used in Hiring and Employee Development</div>
        <p>Choose Various Types of Tests From Our Skills Assessment Library or Get Them Customized to Your Needs</p>
        <div class="topSix">The Top 6 Tests Used in Hiring</div>
        <div class="threeColumn">
            <div class="left">
                <div class="sec1 commonStyle">
                    <span class="heading">PSYCHOMETRIC</span>
                    <p>On successful completion of the test, the test-taker will get a comprehensive employability scorecard benchmarking competencies with industry requirements.</p>
                </div>
                <div class="sec2 commonStyle">
                    <span class="heading">Code</span>
                    <p>On successful completion of the test, the test-taker will get a comprehensive employability scorecard benchmarking competencies with industry requirements.</p>
                </div>
                <div class="sec3 commonStyle">
                    <span class="heading">Apptitude</span>
                    <p>On successful completion of the test, the test-taker will get a comprehensive employability scorecard benchmarking competencies with industry requirements.</p>
                </div>
            </div>
            <div class="center">
                <figure>
                    <img src="/assets/images/assessmentTools.png" alt="" />
                </figure>
            </div>
            <div class="right">
                <div class="sec1 commonStyle">
                    <span class="heading">Domain</span>
                    <p>On successful completion of the test, the test-taker will get a comprehensive employability scorecard benchmarking competencies with industry requirements.</p>
                </div>
                <div class="sec2 commonStyle">
                    <span class="heading">Case Study</span>
                    <p>On successful completion of the test, the test-taker will get a comprehensive employability scorecard benchmarking competencies with industry requirements.</p>
                </div>
                <div class="sec3 commonStyle">
                    <span class="heading">English</span>
                    <p>On successful completion of the test, the test-taker will get a comprehensive employability scorecard benchmarking competencies with industry requirements.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- benifits -->
<section class="benifits">
    <div class="container">
        <div class="heading">Our Benefits</div>
        <div class="heading5">Our workforce has grown because we make taking care of our employees a priority.</div>
        <ul>
            <li>
                <img src="../../../../assets/images/shapecareer.svg" alt="">
                <div class="benifitTitle">Shape your career</div>
                <p>Bring your ideas and pursue innovative career tracks, opportunities, and job rotations.</p>
            </li>
            <li>
                <img src="../../../../assets/images/grow.svg" alt="">
                <div class="benifitTitle">Learn and grow</div>
                <p>Enhance your professional development through education and training.</p>
            </li>
            <li>
                <img src="../../../../assets/images/current.svg" alt="">
                <div class="benifitTitle">Keep current</div>
                <p>Our skills training helps you keep pace with the changing workplace.</p>
            </li>
        </ul>
    </div>
</section>

<!-- testimonials -->
<section class="testimonials">
    <div class="container">
        <div class="commonHeadingStyle">{{'Testimonials'}}</div>
        <div class="testimonialContent" *ngFor="let testimonial of testimonals">
            <div class="left">
                <figure>
                    <img [src]="testimonial?.imageurl" alt="" />
                </figure>
                <div>
                    <div class="heading5">
                        {{testimonial?.name}}
                    </div>
                    <span class="postedDate">2 days ago</span>
                </div>
            </div>
            <div class="right">
                <div class="ratingStar">
                    <em class="icon-Star"></em>
                    <em class="icon-Star"></em>
                    <em class="icon-Star"></em>
                    <em class="icon-Star"></em>
                    <em class="icon-Star"></em>
                </div>
                <div class="heading6">
                    {{testimonial?.description}}
                </div>
                <div class="review">
                    <span class="helpful">Was this review helpful?</span>
                    <span class="yes">Yes</span>
                    <span class="no">No</span>
                    <span class="report">Report</span>
                </div>
            </div>
        </div>
        <div class="moreReviews">
            <button>See more reviews</button>
        </div>
    </div>
</section>
    <!-- Related items -->
    <ng-container>
        <section class="relatedProgramsAssessments programList">
            <div class="container">
                <div class="commonHeadingStyle">{{'Related Programs for you'}}</div>
            </div>
            <div class="programBg commonCSS">
                <div class="container">
                    <div class="wrapper">
                        <owl-carousel-o [options]="relatedList">
                            <ng-container>
                                <ng-template carouselSlide *ngFor="let relatedchild of relatedcourses">
                                    <div class="relatedList">
                                        <span class="heading">{{relatedchild?.title}}</span>
                                        <figure>
                                            <img [src]="relatedchild?.imageurl" alt="" />
                                        </figure>
                                        <div class="contentWrapper">
                                            <span class="batchStarts"><em class="icon-Time"></em> Batch starts on : {{relatedchild?.date}}</span>
                                            <div class="mnthStarts">
                                                <span class="months"><em class="icon-Booked"></em> {{relatedchild?.duration}}</span>
                                                <span class="stars">
                                                    <em class="icon-Star" *ngFor="let rate of relatedchild?.rating"></em>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </section>

        <section class="relatedProgramsAssessments assessmentList">
            <div class="container">
                <div class="commonHeadingStyle">{{'Related Assessment for you'}}</div>
            </div>
            <div class="assessmentBg commonCSS">
                <div class="container">
                    <div class="wrapper">
                        <owl-carousel-o [options]="relatedList">
                            <ng-container>
                                <ng-template carouselSlide *ngFor="let relatedcourse of relatedassesment">
                                    <div class="relatedList">
                                        <span class="heading">{{relatedcourse?.title}}</span>
                                        <figure>
                                            <img [src]="relatedcourse?.imageurl" alt="" />
                                        </figure>
                                        <div class="contentWrapper">
                                            <div class="mnthStarts">
                                                <span class="stars">
                                                    <em class="icon-Star" *ngFor="let rate of relatedcourse?.rating"></em>
                                                </span>
                                            </div>
                                            <div class="level">
                                                <div>
                                                    <p>Skill Level</p>
                                                    <span><em class="icon-Level2"></em> {{relatedcourse?.level}}</span>
                                                </div>
                                                <div>
                                                    <p>{{'No. of Assessments '}}</p>
                                                    <span><em class="icon-Document"></em> {{relatedcourse?.NoOfAssessment}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>

    <app-partners-list class="app-Partners" [OurPartners]="OurPartners"></app-partners-list>

    </ng-container>



<ng-template #kycmandate >
    <app-kyc-mandate></app-kyc-mandate>
  </ng-template>


<!-- <app-rating-studentFeedback></app-rating-studentFeedback> -->