
<header #header_width (mouseleave)="triggerLeave()">
    <div class="outline" (mouseenter)="triggerLeave()">

    </div>
    <div class="leftWrapper">
        <div [ngClass]="(header_width.offsetWidth !> '992') ?  'hide_' : 'show_'" class="hambrg_">
            <em class="icon-Hamburger" (click)="megaMobileMenuClick()"></em>
            <!-- <em class="icon-Hamburger" (click)="search_sec()"></em> -->
        </div>
        <figure class="edutechLogo" (click)="homepage(); closeMegaMenu_()" (mouseenter)="triggerLeave()">
            <img src="https://assets.lntedutech.com/edutech_logo.svg" alt="L&T Logo">
        </figure>
        <div class="megaMenu">
            <button (mouseenter)="megaMenuClick()">
                <img src="../../../assets/images/catalog.svg" alt="">
                <span>Catalog</span>
                <em [ngClass]="showMenu == 'out' ? 'icon-DownArrow' : 'icon-UpArrow'" ></em>
            </button>
        </div>
        <nav (mouseenter)="triggerLeave()" [ngClass]="(header_width.offsetWidth > '992') ?  'topMenu' : 'hide_'" [class.topMenu_lap]="menu_tab">
            <ul>
                <li><a [ngClass]="isCourse ? 'activeTab' : ''" (click)="onlineAssessment('course')">My Course</a></li>
                <li><a [ngClass]="isAssement ? 'activeTab' : ''" (click)="onlineAssessment('assessment')">My Assessment</a></li>
            </ul>
        </nav>
    </div>

    <div class="rightWrapper">
        <div class="signInRegister">
            <div *ngIf="!showAvatar" class="recruiter">
                <a href="https://unifiedreport.lntedutech.com/login" target="recruiterLogin"><em class="icon-Recruiter"></em> <span>Recruiter? Login here</span></a>
            </div>
            <span class="cart">
                <a (click)="openCart(); closeMegaMenu_()">
                <em *ngIf="cartCount == 0" class="icon-Cart"></em>
                <em *ngIf="cartCount != 0" matBadge="{{cartCount}}" matBadgeColor="warn" class="icon-Cart"></em>
            </a></span>
            <ng-container *ngIf="showAvatar">
                <!-- <span class="cart"><a><em class="icon-Bell"></em></a></span> -->
                <div [matMenuTriggerFor]="menu" [matTooltipPosition]="'left'" [matTooltip]="userDetails?.firstname + ' ' + userDetails?.lastname" class="avatar">
                    <span *ngIf="!profImage"><em class="icon-User"></em></span>
                    <figure *ngIf="profImage" class="profImg">
                        <img [src]="profImage + blobToken" alt="" />
                    </figure>
                    <mat-menu #menu="matMenu" class="profileMenu">
                        <div class="profile">
                            <div class="profIcon">
                                <figure class="profImg">
                                    <span class="avatar" *ngIf="!profImage"><em class="icon-User"></em></span>
                                    <img *ngIf="profImage" [src]="profImage + blobToken" alt="" />
                                </figure>
                            </div>
                            <div class="profDesc">
                                <strong>{{userDetails?.firstname + ' ' + userDetails?.lastname}}</strong>
                                <span>{{userDetails?.emailId}}</span>
                                <button (click)="editProfile()">Edit Profile</button>
                            </div>
                        </div>
                        <div class="settings">
                            <!-- <span class="heading">Account</span> -->
                            <div><a   (click)="navigateProfile('account')">Account settings</a></div>
                            <div><a (click)="navigateProfile('history')">Purchase history</a></div>
                            <div><a  (click)="navigateProfile('payment')">Payment methods</a></div>
                        </div>
                        <div class="signout">
                            <a>Help</a>
                            <a class="signOut" (click)="logout()">Sign out</a>
                        </div>
                    </mat-menu>
                </div>
            </ng-container>
            <ng-container *ngIf="!showAvatar">
                <span class="signIn"><a  (click)="openOnBoard('0'); closeMegaMenu_()">Sign In</a></span>
                <button class="register" (click)="openOnBoard('1'); closeMegaMenu_()">Register</button>
            </ng-container>
        </div>
    
        <div *ngIf="!showAvatar" class="mobileLogin">
            <button (click)="mobileclick()"> <span>Login</span> <em class="icon-DownArrow"></em></button>
        </div>
    </div>
    <nav class="menuLevel1 desktopMenu" [@slideInOut]="showMenu" (mouseleave)="triggerLeave()">
        <ng-container *ngIf ="catalogMenu.length == 0">
            <div class="SkeletonWrapper">
                <div class="item1 itemSmall">
                    <ngx-skeleton-loader count="7" [theme]="{ 'border-radius': '5px', height: '30px', 'background-color': '#eff1f6', border: '1px solid white' }"></ngx-skeleton-loader>
                </div>
                <div class="item2 itemSmall">
                    <ngx-skeleton-loader count="7" [theme]="{ 'border-radius': '5px', height: '30px', 'background-color': '#eff1f6', border: '1px solid white' }"></ngx-skeleton-loader>
                </div>
                <div class="item3 itemBig">
                    <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '5px', width: '200px', height: '30px', 'background-color': '#eff1f6', border: '1px solid white' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '5px', height: '30px', 'background-color': '#eff1f6', border: '1px solid white' }"></ngx-skeleton-loader>
                    <div>
                        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '5px', width: '150px', height: '30px', 'background-color': '#eff1f6', border: '1px solid white' }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '5px', width: '150px', height: '30px', 'background-color': '#eff1f6', border: '1px solid white' }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '5px', width: '150px', height: '30px', 'background-color': '#eff1f6', border: '1px solid white' }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '5px', width: '150px', height: '30px', 'background-color': '#eff1f6', border: '1px solid white' }"></ngx-skeleton-loader>
                    </div>
                    <div>
                        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '5px', width: '150px', height: '30px', 'background-color': '#eff1f6', border: '1px solid white' }"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf ="catalogMenu.length > 0">
            <ul class="headtxt_">
                <li>
                    <a>Catalog</a>
                    <ul>
                        <li><a>DOMAIN</a>
                            <ul>
                                <li><a>STREAM</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li *ngFor="let level0 of catalogMenu"><a>{{level0.label}}</a>
                    <ul>
                        <ng-container *ngFor="let level1 of level0.data">
                            <li><a (click)="catalogHome(level1.cid ,level0.type)">{{level1.name}}</a>
                                <ul>
                                    <ng-container *ngFor="let level2 of level1.children">
                                        
                                        <li><a (click)="gotoArea(level2,level0.type)">{{level2.name}}</a>
                                            <ul class="thirdLevel">
                                                <li>
                                                    <em class="icon-Close" (click)="closeMegaMenu()"></em>
                                                    <div class="heading4">{{level2.name}}</div>
                                                    <p>
                                                        {{ (level2.longDescription.length > 250)? (level2.longDescription | slice:0:250)+'...':(level2.longDescription) }}
                                                    </p>
                                                    <button (click)="gotoArea(level2,level0.type)">Learn More</button>
                                                    <figure>
                                                        <img [src]="level1.menuImage.url" alt="" />
                                                    </figure>
                                                    <div class="heading6">Featured</div>
                                                    <nav>
                                                        <ng-container *ngFor="let level3 of level2.children">
                                                            <a class="featureChild">{{level3.name}}</a>
                                                        </ng-container>
                                                    </nav>
                                                </li>
                                            </ul>
                                        </li>
                                    </ng-container>
                                </ul>
                            </li>
                        </ng-container>
                    </ul>
                </li>
            </ul>
        </ng-container>
    </nav>
</header>

<div class="mobileRegister" [@mobileslideInOut]="mobileshowMenu">
    <div>
        <div class="closeIcon"><em class="icon-Close" (click)="closeMegaMenu_()"></em></div>
        <ng-container *ngIf="!showAvatar">
            <span class="signIn"><a  (click)="openOnBoard('0'); closeMegaMenu_()">Sign In</a></span>
            <span class="register" (click)="openOnBoard('1'); closeMegaMenu_()">Register</span>
        </ng-container>
        <div *ngIf="!showAvatar" class="recruiter">
            <a href="https://unifiedreport.lntedutech.com/login" target="recruiterLogin">
                <em class="icon-Recruiter"></em> 
                <span>Recruiter? Login here</span>
            </a>
        </div>
    </div>
</div>

<mat-menu class="menuCustomClass" #menu="matMenu" >
    <button mat-menu-item>Check My Score</button>
    <button mat-menu-item>Download My Certificate</button>
    <button mat-menu-item (click)="getFAQ()">FAQ</button>
</mat-menu>

<nav class="mobileMegamenu mobilemenu" [@mobileslideInOut]="mobileshowMenu">
    <ng-container *ngIf ="catalogMenu.length > 0">
        <ng-container *ngIf="l1.length > 0 && l2.length <= 0 && l3.length <= 0 && l4.length <= 0">
            <div class="mobilemenuHeader first">
                <div class="backArrow"><em class="icon-Back"></em></div>
                <span class="headingStyle">Menu</span>
                <div class="closeIcon"><em class="icon-Close" (click)="closeMegaMenu_()"></em></div>
            </div>
            <nav class="topMenuMobile">
                <a [ngClass]="isCourse ? 'activeTab' : ''" (click)="onlineAssessment('course')">My Course</a>
                <a [ngClass]="isAssement ? 'activeTab' : ''" (click)="onlineAssessment('assessment')">My Assessment</a>
            </nav>
            <div class="fisrtLevel commonSyle">
                <span class="header-txt">Catalog</span>
                <ul>
                    <li *ngFor="let item of l1">
                        <a (click)="firstlevelClick(item)">
                            <span>{{item.label}}</span><em class="icon-RightArrow"></em>
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
        <ng-container *ngIf="l1.length > 0 && l2.length > 0 && l3.length <= 0 && l4.length <= 0">
            <div class="mobilemenuHeader">
                <div class="backArrow"><em (click)="l2 = []" class="icon-Back"></em></div>
                <div class="headingStyle">{{l1name}}</div>
                <div class="closeIcon"><em class="icon-Close" (click)="closeMegaMenu_()"></em></div>
            </div>
            <div class="secondLevel commonSyle">
                <span class="header-txt">Domain</span>
                <ul>
                    <li *ngFor="let item of l2">
                        <a>
                            <span (click)="catalogHome(item.cid,productType)">{{item.name}}</span>
                            <em class="icon-RightArrow" (click)="secondlevelclick(item)"></em>
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
        <ng-container *ngIf="l1.length > 0 && l2.length > 0 && l3.length > 0 && l4.length <= 0">
            <div class="mobilemenuHeader">
                <div class="backArrow"><em (click)="l3 = []" class="icon-Back"></em></div>
                <div class="headingStyle">{{l2name}}</div>
                <div class="closeIcon"><em class="icon-Close" (click)="closeMegaMenu_()"></em></div>
            </div>
            <div class="thirdlevel commonSyle">
                <span class="header-txt">Stream</span>
                <ul>
                    <li *ngFor="let item of l3">
                        <a>
                            <span (click)="gotoArea(item,productType)">{{item.name}}</span>
                            <em class="icon-RightArrow" (click)="thirdlevelclick(item)"></em> 
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
        <ng-container *ngIf="l1.length > 0 && l2.length > 0 && l3.length > 0 && l4.length > 0">
            <div class="mobilemenuHeader">
                <div class="backArrow"><em (click)="l4 = []" class="icon-Back"></em></div>
                <div class="headingStyle"><span>{{l3name}}</span></div>
                <div class="closeIcon"><em class="icon-Close" (click)="closeMegaMenu_()"></em></div>
            </div>
            <div class="fourthLevel commonSyle">
                <p>{{ (longdesc.length > 250)? (longdesc | slice:0:250)+'...':(longdesc) }}</p>
                <button (click)="gotoArea(l3item,productType)">Learn More</button>
                <div class="heading6">Featured</div>
                <nav>
                    <a *ngFor="let item of l4">{{item.name}}</a>
                </nav>
                <figure>
                    <img [src]="l1image" alt="" />
                </figure>
            </div>
        </ng-container>
    </ng-container>
</nav>