@import "variables";

header {
    position: relative;
    z-index: 2;
    display: grid;
    justify-content: space-between;
    align-items: center;
    background-color: $whiteColor;
    padding: 10px 15px;
    font-size: 12px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    min-height: 4em;
    grid-template-columns: 0.08fr 0.4fr 0.5fr 0.8fr;
    grid-template-areas: "hambrg figure megaMenu signIn";
    @include sm {  
        grid-template-columns: 0.01fr 0.4fr 0.3fr  0.6fr;
        grid-template-areas: "hambrg figure megaMenu signIn";
    }
    @include md { 
        grid-template-columns: 0.01fr 0.5fr 0.3fr 1.1fr 0.6fr 0.6fr;
        grid-template-areas: "hambrg figure megaMenu megaMenu megaMenu signIn";
    }
    @include lg { 
        font-size: 14px;
        grid-template-columns: 0.08fr 0.4fr 0.3fr 1fr 0.7fr 0.5fr;
        grid-template-areas: "hambrg figure megaMenu megaMenu megaMenu signIn";
    }
    @include xl { 
        font-size: 16px;
        grid-template-columns: 0.45fr 0.33fr 1.15fr 0.87fr 0.5fr;
        grid-template-areas: 'figure megaMenu topMenu search_ signIn';
    }
}
.hambrg_ {
    color: $lightGrey;
    grid-area: hambrg;
    position: relative;
    left: -2px;
    font-size: 1.2em;
}
figure {
    cursor: pointer;
    grid-area: figure;
    img {
        vertical-align: middle;
        width: 57%;
    } 
}
.megaMenu {
    grid-area: megaMenu;
    @include xl { 
        padding-left: 0.3em;
    }
    button {
        @include buttonFilled;
        padding: 0.375em 0.75em;
        font-size: 0.937em;
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        min-width: 78px;
        // height: 23.4px;
        @include sm { 
            min-width: 100px;
            // height: 30.2px;
        }
        em {
            font-size: 0.8em;
            display: inline-block;
            margin-left: 5px;
            // position: relative;
            // left: 7px;
            // top: 1px;

            &.icon-UpArrow {
                top: 0px;
            }
        }
    }
}
.topMenu {
    grid-area: topMenu;
    .activeTab {
        color: $primaryColor !important;
    }
    @include md {
        
    }
    @include xl { 

    }
    ul {
        li {
            display: inline-block;
            position: relative;
            padding: 1em 0;
            @include md {
                margin-right: 1.3em;
            }
            @include xl {
                
            }
            &:last-child {
                margin-right: 0;
                cursor: pointer;
            }
            em {
                font-size: .75em;
                display: inline-block;
                vertical-align: middle;
            }
            &:hover {
                a {
                    color: $primaryColor;
                }
            }
            a {
                font-size: 1em;
                font-weight: 400;
                color: $darkGrey;
                transition: all 0.2s linear;
            }
        }
    }
}
.topMenu_lap {
    @extend .topMenu;
    position: absolute;
    top: 3.2em;
    left: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    z-index: 99;
    &.hide_ {
        display: block;
    }
    ul li {
        display: block; 
        text-align: left;
        padding: 0.5em 1.4em;

        @include sm {
            padding: 0.8em 0;
            display: inline-block;
        }
    }
}
.searchCertification {
    position: relative;
    grid-area:search_ ;
    @include md {
        
    }
    @include xl {
        margin-left: 1em;
    }
    input {
        border: 1px solid $greyColor;
        border-radius: 1.56em;
        padding: 0.45em 2.5em 0.45em 1em;
        font-size: 0.875em;
        width: 90%;
        box-sizing: border-box;
        color: $mediumGrey;
    }
    em {
        position: absolute;
        left: 83%;
        top: 46%;
        transform: translateY(-50%);
        font-size: 0.875em;
        color: $lightGrey;

        &.icon-Search {
            pointer-events: none;
        }
    }
}

.searchCertification_lap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgb(255 255 255 / 80%);
    height: 100%;
    padding: 0 0.5em;
    z-index:89;

    &.hide_ {
        display: block;
    }
    &:before {
        font-family: "icomoon" !important;
        font-size: 1.2em;
        content: '\e950';
        position: absolute;
        z-index: 99;
        top: 0.85em;
        left: 0.8em;
        color: #999;
    }

input[type='text'] {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    height: 3.2em;
    position: relative;
    z-index: 89;
    font-size: 1.1em;
    padding: 0.4em 2.4em 0.4em 2.2em;
    width: 100%;
}
em {
    font-size: 0.8em;
    z-index: 99;
    top: 1.7em;
    position: absolute;
    right: 20px;
    color: #999999;
}
}
.signInRegister {
    grid-area: signIn;
    text-align: right;
    @include md {
      
    }
    @include lg {
        
    }
    @include xl {
       
    }
    span, button {
        vertical-align: middle;
        display: inline-block;
    }
    .cart {
        color: $lightGrey;
        display: inline-block;
        margin-right: 0.5em;
        @include md { 
        }
        @include xl {
            margin-right: 1.5em;
        }
        em {
            font-size: 1.15em;
            color: $mediumGrey;
            @include lg {
                margin-right: 0.5em;
            }
        }
    }
    .signIn {
        margin-right: 0.9em;
        font-size: 0.937em;
        font-weight: 400;
        color: $darkGrey;
    }
    .register {
        @include buttonOutlined;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 0.937em;
        font-weight: 400;
    }
}
// Mega Menu
.menuLevel1 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 4em;
    background-color: $whiteColor;
    //border-top: 1px solid #cdcdcd;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 15%);
    transition: opacity 0.5s ease;
    overflow: hidden;
    
    @include sm {
        top: 4em;
    }
    @include md {
        top: 4.6em;
    }
    @include lg {
        top: 4.3em;
    }
    @include xl {
        top: 4em;
        height: calc(100vh - 74px);
        top: 4.5em;
    }
    &.show {
        opacity: 1;
        display: block;
    }
    &.hide {
        opacity: 0;
    }
   > ul:nth-child(2) > li > a{
        font-weight: 600;
    }
    ul {
        list-style: none;
        padding: 1em 0em;
        height: 100%;
        background-color: #fff;
        box-sizing: border-box;
        padding-top: 0.2em;
        li:hover > a {
            background-color: #F2F2F2;
            border-left: 3px solid $primaryColor;
            color: $primaryColor;
            transition: background 0.3s ease-in-out;
        }
        li:first-child > ul {
            display: block;
        }
        li:hover > ul {
            display: block;
        }
        a {
            display: block;
            padding: 0.9em 2em 0.7em 2em;
            line-height: 1.3;
            border-left: 3px solid #F2F2F2;
        }
    }
    > ul {
        position: relative;
        width: 25%;
        ul {
            display: none;
            border-left: 1px solid #e1e1e1;
            position: absolute;
            left: 100%;
            top: 0;
            width: 100%;
        }
    }
    ul {
        ul {
            li {
                a {
                    border-left: 0;
                    font-weight: 400;
                }
                &:hover {
                    a {
                        border-left: 0;
                    }
                }
            }
            ul {
                background-color: #f3f3f3;
                width: 200%;
                border-left: 1px solid #f3f3f3;
                top: -2.3em;
                height: calc(100% + 2.2em);
                transition: background 0.3s ease-in-out;
                li {
                    padding: 1em 2em 0 2em;
                }
            }
        }
    }
    .thirdLevel {
        position: relative;
        em {
            cursor: pointer;
            position: absolute;
            top: 2em;
            right: 2em;
            font-size: 0.75em;
            color: $mediumGrey;
        }
        .heading4 {
            font-weight: 400;
            color: $mediumGrey;
            line-height: 1.4;
        }
        .heading6 {
            text-transform: uppercase;
            color: $mediumGrey;
            margin: 5em 0 0.5em 0;
        }
        p {
            font-size: 0.9375em;
            font-weight: 400;
            line-height: normal;
            color: $lightGrey;
            padding: 0.625em 1.875em 1.25em 0;
        }
        button {
            border: 1px solid $greyColor;
            font-size: 0.85em;
            font-weight: 400;
            color: $lightGrey;
            border-radius: 1.6em;
            padding: 0.5em 1.25em;
        }
        figure {
            cursor: initial;
            position: absolute;
            display: block;
            width: 95%;
            text-align: right;
            bottom: 0;
            right: 0;
            margin: 0;
            margin-bottom: 5%;
            img {
                width: 40%;
                @include xl {
                    width: 30%;
                }
            }
        }
        nav {
            a {
                padding: 0;
                color: $lightGrey;
                font-size: 0.975em;
                font-weight: 300;
                line-height: 2;
            }
        }
    }
    ul.headtxt_ { 
                height: auto;
                padding: 0;
                padding-top: 0.5em;
                margin: 0;
            a {
                padding: 1em 0 0 2.4em;
                position: relative;
                z-index: 99;
                color: #8f8f8f;
                font-size: 0.8em;
                & + ul {
                    padding-top: 0.5em;
                }
            }
            li:hover > a {
                background-color: transparent;
                border-left: 3px solid transparent;
                color: transparent;
                color: #8f8f8f;
            }
    }
}

.router-link-active {
    color:red !important;
}
.avatar {
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #FFCB00;
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        em {
            color: $blackColor;
            font-size: 1.25em;
        }
    }
    .profImg {
        position: relative;
        width: 2.5em;
        height: 2.5em;
        img {
            background-color: #ffffff;
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
// ::ng-deep  .mat-menu-content {
//     padding-top: 0px !important;
//     padding-bottom: 0px !important;
//   }
  
//  .mat-menu-item{
//     line-height:35px;
//     height:40px;
//   }
// ::ng-deep .mat-menu-panel {
//     min-height: 40px !important;
// }

::ng-deep.profileMenu {
    &.mat-menu-panel {
        min-width: 235px;
        margin-top: 2em;
    }
    .mat-menu-content:not(:empty) {
        padding: 0;
    }
    .profile, .settings, .signout {
        padding: 0.85em 1em;
        box-sizing: border-box;
    }
    .profile {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $greyColor;
    }
    .profIcon {
        width: 20%;
        .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFCB00;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            em {
                color: $blackColor;
                font-size: 1.5em;
            }
        }
        .profImg {
            position: relative;
            width: 3em;
            height: 3em;
            img {
                background-color: #ffffff;
                border: 1px solid #cdcdcd;
                border-radius: 50%;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .profDesc {
        width: 75%;
        strong, span {
            display: block;
        }
        span {
            font-size: 0.975em;
            font-weight: 400;
            color: $lightGrey;
            word-break: break-all;
            line-height: 1.2;
            margin: 0.25em 0 0.5em 0;
        }
        button {
            @include buttonOutlined;
            padding-left: 1.5em;
            padding-right: 1.5em;
            color: $darkGrey;
            font-size: 0.75em;
            font-weight: 400;
            line-height: normal
        }
    }
    .settings {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $greyColor;
        div {
            line-height: 2;
        }
        a {
            color: $mediumGrey;
            font-size: 0.975em;
            font-weight: 400;
        }
    }
    .signout {
        a {
            color: $lightGrey;
        }
        a, .signOut {
            display: block;
            font-size: 0.875em;
            font-weight: 400;
        }
        .signOut {
            color: $primaryColor;
        }
    }
}
::ng-deep .cart .mat-badge-content {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}
::ng-deep.menuCustomClass {
    .mat-menu-content:not(:empty) {
        padding: 0;
    }
}
//Skeleton
.SkeletonWrapper {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    .itemSmall {
        width: 25%;
    }
    .itemBig {
        width: 48%;
    }
}
.show_ {
    display: inline-block;
}
.hide_ {
    display: none;
}
