@import "variables";

header {
    // position: relative;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    // flex-wrap: wrap;
    background-color: $whiteColor;
    padding: 10px 15px;
    height: 74px;
    font-size: 12px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    .outline {
        position: absolute;
        width: 100%;
        height: 53px;
        left: 0%;
        top: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: -1;
    }
    .leftWrapper, .rightWrapper {
        @include md {
            width: 50%;
        }
    }
    .rightWrapper {
        text-align: right;
        width: 40%;
    }
    .leftWrapper {
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
.hambrg_ {
    color: $lightGrey;
    position: relative;
    left: -2px;
    font-size: 1.5em;
}
.edutechLogo {
    cursor: pointer;
    width: 35%;
    margin-right: 0;
    margin-left: 2em;
    @include sm {
        width: 20%;
    }
    @include md {
        margin-right: 2em;
    }
    @include lg {
        width: 13%;
        margin-left: 0;
    }
    @include xl {
        width: 13%;
    }
    img {
        width: 100%;
    } 
}
.megaMenu {
    // display: flex;
    display: none;
    margin-right: 30px;
    @include lg {
        display: inline-flex;
    }
    @include xl {
        padding-left: 0.3em;
    }
    button {
        padding: 0.375em 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1em;
        font-weight: 400;
        background-color: $secondaryColor;
        color: $whiteColor;
        border-radius: 5px;
        border: none;
        transition: all 0.3s ease-in-out;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
        &.catalogActive {
            background-color: $whiteColor !important;
            color: $primaryColor !important;
            border: 1px solid $primaryColor !important;  
        }
        span{
            margin: 0 0.5em;
        }
        em {
            font-size: 0.8em;
            display: inline-block;
            margin-left: 5px;
            &.icon-UpArrow {
                top: 0px;
            }
        }
    }
}
.topMenu {
    .activeTab {
        color: $primaryColor !important;
    }
    ul {
        li {
            display: inline-block;
            position: relative;
            padding: 1em 0;
            @include md {
                margin-right: 1.3em;
            }
            &:last-child {
                margin-right: 0;
                cursor: pointer;
            }
            em {
                font-size: .75em;
                display: inline-block;
                vertical-align: middle;
            }
            &:hover {
                a {
                    color: $primaryColor;
                }
            }
            a {
                font-size: 1.25em;
                font-weight: 400;
                color: $darkGrey;
                transition: all 0.2s linear;
                em {
                    margin-left: 10px;
                }
            }
        }
    }
}
.topMenu_lap {
    @extend .topMenu;
    position: absolute;
    top: 3.2em;
    left: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    z-index: 99;
    &.hide_ {
        display: block;
    }
    ul li {
        display: block; 
        text-align: left;
        padding: 0.5em 1.4em;

        @include sm {
            padding: 0.8em 0;
            display: inline-block;
        }
    }
}
.signInRegister {
    // grid-area: signIn;
    text-align: right;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    @include md {
        margin-top: 0;
        justify-content: flex-end;
    }
    .recruiter {
        display: none;
        margin-right: 1.75em;
        @include lg {
            display: inline-flex;
        }
        a {
            color: $mediumGrey;
            font-size: 1.15em;
            display: flex;
            em {
                font-size: 1.3em;
            }
        }
        span {
            margin-left: 5px;
        }
        &:hover {
            span, em {
                color: #2EA3F2;
            }
        }
    }
    span, button {
        vertical-align: middle;
        display: inline-block;
    }
    .cart {
        color: $lightGrey;
        display: inline-block;
        margin-right: 2.5em;
        line-height: normal;
        @include xl {
            margin-right: 1.5em;
        }
        em {
            font-size: 1.5em;
            color: $mediumGrey;
            @include lg {
                font-size: 1.25em;
                margin-right: 0.5em;
            }
        }
    }
    .signIn {
        margin-right: 0.9em;
        font-size: 1.15em;
        font-weight: 400;
        color: $darkGrey;
        display: none;
        @include lg {
            display: inline-flex;
        }
    }
    .register {
        padding: 0.375em 1.5em;
        background-color: $whiteColor;
        color: $secondaryColor;
        font-size: 1.15em;
        font-weight: 400;
        border-radius: 5px;
        border: 1px solid $primaryColor;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        display: none;
        &:hover {
            color: $whiteColor;
            background-color: $primaryColor;
        }
        @include lg {
            display: inline-flex;
        }
    }
}
.mobileLogin {
    display: inline-flex;
    align-items: center;
    @include lg {
        display: none;
    }
    button {
        color: #2CA3F1;
        font-size: 1.25em;
        font-weight: 400;
        line-height: normal;
        padding: 6px 12px;
        border: 1px solid #2CA3F1;
        border-radius: 50px;
        background-color: $whiteColor;
        em {
            font-size: 0.85em;
            margin-left: 7px;
        }
    }
}

.mobileRegister {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 5.3em;
    background-color: #F6F6F6;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 15%);
    transition: opacity 0.5s ease;
    overflow: hidden;
    z-index: 99;
    > div {
        padding: 1em 1.5em;
    }
    span { 
        display: block;
        font-size: 1.66em;
        font-weight: 700;
        color: $blackColor;
        line-height: normal;
        margin-bottom: 1.25em;
    }
    .closeIcon {
        line-height: normal;
        text-align: right;
        em {
            color: $blackColor;
            font-size: 1.35em;
            margin-bottom: 20px;
        }
    }
    .recruiter {
        a  {
            display: inline-flex;
            align-items: center;
            em {
                font-size: 1.65em;
                margin-right: 7px;
            }
            span {
                margin-bottom: 0;
            }
        }
    }
}

// Mega Menu
.menuLevel1 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 4em;
    background-color: $whiteColor;
    //border-top: 1px solid #cdcdcd;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 15%);
    border-radius: 10px;
    transition: opacity 0.5s ease;
    overflow: hidden;
    z-index: 999;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    @include sm {
        top: 4em;
    }
    @include md {
        top: 4.7em;
    }
    @include lg {
        width: 90%;
        top: 5.3em;
    }
    @include xl {
        width: 85%;
    }
    @media only screen and (min-width: 1540px) {
        width: 80%;
    }
    &.show {
        opacity: 1;
        display: block;
    }
    &.hide {
        opacity: 0;
    }
    ul.headtxt_ {
        height: auto;
        padding: 0;
        margin: 0;
        background-color: $secondaryColor;
        & > li {
            & > ul {
                background-color: #f9f9f9;
                & > li {
                    & > div {
                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background-color: #999999;
                            left: 0;
                            bottom: 0;
                        }
                    }
                    & > ul {
                        background-color: $whiteColor;
                        & > li {
                            & > div {
                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 1px;
                                    background-color: #999999;
                                    left: 0;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        div {
            position: relative;
            z-index: 99;
            font-family: "OpenSans", sans-serif;
            font-size: 0.75em;
            font-weight: 400;
            text-transform: uppercase;
            // border-left: 3px solid transparent;
            padding: 1.5em 0;
            margin: 0 3.3em;
        }
        // li:hover > div {
        //     // background-color: transparent;
        //     // border-left: 3px solid transparent;
        //     cursor: inherit;
        //     // color: transparent;
        // }
        .catalog {
            color: #EDEDED;
        }
        .domain, .stream {
            color: #999999;
        }
    }
    ul {
        list-style: none;
        // padding: 1em 0em;
        height: 100%;
        background-color: #fff;
        box-sizing: border-box;
        // li:hover > a {
        //     background-color: #F2F2F2;
        //     color: $primaryColor;
        //     transition: background 0.3s ease-in-out;
        // }
        li:first-child > ul {
            display: block;
        }
        li:hover > ul {
            display: block;
        }
        div {
            display: block;
            line-height: 1.3;
        }
    }
    > ul {
        position: relative;
        width: 33.3%;
        ul {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            width: 100%;
        }
    }
    & > ul.menuText {
        background-color: $secondaryColor;
        &::after {
            content: '';
            background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/menuBg.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 230px;
            position: absolute;
            right: 0;
            bottom: 0;
            @include xl {
                width: 88%;
            }
            @media only screen and (min-width: 1540px) {
                width: 62%;
            }
        }
        & > li {
            .firstLevel {
                width: 100%;
                display: inline-flex;
                align-items: center;
                padding: 0 2em;
                margin: 1.5em 0;
                position: relative;
                cursor: pointer;
                &:before, &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    transition: 0.2s all ease-in-out;
                }
                &:before {
                    width: 0;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: $blueLabelColor;
                }
                &::after {
                    right: 0;
                    top: 50%;
                    transform: translate3D(0, -50%, 0);
                    width: 0; 
                    height: 0; 
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid $secondaryColor;
                }
                .icon {
                    width: 10%;
                    color: #CCCCCC;
                    em {
                        font-size: 2em;
                    }
                }
                .content {
                    color: #CCCCCC;
                    width: 86%;
                    margin-left: 4%;
                    span {
                        font-family: "OpenSans", sans-serif;
                        font-size: 1.125em;
                        font-weight: 600;
                        line-height: normal;
                    }
                    p {
                        font-size: 0.75em;
                        font-weight: 400;
                        line-height: normal;
                        margin: 0.75em 0 0 0;
                    }
                }
            }
            &:hover {
                .firstLevel {
                    .icon, .content {
                        color: $whiteColor;
                    }
                    &::before {
                        width: 3px;
                    }
                    &::after {
                        transform: translate3D(15px, -50%, 0);
                    }
                }
            }
            & > ul {
                background-color: #f9f9f9;
                padding: 0.25em 0 1.5em 0;
                & > li {
                    > div {
                        padding: 1em 2.5em 0.75em 2.5em;
                        line-height: 1.4;
                        font-family: "OpenSans", sans-serif;
                        font-size: 0.9375em;
                        font-weight: 400;
                        color: $darkGrey;
                        position: relative;
                        cursor: pointer;
                        transition: all 0.2s linear;
                        em {
                            position: absolute;
                            right: 2.5em;
                            top: 50%;
                            transform: translateY(-50%);
                            color: $secondaryColor;
                            font-size: 1em;
                        }
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                    &:hover {
                        > div {
                            color: $secondaryColor;
                            font-weight: 700;
                        }
                    }
                    & > ul {
                        background-color: $whiteColor;
                        padding: 1.5em 2.5em;
                        & > li {
                            > div {
                                margin-bottom: 1.5em;
                                overflow: hidden;
                                background-color: #f9f9f9;
                                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
                                border-radius: 3px;
                                padding: 0.75em;
                                position: relative;
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                transition: 0.3s ease-in-out;
                                &::before {
                                    content: '';
                                    position: absolute;
                                    background-color: #20B19A;
                                    height: 100%;
                                    width: 2px;
                                    left: 0;
                                    top: 0;
                                }
                                span {
                                    font-family: "OpenSans", sans-serif;
                                    font-size: 0.9375em;
                                    font-weight: 600;
                                    color: $darkGrey;
                                    line-height: normal;
                                    margin-left: 0.75em;
                                }
                                img {
                                    max-width: 7%;
                                }
                            }
                            &:hover {
                                > div {

                                }
                            }
                            &:last-child {
                                > div {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        // ul {
                        //     background-color: #f3f3f3;
                        //     width: 200%;
                        //     border-left: 1px solid #f3f3f3;
                        //     top: -2.3em;
                        //     height: calc(100% + 2.2em);
                        //     transition: background 0.3s ease-in-out;
                        //     li {
                        //         padding: 1em 2em 0 2em;
                        //     }
                        // }
                    }
                }
            }
        }
    }
    .thirdLevel {
        position: relative;
        em {
            cursor: pointer;
            position: absolute;
            top: 2em;
            right: 2em;
            font-size: 0.75em;
            color: $mediumGrey;
        }
        .heading4 {
            font-weight: 400;
            color: $mediumGrey;
            line-height: 1.4;
        }
        .heading6 {
            text-transform: uppercase;
            color: $mediumGrey;
            margin: 5em 0 0.5em 0;
        }
        p {
            font-size: 0.9375em;
            font-weight: 400;
            line-height: normal;
            color: $lightGrey;
            padding: 0.625em 1.875em 1.25em 0;
        }
        button {
            border: 1px solid $greyColor;
            font-size: 0.85em;
            font-weight: 400;
            color: $lightGrey;
            border-radius: 1.6em;
            padding: 0.5em 1.25em;
        }
        figure {
            cursor: initial;
            position: absolute;
            display: block;
            width: 95%;
            text-align: right;
            bottom: 0;
            right: 0;
            margin: 0;
            margin-bottom: 5%;
            img {
                width: 40%;
                @include xl {
                    width: 30%;
                }
            }
        }
        nav {
            a {
                padding: 0;
                color: $lightGrey;
                font-size: 0.975em;
                font-weight: 300;
                line-height: 2;
            }
        }
    }
    &.desktopMenu {
        display: none;
        @include lg {
            display: block;
        }
    }
}
.mobileMegamenu {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 5.3em;
    background-color: $whiteColor;
    //border-top: 1px solid #cdcdcd;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 15%);
    transition: opacity 0.5s ease;
    overflow: auto;
    z-index: 99;
    padding: 0;
    &.mobilemenu {
        @include lg {
            display: none;
        }
        .header-txt {
            font-size: 0.9375em;
            font-weight: 300;
            color: $mediumGrey;
            line-height: normal;
            margin-bottom: 5px;
            display: block;
            text-transform: uppercase;
        }
        .mobilemenuHeader {
            padding: 12px 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #F6F6F6;
            &.first {
                .backArrow {
                    visibility: hidden;
                }
            }
            .backArrow, .closeIcon {
                line-height: normal;
                em {
                    color: $blackColor;
                }
            }
            .backArrow {
                em {
                    font-size: 1.25em;
                }
            }
            .closeIcon {
                em {
                    font-size: 1em;
                }
            }
            .headingStyle {
                font-size: 1.3125em;
                font-weight: 400;
                color: $darkGrey;
                line-height: normal;
            }
        }
        .topMenuMobile {
            padding: 0 1em 1em 1em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            a {
                font-size: 1.25em;
                font-weight: 400;
                color: $darkGrey;
                line-height: normal;
                display: block;
                padding: 0.75em 0 0.5em 0;
            }
        }
        .commonSyle {
            padding: 0 1em;
            margin-top: 1.35em;
            ul {
                list-style-type: none;
                padding-top: 1em;
                li {
                    font-size: 1.25em;
                    font-weight: 400;
                    color: $darkGrey;
                    line-height: normal;
                    margin-bottom: 1em;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        em {
                            font-size: 0.85em;
                            color: $lightGrey;
                        }
                    }
                }
            }
        }
        .fourthLevel {
            p {
                font-size: 1.07em;
                font-weight: 300;
                color: $lightGrey;
                line-height: 1.4;
            }
            button {
                border: 1px solid $greyColor;
                font-size: 1em;
                font-weight: 300;
                color: $lightGrey;
                border-radius: 1.6em;
                padding: 0.5em 1.25em;
            }
            .heading6 {
                text-transform: uppercase;
                color: $mediumGrey;
                margin: 3em 0 0.5em 0;
            }
            nav {
                display: flex;
                flex-direction: column;
                a {
                    padding: 0;
                    color: $lightGrey;
                    font-size: 0.975em;
                    font-weight: 300;
                    line-height: 2;
                }
            }
            figure {
                cursor: initial;
                position: absolute;
                display: block;
                width: 95%;
                text-align: right;
                bottom: 0;
                right: 0;
                margin: 0;
                margin-bottom: 0;
                img {
                    width: 40%;
                    @include xl {
                        width: 30%;
                    }
                }
            }
        }
    }
}

.searchCertification {
    position: relative;
    grid-area:search_ ;
    @include md {
        
    }
    @include xl {
        margin-left: 1em;
    }
    input {
        border: 1px solid $greyColor;
        border-radius: 1.56em;
        padding: 0.45em 2.5em 0.45em 1em;
        font-size: 0.875em;
        width: 90%;
        box-sizing: border-box;
        color: $mediumGrey;
    }
    em {
        position: absolute;
        left: 83%;
        top: 46%;
        transform: translateY(-50%);
        font-size: 0.875em;
        color: $lightGrey;

        &.icon-Search {
            pointer-events: none;
        }
    }
}

.searchCertification_lap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgb(255 255 255 / 80%);
    height: 100%;
    padding: 0 0.5em;
    z-index:89;

    &.hide_ {
        display: block;
    }
    &:before {
        font-family: "icomoon" !important;
        font-size: 1.2em;
        content: '\e950';
        position: absolute;
        z-index: 99;
        top: 0.85em;
        left: 0.8em;
        color: #999;
    }
    input[type='text'] {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #e2e2e2;
        height: 3.2em;
        position: relative;
        z-index: 89;
        font-size: 1.1em;
        padding: 0.4em 2.4em 0.4em 2.2em;
        width: 100%;
    }
    em {
        font-size: 0.8em;
        z-index: 99;
        top: 1.7em;
        position: absolute;
        right: 20px;
        color: #999999;
    }
}
.router-link-active {
    color:red !important;
}
.avatar {
    vertical-align: middle;
    display: inline-block;
    // width: 30px;
    // height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    @include lg {
        // width: 40px;
        // height: 40px;
    }
    span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #FFCB00;
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        em {
            color: $blackColor;
            font-size: 1.25em;
        }
    }
    .profImg {
        position: relative;
        width: 2.5em;
        height: 2.5em;
        margin: 0;
        img {
            background-color: #ffffff;
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
// ::ng-deep  .mat-menu-content {
//     padding-top: 0px !important;
//     padding-bottom: 0px !important;
//   }
  
//  .mat-menu-item{
//     line-height:35px;
//     height:40px;
//   }
// ::ng-deep .mat-menu-panel {
//     min-height: 40px !important;
// }

::ng-deep.profileMenu {
    &.mat-menu-panel {
        min-width: 235px;
        margin-top: 2em;
    }
    .mat-menu-content:not(:empty) {
        padding: 0;
    }
    .profile, .settings, .signout {
        padding: 0.85em 1em;
        box-sizing: border-box;
    }
    .profile {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $greyColor;
    }
    .profIcon {
        width: 20%;
        .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFCB00;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            em {
                color: $blackColor;
                font-size: 1.5em;
            }
        }
        .profImg {
            position: relative;
            width: 3em;
            height: 3em;
            img {
                background-color: #ffffff;
                border: 1px solid #cdcdcd;
                border-radius: 50%;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .profDesc {
        width: 75%;
        strong, span {
            display: block;
        }
        span {
            font-size: 0.975em;
            font-weight: 400;
            color: $lightGrey;
            word-break: break-all;
            line-height: 1.2;
            margin: 0.25em 0 0.5em 0;
        }
        button {
            @include buttonOutlined;
            padding-left: 1.5em;
            padding-right: 1.5em;
            color: $darkGrey;
            font-size: 0.75em;
            font-weight: 400;
            line-height: normal
        }
    }
    .settings {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $greyColor;
        div {
            line-height: 2;
        }
        a {
            color: $mediumGrey;
            font-size: 0.975em;
            font-weight: 400;
        }
    }
    .signout {
        a {
            color: $lightGrey;
        }
        a, .signOut {
            display: block;
            font-size: 0.875em;
            font-weight: 400;
        }
        .signOut {
            color: $primaryColor;
        }
    }
}
::ng-deep .cart .mat-badge-content {
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}
::ng-deep.menuCustomClass {
    .mat-menu-content:not(:empty) {
        padding: 0;
    }
}
//Skeleton
.SkeletonWrapper {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    .itemSmall {
        width: 25%;
    }
    .itemBig {
        width: 48%;
    }
}
.show_ {
    display: inline-block;
}
.hide_ {
    display: none;
}
.featureChild{
    cursor: default;
}
