<div class="signUpContainer">
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="tabChange($event)"  [selectedIndex]="entryIndex">
        <mat-tab label="SIGN IN">
            <ng-container *ngIf="entryIndex == 0">
            <form [formGroup]="loginForm" class="signInContent">
                <div>
                    <div class="heading4">Sign in to your account</div>
                    <div class="layerContainer">
                        <div class="firstLayer">
                            <!-- <div class="inputContainer">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="1" [checked]="'checked'">Learner</mat-radio-button>
                                    <mat-radio-button value="2" >Recruiter</mat-radio-button>
                                  </mat-radio-group>
                            </div> -->
                            <div class="inputContainer" style="display: none;">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email Address</mat-label>
                                    <input type="text" autocomplete="false" id="signIn_sample" autocomplete="off" name="email" formControlName="email" matInput placeholder="Email Address">
                                </mat-form-field>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email Address</mat-label>
                                    <input type="text" autocomplete="false" id="signIn_email" autocomplete="off" name="email" formControlName="email" matInput placeholder="Email Address">
                                </mat-form-field>
                                <ng-container *ngIf="email.invalid && email.touched">
                                <mat-error class="error" *ngIf="email.errors?.email">{{'Please enter a valid email address'}}</mat-error>
                                <mat-error *ngIf="email.errors?.required" class="error">{{'Email is required'}}</mat-error>
                            </ng-container>
                            </div>
                            <div class="inputContainer" style="display: none;">
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input type="password" autocomplete="new-password" id="signIn_password" name="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                                </mat-form-field>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input type="password" autocomplete="new-password" id="signIn_password" name="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                                    <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <em class="{{hide ? 'icon-Hide' : 'icon-View'}}"></em>
                                    </div>
                                </mat-form-field>
                                <ng-container *ngIf="password.invalid && password.touched">
                                    <mat-error *ngIf="password.errors?.required" class="error">{{'Password is required'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="forgotPassword"><span (click)="gotoForgetPwd()">Forgot Password?</span></div>
                            <!-- <div nbRecaptcha formControlName="captcha"></div>
                            <ng-container *ngIf="loginCaptcha.invalid && loginCaptcha.touched">
                                <mat-error *ngIf="loginCaptcha.errors?.required" class="error">{{'Please fill in Captcha'}}</mat-error>
                                <mat-error *ngIf="loginCaptcha.errors?.invalid" class="error">{{'Invalid Captcha'}}</mat-error>
                            </ng-container> -->

                            <button  id="signIn_btn" class="onEntry" mat-stroked-button (click)="checkCaptchaSignIn(captchaRef)">Sign In</button>
                            <!-- <button  id="signIn_btn" class="onEntry" mat-stroked-button (click)="onSubmit()">Sign In</button> -->
                        </div>
                        <!-- <div class="secondLayer">
                            <em class="topLine"></em>
                            <span>or</span>
                            <em class="bottomLine"></em>
                        </div>
                        <div class="thirdLayer">
                            <mat-card class="mediaContainer">
                                <a class="googlePlus" href="#"></a>
                                <span>Sign In With Google</span>
                            </mat-card>
                            <mat-card class="mediaContainer">
                                <a class="facebook" href="#"></a>
                                <span>Sign In With Facebook</span>
                            </mat-card>
                            <mat-card class="mediaContainer">
                                <a class="linkedin" href="#"></a>
                                <span>Sign In With Linkedin</span>
                            </mat-card>
                        </div> -->
                    </div>
                </div>
            </form>
        </ng-container>
        </mat-tab>
        <mat-tab label="REGISTER">
            <ng-container *ngIf="entryIndex == 1&& showKyc==false">
                <form [formGroup]="registerForm" autocomplete="new-password" class="signInContent registerContent">
                    <div class="heading4">Create Account</div>
                    <div class="layerContainer">
                        <div class="firstLayer registerLayer">
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input autocomplete="off" matInput id="signup_fName" name="firstName" formControlName="firstName" placeholder="First Name">
                                </mat-form-field>
                                <ng-container *ngIf="firstName.invalid && firstName.touched">
                                    <mat-error *ngIf="firstName.errors?.required" class="error">{{'First name is required'}}</mat-error>
                                    <!-- <mat-error *ngIf="firstName.errors?.alphaNum30" class="error">{{'Alpha numeric with maximum of 30 characters only allowed'}}</mat-error> -->
                                    <mat-error *ngIf="firstName.errors?.alpha30" class="error">{{'First name should be alphabets and maximum of 30 characters only allowed'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input autocomplete="off" matInput id="signup_lName" name="lastName" formControlName="lastName" placeholder="Last Name">
                                </mat-form-field>
                                <ng-container *ngIf="lastName.invalid && lastName.touched">
                                    <mat-error *ngIf="lastName.errors?.required" class="error">{{'Last name is required'}}</mat-error>
                                    <!-- <mat-error *ngIf="lastName.errors?.alphaNum30" class="error">{{'Alpha numeric with maximum of 30 characters only allowed'}}</mat-error> -->
                                    <mat-error *ngIf="lastName.errors?.alpha30" class="error">{{'Last name should be alphabets and maximum of 30 characters only allowed'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email Address</mat-label>
                                    <input type="text" autocomplete="off" id="signup_email" name="email" formControlName="email" matInput placeholder="Email Address">
                                </mat-form-field>
                                <ng-container *ngIf="emailR.invalid && emailR.touched">
                                        <mat-error class="error" *ngIf="emailR.errors?.email">{{'Please enter a valid email address'}}</mat-error>
                                        <mat-error *ngIf="emailR.errors?.required" class="error">{{'Email is required'}}</mat-error>
                                    </ng-container>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>Mobile</mat-label>
                                    <input autocomplete="off" matInput id="signup_mobile" name="mobile" formControlName="mobile" placeholder="Mobile">
                                </mat-form-field>
                                <ng-container *ngIf="mobileNo.invalid && mobileNo.touched">
                                    <mat-error *ngIf="mobileNo.errors?.required" class="error">{{'Mobile number is required'}}</mat-error>
                                    <mat-error *ngIf="mobileNo.errors?.mobileRegex" class="error">{{'Please enter valid mobile number'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>University Enrollment Number</mat-label>
                                    <input autocomplete="off" matInput id="signup_uen" name="enrollNumber" formControlName="enrollNumber" placeholder="University Enrollment Number">
                                </mat-form-field>
                                <ng-container *ngIf="rollNumber.invalid && rollNumber.touched">
                                    <mat-error *ngIf="rollNumber.errors?.required" class="error">{{'University enrollment number is required'}}</mat-error>
                                    <mat-error *ngIf="rollNumber.errors?.enrollno" class="error">{{'Please enter valid Enrollment number'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>Year of Graduation</mat-label>
                                    <mat-select formControlName="graduation">
                                        <mat-option [value]="item" *ngFor="let item of yearData">{{item}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <ng-container *ngIf="year.invalid && year.touched">
                                    <mat-error *ngIf="year.errors?.required" class="error">{{'Year of graduation is required'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>College / University</mat-label>
                                    <input formControlName="college" [(ngModel)]="collegeFilter.collegename" (keyup)="checkBatchRec();collegeflag = false"  [matAutocomplete]="auto" matInput>
                                     <em matSuffix class="icon-arrow_drop_down"></em>
                                    <mat-autocomplete #auto="matAutocomplete">
                                      <mat-option #OptionData (click)="collegeflag = true;" *ngFor="let item of collegeData | filterBy:collegeFilter" [value]="item.collegename" [matTooltip]="item.collegename">
                                        {{item.collegename}}
                                      </mat-option>                                  
                                    </mat-autocomplete>
                                  </mat-form-field>
                                <ng-container *ngIf="collegeR.invalid && collegeR.touched">
                                    <mat-error *ngIf="collegeR.errors?.required" class="error">{{'College / University is required'}}</mat-error>
                                </ng-container>     
                                <ng-container *ngIf="collegeR.touched">
                                    <mat-error *ngIf="collegeFilter.collegename && !collegeflag" class="error">{{'Please select your college'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>Department</mat-label>
                                    <input  matInput id="signup_department" [(ngModel)]="departmentFilter.departmentName" formControlName="department" [matAutocomplete]="deptauto" (keyup)="checkDeptList();departmentflag = false">
                                    <!-- <em matSuffix class="icon-arrow_drop_down"></em> -->
                                    <mat-autocomplete #deptauto="matAutocomplete">
                                        <mat-option #DeptData (click)="departmentflag = true" [value]="item.departmentName"
                                            *ngFor="let item of departmentData | filterBy:departmentFilter" [matTooltip]="item.departmentName">
                                            {{item?.departmentName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <ng-container *ngIf="dept.invalid && dept.touched">
                                    <mat-error *ngIf="dept.errors?.required" class="error">{{'Department is required'}}</mat-error>
                                </ng-container>
                                <ng-container *ngIf="dept.touched">
                                    <mat-error *ngIf="departmentFilter.departmentName && !departmentflag" class="error">{{'Please select your department'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input autocomplete="new-password" name="password" id="signup_pwd1" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                                    <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <em class="{{hide ? 'icon-Hide' : 'icon-View'}}"></em>
                                    </div>
                                </mat-form-field>
                                <ng-container *ngIf="passwordR.invalid && passwordR.touched">
                                    <mat-error *ngIf="passwordR.errors?.required" class="error">{{'Password is required'}}</mat-error>
                                    <mat-error *ngIf="passwordR.errors?.minlength" class="error">{{'Minimum 8 characters required'}}</mat-error>
                                    <mat-error *ngIf="passwordR.errors?.maxlength" class="error">{{'Maximum 32 characters only allowed'}}</mat-error>
                                    <mat-error *ngIf="passwordR.errors?.password" class="error">{{'The password should consist of minimum 1 uppercase, 1 lowercase, 1 numeric and 1 special character'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="inputContainer">
                                <mat-form-field appearance="outline">
                                    <mat-label>Confirm Password</mat-label>
                                    <input autocomplete="off" name="password2" id="signup_pwd2" formControlName="password2" matInput [type]="hide1 ? 'password' : 'text'">
                                    <div mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                    <em class="{{hide1 ? 'icon-Hide' : 'icon-View'}}"></em>
                                    </div>
                                </mat-form-field>
                                <ng-container *ngIf="password2.invalid && password2.touched || (registerForm.errors?.notMatch && (registerForm.touched || registerForm.dirty))">
                                    <mat-error *ngIf="password2.invalid && password2.touched && password2.errors?.required" class="error">{{'Confirm password is required'}}</mat-error>
                                    <mat-error *ngIf="!password2.errors?.required && registerForm.errors?.notMatch" class="error">{{'Confirm password should match the Password'}}</mat-error>
                                </ng-container>
                            </div>
                            <div class="termsContainer">
                                <div class="wrapper">
                                    <mat-checkbox formControlName="termsandConditions"></mat-checkbox>
                                    <!-- <div class="termsContent">I agree with the <a (click)="terms()" class="termsColor">Terms and Conditions</a> and <a (click)="privacy()" class="termsColor">Privacy Policy</a></div> -->
                                    <div class="termsContent">Please accept the <a (click)="privacy()" class="termsColor">Privacy Policy</a></div>
                                </div>
                                <ng-container *ngIf="termsandConditions.invalid && termsandConditions.touched">
                                    <mat-error *ngIf="termsandConditions.errors?.required" class="error">{{'Select the Privacy Policy checkbox'}}</mat-error>
                                </ng-container>
                            </div>
                            <!-- <div nbRecaptcha formControlName="captcha"></div>
                            <ng-container *ngIf="captcha.invalid && captcha.touched">
                                <mat-error *ngIf="captcha.errors?.required" class="error">{{'Please fill in Captcha'}}</mat-error>
                                <mat-error *ngIf="captcha.errors?.invalid" class="error">{{'Invalid Captcha'}}</mat-error>
                            </ng-container> -->
                            <button class="onEntry" (click)="checkCaptchaSignIn(captchaRef)" mat-stroked-button>Register</button>
                        </div>
                        <!-- <div class="secondLayer registerLine">
                            <em class="topLine"></em>
                            <span>or</span>
                            <em class="bottomLine"></em>
                        </div>
                        <div class="thirdLayer alignMiddle">
                            <mat-card class="mediaContainer">
                                <a class="googlePlus" href="#"></a>
                                <span>Sign In With Google</span>
                            </mat-card>
                            <mat-card class="mediaContainer">
                                <a class="facebook" href="#"></a>
                                <span>Sign In With Facebook</span>
                            </mat-card>
                            <mat-card class="mediaContainer">
                                <a class="linkedin" href="#"></a>
                                <span>Sign In With Linkedin</span>
                            </mat-card>
                        </div> -->
                    </div>
                </form>
            </ng-container>
            <ng-container *ngIf="showKyc">
                <div class="sucess-kyc-container">
                  <img src="https://lmsassetspremium.lntedutech.com/portalicons/thankyou.webp" width="60px" alt="" />
                   <div class="kyc-txt">THANK YOU FOR REGISTERING!</div>
                   <div class="kyc-sub-txt">Please complete your KYC.</div>
                   <div class="kyc-redirect">
                        <span class="kyc-redirect-txt">I'm not sure yet</span>
                        <button class="kyc-btn" (click)="navigateProfile()">Edit Profile</button>
                   </div>
                </div>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
    <div class="loginBG">
        <figure></figure>
    </div>
</div>

<ng-template #kycmandate >
  <app-kyc-mandate></app-kyc-mandate>
</ng-template>

    <re-captcha #captchaRef="reCaptcha"  (resolved)="resolvedSignIn($event)" size='invisible' (error)="onError($event)"
      errorMode="handled" [siteKey]="siteKey">
    </re-captcha>


