
    <div id="top"></div>
    <app-kyc-personal *ngIf="selectedmenu == 'Personal'"></app-kyc-personal>

    <app-kyc-contact *ngIf="selectedmenu == 'Contact'"></app-kyc-contact>

    <app-kyc-passport *ngIf="selectedmenu == 'Passport'"></app-kyc-passport>

    <app-kyc-education *ngIf="selectedmenu == 'Education'"></app-kyc-education>

    <!-- <app-kyc-question *ngIf="selectedmenu == 'Questionnaire'"></app-kyc-question> -->

    <app-kyc-preview *ngIf="selectedmenu == 'Preview'"></app-kyc-preview>

