@import "variables";

.checkoutBox {
    width: 100%;
    background-color: #f1f1f1;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    // margin-top: 1em;
    // @include md {
    //     width: 30%;
    //     margin-top: 0;
    // }
    // @include lg {
    //     width: 25%;
    // }
    .heading6 {
        text-transform: uppercase;
        display: block;
        font-family: "OpenSans", sans-serif;
        font-weight: 600;
        color: $blackColor;
    }
    .tag, .priceDetails > div, .totalAmount > div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .tag {
        border-bottom: 1px solid $lightGrey;
        border-bottom-style: dashed;
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
        p {
            margin: 0;
        }
        button {
            @include buttonOutlined;
            background-color: $whiteColor;
            color: $blackColor;
            padding-right: 1.5em;
            padding-left: 1.5em;
            font-size: 0.9375em;
        }
    }
    .priceDetails {
        border-bottom: 1px solid $greyColor;
        border-bottom-style: dashed;
        margin-bottom: 2.5em;
        padding-bottom: 1.5em;
        > div {
            margin-top: 2em;
            &.couponDiscount {
                span {
                    &:last-child {
                        color: $primaryColor;
                        font-weight: 400;
                    }
                }
            }
            span {
                font-size: 0.9375em;
                line-height: 1.3;
                color: $darkMediumGrey;
                font-weight: 400;
                em {
                    font-weight: bold;
                    font-size: 0.75em;
                }
                &:first-child {
                    font-weight: 400;
                }
                &:last-child {
                    font-weight: 700;
                }
            }
        }
    }
    .totalAmount {
        span {
            color: $blackColor;
            font-weight: 600;
            &:last-child {
                font-family: "OpenSans", sans-serif;
                font-size: 1.625em;
                font-weight: 600;
                color: $greenColor;
                em {
                    font-size: 0.75em;
                }
            }
        }
        p {
            font-family: "Lato";
            font-size:	0.7500em ;
            font-weight:400 ;
            color: $darkGrayColor;
            opacity: 1;
        }
        .heading6 {
            text-transform: capitalize;
        }
        .checkout {
            font-family: "OpenSans", sans-serif;
            font-size: 1.125em;
            font-weight: 700;
            color: $whiteColor;
            text-align: center;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $blueLabelColor;
            background-color: $blueLabelColor;
            padding: 0.5em 1em;
            margin: 2.5em 0 1.5em 0;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $blueLabelColor;
                background-color: $whiteColor;
            }
        }
    }
}