<section class="relatedProgramsAssessments programList" *ngIf="item?.subHeading1?.dispalystatus">
    <div class="container">
        <div class="commonHeadingStyle">{{item?.subHeading1?.title}}</div>
    </div>
    <div class="programBg commonCSS">
        <div class="container">
            <div class="wrapper">
                <owl-carousel-o [options]="relatedList">
                    <ng-container>
                        <ng-template carouselSlide *ngFor="let relatedchild of item?.subHeading1?.innerArray">
                            <div class="relatedList">
                                <span class="heading">{{relatedchild?.title}}</span>
                                <figure>
                                    <img [src]="relatedchild?.imageurl" alt="" />
                                </figure>
                                <div class="title">
                                    <span class="domainName"><em class="icon-Right_Play"></em>{{relatedchild?.domain}}</span>
                                    <div class="licenseDuration">
                                        <div class="commonStyle">
                                            <span>License Period</span>
                                            <span><em class="icon-Document"></em>{{relatedchild?.licencePeriod}}</span>
                                        </div>
                                        <div class="commonStyle">
                                            <span>Duration</span>
                                            <span><em class="icon-Time"></em>{{relatedchild?.duration}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="contentWrapper">
                                    <span class="batchStarts"><em class="icon-Time"></em> Batch starts on : {{relatedchild?.date}}</span>
                                    <div class="mnthStarts">
                                        <span class="months"><em class="icon-Booked"></em> {{relatedchild?.duration}}</span>
                                        <span class="stars">
                                            <em class="icon-Star" *ngFor="let rate of relatedchild?.rating"></em>
                                        </span>
                                    </div>
                                </div> -->
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<section class="relatedProgramsAssessments assessmentList" *ngIf="item?.subHeading2?.dispalystatus">
    <div class="container">
        <div class="commonHeadingStyle">{{item?.subHeading2?.title}}</div>
    </div>
    <div class="assessmentBg commonCSS">
        <div class="container">
            <div class="wrapper">
                <owl-carousel-o [options]="relatedList">
                    <ng-container>
                        <ng-template carouselSlide *ngFor="let relatedcourse of item?.subHeading2?.innerArray">
                            <div class="relatedList">
                                <span class="heading">{{relatedcourse?.title}}</span>
                                <figure>
                                    <img [src]="relatedcourse?.imageurl" alt="" />
                                </figure>
                                <div class="title">
                                    <span class="domainName"><em class="icon-Right_Play"></em>{{relatedcourse?.domain}}</span>
                                    <div class="licenseDuration">
                                        <div class="commonStyle">
                                            <span>License Period</span>
                                            <span><em class="icon-Document"></em>{{relatedcourse?.licencePeriod}}</span>
                                        </div>
                                        <div class="commonStyle">
                                            <span>Duration</span>
                                            <span><em class="icon-Time"></em>{{relatedcourse?.duration}}</span>
                                        </div>
                                    </div>
                                </div>                   
                                <!-- <div class="contentWrapper">
                                    <div class="mnthStarts">
                                        <span class="stars">
                                            <em class="icon-Star" *ngFor="let rate of relatedcourse?.rating"></em>
                                        </span>
                                    </div>
                                    <div class="level">
                                        <div>
                                            <p>Skill Level</p>
                                            <span><em class="icon-Level2"></em> {{relatedcourse?.level}}</span>
                                        </div>
                                        <div>
                                            <p>{{'No. of Assessments '}}</p>
                                            <span><em class="icon-Document"></em> {{relatedcourse?.NoOfAssessment}}</span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>