<section class="searchContainer">
    <div class="topSearch">
        <figure class="leftImg">
            <img src="/assets/images/search_img_left.png" alt="Search Left Image" />
        </figure>
        <figure class="rightImg">
            <img src="/assets/images/search_img_right.png" alt="Search Right Image" />
        </figure>
        <div class="container">
            <div class="search">
                <div>
                    <input type="text" class="search" placeholder="Construction Operations" />
                    <em class="icon-Close"></em>
                </div>
                <p>11 Search Results found for "Concrete Technology"</p>
            </div>
        </div>
    </div>
    <div class="searchedContent">
        <div class="container">
            <div class="search">
                <div class="searchFilter">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Domain
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="domain">
                                <section class="example-section">
                                    <div><mat-checkbox formControlName="pepperoni">Civil (04)</mat-checkbox>
                                    </div>
                                    <div><mat-checkbox formControlName="extracheese">Mechanical (06)</mat-checkbox>
                                    </div>
                                    <div><mat-checkbox formControlName="mushroom">Electrical and Electronics (03)</mat-checkbox>
                                    </div>
                                </section>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Competency
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="domain">
                                <section class="example-section">
                                    <div><mat-checkbox formControlName="pepperoni">Construction Planning and Methods (04)</mat-checkbox>
                                    </div>
                                    <div><mat-checkbox formControlName="extracheese">Concrete Technology (06)</mat-checkbox>
                                    </div>
                                    <div><mat-checkbox formControlName="mushroom">Soil Investigation (03)</mat-checkbox>
                                    </div>
                                </section>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Level
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="domain">
                                <section class="example-section">
                                    <div><mat-checkbox formControlName="pepperoni">All Levels (04)</mat-checkbox>
                                    </div>
                                    <div><mat-checkbox formControlName="extracheese">Beginer (06)</mat-checkbox>
                                    </div>
                                    <div><mat-checkbox formControlName="mushroom">Intermediate (03)</mat-checkbox>
                                    </div>
                                    <div><mat-checkbox formControlName="mushroom">Expert (03)</mat-checkbox>
                                    </div>
                                </section>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="catalogSearchContent">
                    <div>
                        <figure>
                            <img src="/assets/images/AssessmentSteps_bg.jpg" alt="" />
                        </figure>
                        <div>
                            <span class="domainName">Civil</span>
                            <div class="heading5">Construction Operations <span></span></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna elit, posuere non elit at, ultrices interdum est.</p>
                            <div class="assessmentArea">
                                <!-- <div>
                                    <p>Rating</p>
                                    <div class="ratingStar">
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                    </div>
                                </div> -->
                                <div>
                                    <p>Skill Level</p>
                                    <span><em class="icon-Level2"></em> Intermediate</span>
                                </div>
                                <div>
                                    <p>No. of Assessments</p>
                                    <span><em class="icon-Document"></em> 12</span>
                                </div>
                                <div>
                                    <p>Duration</p>
                                    <span><em class="icon-Time"></em>24h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <figure>
                            <img src="/assets/images/AssessmentSteps_bg.jpg" alt="" />
                        </figure>
                        <div>
                            <span class="domainName">Civil</span>
                            <div class="heading5">Construction Operations <span></span></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna elit, posuere non elit at, ultrices interdum est.</p>
                            <div class="assessmentArea">
                                <!-- <div>
                                    <p>Rating</p>
                                    <div class="ratingStar">
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                    </div>
                                </div> -->
                                <div>
                                    <p>Skill Level</p>
                                    <span><em class="icon-Level2"></em> Intermediate</span>
                                </div>
                                <div>
                                    <p>No. of Assessments</p>
                                    <span><em class="icon-Document"></em> 12</span>
                                </div>
                                <div>
                                    <p>Duration</p>
                                    <span><em class="icon-Time"></em>24h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <figure>
                            <img src="/assets/images/AssessmentSteps_bg.jpg" alt="" />
                        </figure>
                        <div>
                            <span class="domainName">Civil</span>
                            <div class="heading5">Construction Operations <span></span></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna elit, posuere non elit at, ultrices interdum est.</p>
                            <div class="assessmentArea">
                                <!-- <div>
                                    <p>Rating</p>
                                    <div class="ratingStar">
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                        <em class="icon-Star"></em>
                                    </div>
                                </div> -->
                                <div>
                                    <p>Skill Level</p>
                                    <span><em class="icon-Level2"></em> Intermediate</span>
                                </div>
                                <div>
                                    <p>No. of Assessments</p>
                                    <span><em class="icon-Document"></em> 12</span>
                                </div>
                                <div>
                                    <p>Duration</p>
                                    <span><em class="icon-Time"></em>24h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>