<section class="featuredCoursesSection">
    <span class="obstacles"></span>
    <div class="container">
        <div class="heading2">Featured Courses</div>
        <span class="subHeading">Build your proficiency in the hottest industry of the 21st century.</span>
        <div class="featuredCourses">
            <div class="bg" [ngClass]="rightNavDisabled ? 'disableShadow' : 'showShadow'"></div>
            <drag-scroll #featuredCourses snap-duration="500" (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)" [scrollbar-hidden] = true [drag-scroll-y-disabled] = true>
                <div class="scrollItem" drag-scroll-item *ngFor="let item of catalogData" (click)="aboutCourse(item.cid,item.name)">
                    <div class="modules">
                        <div class="courseImg">
                            <figure>
                                <img [src]="item?.image?.url" alt="" />
                            </figure>
                            <div class="hours">
                                <p>{{item?.videoDuration}}</p>
                            </div>
                        </div>
                      <div class="wrapper">
                            <span class="domainName"><em class="icon-Right_Play"></em>{{item?.domainName}}</span>
                            <span class="heading6" [matTooltip]="item?.name">
                                {{item?.name}}
                                <!-- <span class="tooltiptext">{{item?.name}}</span> -->
                            </span>
                            <p>{{item?.longDescription}}</p>
                            <div class="licenseDuration">
                                <div class="commonStyle">
                                    <span>License Period</span>
                                    <span><em class="icon-Document"></em>{{item?.licencePeriod}}</span>
                                </div>
                                <div class="commonStyle">
                                    <span>Course Duration</span>
                                    <span><em class="icon-Time"></em>{{item?.contentDuration}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </drag-scroll>
            <div class="draggable-button-container">
                <div class="leftArrow">
                    <button [disabled]="leftNavDisabled" [ngClass]="leftNavDisabled ? 'disableArrow' : 'showArrow'" (click)="moveLeft()" class="draggable-button float-left"> <em class="icon-LeftArrow"></em> </button>
                </div>
                <div class="rightArrow">
                    <button [disabled]="rightNavDisabled" [ngClass]="rightNavDisabled ? 'disableArrow' : 'showArrow'" (click)="moveRight()" class="draggable-button float-right"> <em class="icon-RightArrow"></em> </button>
                </div>
            </div>
        </div>
    </div>
</section>
