<section class="partnersSection">
    <div class="container">
        <div class="heading2">Our Partners</div>
        <div class="partnersList">
            <div class="partnersContent hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <p>{{OurPartners.longDescription}}</p>
            </div>
            <div class="partnersLogo hide-on-init" animateOnScroll animationName="animated fadeInRight">
                <owl-carousel-o [options]="partnersCarousel">
                    <ng-template carouselSlide>
                        <div class="partnersImages">
                            <ng-container *ngFor = "let Image1 of OurPartners.image1">
                                <figure>
                                    <img [src]="Image1 + blobToken" alt="" />
                                </figure>
                            </ng-container>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partnersImages">
                            <ng-container *ngFor = "let Image2 of OurPartners.image2">
                                <figure>
                                    <img [src]="Image2 + blobToken" alt="" />
                                </figure>
                            </ng-container>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partnersImages">
                            <ng-container *ngFor = "let Image3 of OurPartners.image3">
                                <figure>
                                    <img [src]="Image3 + blobToken" alt="" />
                                </figure>
                            </ng-container>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="partnersImages">
                            <ng-container *ngFor = "let Image4 of OurPartners.image4">
                                <figure>
                                    <img [src]="Image4 + blobToken" alt="" />
                                </figure>
                            </ng-container>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<!-- <section class="findussection">
    <div class="section-wrapper">
        <div class="about">
            <h3>L&T EduTech</h3>
            <ul>
                <li> <a href="">Home</a></li>
                <li> <a href="">About</a></li>
                <li> <a href="">Contact</a></li>
                <li> <a href="">Terms of use</a></li>
                <li> <a href="">Larsen & Toubro (Corporate)</a></li>
            </ul>
        </div>
        <div class="offer">
            <h3>Offerings</h3>
            <ul>
                <li> <a href="">CollegeConnect</a></li>
                <li> <a href="">Vocational Skilling</a></li>
                <li> <a href="">Professional Certification</a></li>
                <li> <a href="">Assessments</a></li>
            </ul>
        </div>
        <div class="findus">
            <h3>Find Us</h3>
            <p>We are always pleased to serve you, come share your experiences with us.</p>
            <p>Mt. Poonamallee Road, Manapakkam, Chennai - 600089 +91-44-22526000 / 22528000 info@lntedutech.com</p>
        </div>
        <div class="apps">
            <h3>Apps</h3>
        </div>
    </div>
</section> -->