     <!-- hiringPartnres -->
        <section class="hiringPartnres" [ngStyle]="{'background-image': 'url(' + OurPartners?.imageurl + ')'}">
            <div class="container">
                <div class="commonHeadingStyle">{{OurPartners?.title}}</div>
                <div class="wrapper">
                    <div class="left">
                        <p>{{OurPartners?.description}}</p>
                    </div>
                    <div class="right">
                        <div class="figWrapper">
                            <ng-container *ngFor="let img of OurPartners?.innerArray">
                                <figure>
                                    <img [src]="img?.imageurl" alt="">
                                </figure>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="programCourse">
            <div class="container">
                    <div class="listPart" *ngIf="OurPartners?.subHeading1?.dispalystatus">
                        <div class="heading">{{OurPartners?.subHeading1?.title}}</div>
                            <ul class="division">
                                <li *ngFor="let program of OurPartners?.subHeading1?.innerArray">{{program}}</li> 
                            </ul>
                    </div>
                    <div class="listPart" *ngIf="OurPartners?.subHeading2?.dispalystatus"> 
                        <div class="heading">{{OurPartners?.subHeading2.title}}</div>
                            <ul class="division">
                                <li *ngFor="let course of OurPartners?.subHeading2?.innerArray">{{course}}</li>
                            </ul>
                    </div> 
            </div>
        </section>
        <section class="ourPartners">
            <div class="container">
                <div class="partnersSection" *ngIf="OurPartners?.subHeading3?.dispalystatus">
                    <div class="left">
                        <div class="heading">{{OurPartners?.subHeading3.title}}</div>
                        <figure *ngFor="let partner of OurPartners?.subHeading3?.innerArray">
                            <img [src]="partner?.imageurl" alt="" />
                        </figure>
                    </div>
                    <div class="right">
                        <span class="heading">{{OurPartners?.subHeading4.title}}</span>
                        <figure>
                            <img [src]="OurPartners?.subHeading4?.imageurl" alt="" />
                        </figure>
                    </div>
                </div>

                <!-- <div class="grievanceSection"  *ngIf="OurPartners?.subHeading3?.dispalystatus">
                    <p><span>For any grievances</span> - {{OurPartners?.subHeading3?.description}}</p>
                </div> -->

                <!-- <div class="poweredSection" *ngIf="OurPartners?.subHeading4?.dispalystatus">
                    <div class="left">
                        <span class="heading">{{OurPartners?.subHeading4.title}}</span>
                        <figure>
                            <img [src]="OurPartners?.subHeading4?.imageurl" alt="" />
                        </figure>
                    </div>
                    <figure class="right">
                        <img [src]="OurPartners?.subHeading4?.Subimageurl" alt="" />
                    </figure>
                </div> -->
            </div>
        </section>
