
<section class="ratingSection">
    <div class="container">
        <div class="heading3">Rating and Student feedback</div>
        <div class="ratingFeedback">
            <div class="rating">
                <span class="ratingNumber">4.5</span>
                <p>Assessment Rating</p>
                <span class="ratingStar">
                    <em class="icon-Star"></em>
                    <em class="icon-Star"></em>
                    <em class="icon-Star"></em>
                    <em class="icon-Star"></em>
                    <em class="icon-Star"></em>
                </span>
                <div class="progressBar">
                    <div>
                        <div class="progress">
                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                        </div>
                        <div class="ratingStar">
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                        </div>
                        <span class="percentage">65%</span>
                    </div>
                    <div>
                        <div class="progress">
                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                        </div>
                        <div class="ratingStar">
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                        </div>
                        <span class="percentage">65%</span>
                    </div>
                    <div>
                        <div class="progress">
                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                        </div>
                        <div class="ratingStar">
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                            <em class="icon-Star"></em>
                        </div>
                        <span class="percentage">65%</span>
                    </div>
                </div>
            </div>
            <div class="studentFeedback">
                <owl-carousel-o [options]="owlCarouselOptions">
                    <ng-template carouselSlide>
                        <div class="sliderBg">
                            <div class="sliderContent">
                                <div>
                                    <figure>
                                        <img src="https://assets.lntedutech.com/portalicons/user.svg" alt="" />
                                    </figure>
                                    <div>
                                        <span class="heading6">Gokul</span>
                                        <div class="ratingStar">
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, elit ut consequat vulputate, nibh enim posuere dolor, vel convallis sem ex eu risus. Nam sed mi vitae turpis viverra euismod non vel nisl. Morbi commodo vestibulum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, elit ut consequat.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="sliderBg">
                            <div class="sliderContent">
                                <div>
                                    <figure>
                                        <img src="https://assets.lntedutech.com/portalicons/user.svg" alt="" />
                                    </figure>
                                    <div>
                                        <span class="heading6">Narendran</span>
                                        <div class="ratingStar">
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, elit ut consequat vulputate, nibh enim posuere dolor, vel convallis sem ex eu risus. Nam sed mi vitae turpis viverra euismod non vel nisl. Morbi commodo vestibulum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, elit ut consequat.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="sliderBg">
                            <div class="sliderContent">
                                <div>
                                    <figure>
                                        <img src="https://assets.lntedutech.com/portalicons/user.svg" alt="" />
                                    </figure>
                                    <div>
                                        <span class="heading6">Naveethu</span>
                                        <div class="ratingStar">
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, elit ut consequat vulputate, nibh enim posuere dolor, vel convallis sem ex eu risus. Nam sed mi vitae turpis viverra euismod non vel nisl. Morbi commodo vestibulum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, elit ut consequat.</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="sliderBg">
                            <div class="sliderContent">
                                <div>
                                    <figure>
                                        <img src="https://assets.lntedutech.com/portalicons/user.svg" alt="" />
                                    </figure>
                                    <div>
                                        <span class="heading6">Pradeep</span>
                                        <div class="ratingStar">
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                            <em class="icon-Star"></em>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, elit ut consequat vulputate, nibh enim posuere dolor, vel convallis sem ex eu risus. Nam sed mi vitae turpis viverra euismod non vel nisl. Morbi commodo vestibulum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue, elit ut consequat.</p>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>