@import "variables";
.headerBar {
    padding-top: 77px;
    background: #f5f2f2 0% 0% no-repeat padding-box;
}

.pwdResetContainer ::ng-deep{
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: $primaryColor !important;
      }
      .mat-form-field-label {
        color: $mediumGrey !important;
    }
    .mat-form-field-wrapper {
        padding: 0 !important;
        margin: 0 !important;
    }
}
.pwdResetContainer{
    margin: 3em auto;
    max-width: 570px;
    width: 96%;

}
.forgotPassword {
    .resetPassword {
        @include buttonFilled;
        font-size: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        min-width: 8em;
        margin-top: 0.5em;
        font-weight: 400;
        line-height: 1.6;
    }
    .inputContainer {
        padding-bottom: .5em;
        font-size: 0.90em;
    }
    mat-form-field {
        width: 50% !important;
    }
    p {
        font-size: 0.875em;
        line-height: 1.3;
        font-weight: 400;
        color: $mediumGrey;
    }
}

.emailSent {
    text-align: center;
    .resetPassword {
        @include buttonFilled;
        font-size: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        min-width: 8em;
        margin-top: 0.5em;
        font-weight: 400;
        line-height: 1.6;
    }
    figure {
        img {
            width: 9%;
        }
    }
    .heading3 {
        text-transform: uppercase;
        font-weight: 700;
    }
    .heading5 {
        color: $darkGrey;
        margin: 0.3em 0 0.45em 0;
        span {
            color: $primaryColor;
        }
    }
    p {
        color: $mediumGrey;
        font-size: 0.93em;
        line-height: 1.4;
    }
    .singinContinue {
        @include buttonOutlined;
        color: $blackColor;
        min-width: 12em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size: 1.125em;
        margin-top: 1em;
        &:hover {
            transition: color, background-color 0.5s linear;
            @include buttonFilled;
        }
    }
}

.setPassword {
    .resetPassword {
        @include buttonFilled;
        font-size: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        min-width: 8em;
        margin-top: 0.5em;
        font-weight: 400;
        line-height: 1.6;
    }
    .email {
        background-color: #E2E2E2;
    }
}