<div class="headerBar"></div>
<div class="pwdResetContainer">
    <form [formGroup]="forgetPwdForm" autocomplete="off" *ngIf="viewObj.landing" class="forgotPassword">
        <div class="heading4">Forgot Password</div>
        <p>Enter your email address and will send you instructions to reset your Password.</p>
        <div class="inputContainer">
            <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <input type="text" autocomplete="off" name="email" formControlName="email" matInput placeholder="Email Address">
            </mat-form-field>
            <ng-container *ngIf="email.invalid && email.touched">
            <mat-error class="error" *ngIf="email.errors?.email">{{'Please enter a valid email address'}}</mat-error>
            <mat-error *ngIf="email.errors?.required" class="error">{{'Email is required'}}</mat-error>
        </ng-container>
        </div>
        <!-- <div nbRecaptcha formControlName="captcha"></div>
        <ng-container *ngIf="captcha.invalid && captcha.touched">
            <mat-error *ngIf="captcha.errors?.required" class="error">{{'Please fill in Captcha'}}</mat-error>
            <mat-error *ngIf="captcha.errors?.invalid" class="error">{{'Invalid Captcha'}}</mat-error>
        </ng-container>   -->

        <button  class="resetPassword" mat-stroked-button color="primary" (click)="checkCaptcha(captchaRef)">Submit</button>
    </form>
    <div *ngIf="viewObj.mailSent" class="emailSent">
        <figure>
            <img src="https://assets.lntedutech.com/portalicons/EmailSent.svg" alt="" />
        </figure>
        <div class="heading3">Email was Sent!</div>
        <div class="heading5">We have sent a password reset link to <span>{{forgetPwdForm.value.email}}</span></div>
        <p>Click on the 'Reset Password' link sent to your email ID and create a new password</p>
        <!-- to be commented while moving to testing, production-->
        <button class="resetPassword" style="display: none;" (click)="nextclicker()" mat-stroked-button color="primary">move to next page</button>
    </div>
    <form [formGroup]="resetPwdForm" autocomplete="off" *ngIf="viewObj.setPassword" class="setPassword forgotPassword">
        <div class="heading4">Set Password?</div>
        <p>Choose a strong password and don't reuse it for other accounts.</p>
        <div class="inputContainer">
            <mat-form-field class="email" appearance="outline">
                <mat-label></mat-label>
                <input type="text" autocomplete="off" name="email" formControlName="email" matInput placeholder="Email Address">
            </mat-form-field>
            <ng-container *ngIf="emailR.invalid && emailR.touched">
            <mat-error class="error" *ngIf="emailR.errors?.email">{{'Please enter a valid email address'}}</mat-error>
            <mat-error *ngIf="emailR.errors?.required" class="error">{{'Email is required'}}</mat-error>
        </ng-container>
        </div>
        <div class="inputContainer">
            <mat-form-field appearance="outline">
                <mat-label>New Password*</mat-label>
                <input autocomplete="off" name="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
            </mat-form-field>
            <ng-container *ngIf="password.invalid && password.touched">
                <mat-error *ngIf="password.errors?.required" class="error">{{'Password is required'}}</mat-error>
                <mat-error *ngIf="password.errors?.minlength" class="error">{{'Minimum 8 characters required'}}</mat-error>
                <mat-error *ngIf="password.errors?.maxlength" class="error">{{'Maximum 32 characters only allowed'}}</mat-error>
                <mat-error style="max-width: 55%;" *ngIf="password.errors?.password" class="error">{{'The password should consist of 1 uppercase, 1 lowercase,1 number and 1 special character [*.!@#$%^&(){}[]:;<>,.?/~_+-=|\].'}}</mat-error>
            </ng-container>    
        </div>
        <div class="inputContainer">
            <mat-form-field appearance="outline">
                <mat-label>Confirm New Password *</mat-label>
                <input autocomplete="off" name="password" formControlName="password2" matInput [type]="hide ? 'password' : 'text'">
                <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
            </mat-form-field>
            <ng-container *ngIf="password2.invalid && password2.touched || (resetPwdForm.errors?.notMatch && (resetPwdForm.touched || resetPwdForm.dirty))">
                <mat-error *ngIf="password2.invalid && password2.touched && password2.errors?.required" class="error">{{'Confirm Password is required'}}</mat-error>
                <mat-error *ngIf="!password2.errors?.required && resetPwdForm.errors?.notMatch" class="error">{{'Confirm Password should match the Password'}}</mat-error>
            </ng-container>    
        </div>
        <!-- <div nbRecaptcha formControlName="captcha"></div> -->
        <!-- <ng-container *ngIf="captchaR.invalid && captchaR.touched">
            <mat-error *ngIf="captchaR.errors?.required" class="error">{{'Please fill in Captcha'}}</mat-error>
            <mat-error *ngIf="captchaR.errors?.invalid" class="error">{{'Invalid Captcha'}}</mat-error>
        </ng-container>   -->

        <button type="submit" class="resetPassword" mat-stroked-button color="primary"  (click)="checkCaptcha(captchaRef)">Reset</button>
    </form>
    <div *ngIf="viewObj.pwdSuccess" class="emailSent passwordChanged">
        <figure>
            <img src="https://assets.lntedutech.com/portalicons/Successfully.svg" alt="" />
        </figure>
        <div class="heading3">Password Changed!</div>
        <div class="heading5">Your password has been changed successfully.</div>
        <button class="singinContinue" (click)="redirectLogin()" mat-stroked-button color="primary">Sign In to Continue</button>
    </div>

    <div *ngIf="viewObj.linkExp" class="emailSent passwordChanged">
        <!-- <figure>
            <img src="/assets/images/Successfully.svg" alt="" />
        </figure> -->
        <div class="heading3">Link Expired !!!</div>
        <div class="heading5">Please try again later.</div>
        <button class="singinContinue" (click)="redirectLogin()" mat-stroked-button color="primary">Sign In to Continue</button>
    </div>
</div>
<re-captcha #captchaRef="reCaptcha"  (resolved)="resolvedSubmit($event)" size='invisible' (error)="onError($event)"
errorMode="handled" [siteKey]="siteKey">
</re-captcha>