<section class="skillLevelSection" id="certification">
    <div class="container">
       <div class="headWrapper">
            <div class="commonHeadingStyle">{{competencyData?.name}}</div>
            <div class="btnWrapper">
                <a (click)="back()"><em class="icon-Back"></em><span>Back</span></a>
            </div>
       </div>
        <div class="levelsandSkills">
            <div class="heading">Accelerate your career path in this {{competencyData?.productType == 'course' ? 'Course': 'Assessment'}}</div>
            <p>Best for those who want a series of Assessment</p>
            <!-- <div class="heading1">{{competencyData.name}}</div> -->
            <!-- <P>{{competencyData.longDescription}}</P> -->
            <!-- <div class="descriptionSection " *ngIf="areaData.cid==='A0004'">
                <div class="achieve">
                    <div class="heading4">What you will achieve</div>
                    <p>Proficiency in Construction Engineering concepts and knowledge areas to help with employment in
                        the area.</p>
                </div>
                <div class="requirements require">
                    <div class="heading4">Requirements</div>
                    <p>Completion of academic studies or a course in Construction Engineering and ability to apply
                        learning effectively.</p>
                </div>
            </div> -->
            <!-- <div class="description">
                <span class="heading4">Description</span>
                <div [ngClass]="{'limitTextHeight': isReadMore}">
                    <p>{{aboutArea?.contentDescription}}</p>
                </div>
                <button *ngIf="aboutArea?.contentDescription.length > 370" type="button" (click)="showText()">
                    {{ isReadMore ? 'Show More': 'Show Less' }} <em class="icon-DownArrow"></em>
                </button>
            </div> -->
            <!-- <div class="assessmentOverview">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="heading4">
                                    {{competencyData?.productType == 'course' ? 'Course Overview': 'Assessment Overview'}}
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="listItem" [innerHtml]="competencyData.assessmentOverview"> </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div> -->
        </div>
        <div class="certifyAssessment">
            <div class="headCount">
                <div class="heading" *ngIf="competencyData?.productType != 'course'">Assessment Levels</div>
                <span class="totalAssessments">
                    <em class="icon-Document"></em>
                    {{competencyData.totalAssessment}} {{competencyData.totalAssessment > 1 ? 'Assessments':'Assessment'}}
                </span>
            </div>
            <div class="assessmentLevelSection">
                <ng-container *ngFor="let first of assessmentList;let i = index">
                    <div class="assessmentLevels" *ngIf="first.assessmentData.length > 0">
                        <div class="levels">
                            <span class="accoordIcon"><em class="icon-Clipboard"></em></span>
                            <span class="heading5" *ngIf="competencyData?.productType == 'course'">{{'Course'}}</span>
                            <span class="heading5" *ngIf="competencyData?.productType != 'course'">{{first.levelName}}</span>
                        </div>
                        <div class="content" *ngFor="let second of first.assessmentData; let i = index">
                            <div class="description">
                                <div class="heading5">{{second.name}}</div>
                                <p>{{second.shortDescription}}</p>
                                <div class="levelAssessment">
                                    <div *ngFor="let third of second.testTypes">
                                        <span class="heading">{{third.testName}}</span>
                                        <span class="assessmentHour">
                                            <span><em class="icon-Time"></em> {{third.sumtotalhour}} Min(s)</span>
                                            <span><em class="icon-Time"></em> {{third.totalQuestion}} Questions</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="buyNowCart">
                                <span class="purchaseRate"><em class="icon-Rupee" *ngIf="!second.is_free"></em>{{!second.is_free?second.sellingPrice:"Free"}}</span>
                                <button class="buyNow" *ngIf="!second.is_free"
                                    (click)="addCart(false,first.levelId,second.cid,'buy')">Buy Now</button>
                                <button class="addCart" *ngIf="!second.is_free"
                                    (click)="addCart(false,first.levelId,second.cid,'cart')">Add to Cart</button>
                                <button class="taketest" *ngIf="second.is_free"
                                    (click)="addCart(false,first.levelId,second.cid,'cart',second)">Take
                                    test</button>
                                <!-- <button class="taketest" *ngIf="first.is_free" (click)="gotoTest(true,first.levelId,'','buy',first)">Get all tests</button> -->
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- <mat-accordion class="example-headers-align">
                <ng-container *ngFor="let first of assessmentList;let i = index">
                    <mat-expansion-panel [expanded]="certifyOpenState" *ngIf="first.assessmentData.length > 0">
                        <mat-expansion-panel-header>
                            <span class="line"></span>
                            <mat-panel-title>
                                <span class="accoordIcon"><em class="icon-Clipboard"></em></span>
                                <span class="levels heading5" *ngIf="competencyData?.productType == 'course'">{{'Course'}}</span>
                                <span class="levels heading5" *ngIf="competencyData?.productType != 'course'">{{first.levelName}}</span>
                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="buyNowCart" style="z-index: 100;">
                                    <span class="purchaseRate"><em
                                            class="icon-Rupee"></em>{{first.is_free?'Free':first.levelPrice}}</span>
                                    <button class="buyNow" *ngIf="!first.is_free"
                                        (click)="addCart(true,first.levelId,'','buy')">Buy Now</button>
                                    <button class="addCart" *ngIf="!first.is_free"
                                        (click)="addCart(true,first.levelId,'','cart')">Add to Cart</button>
                                    <button class="taketest" *ngIf="first.is_free" (click)="gotoTest(true,first.levelId,'','buy',first)">Get all tests</button>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <span class="line"></span>
                        <div class="content" *ngFor="let second of first.assessmentData; let i = index">
                            <span class="icons"><em class="icon-Play"></em></span>
                            <div class="description">
                                <div class="heading5">{{second.name}}</div>
                                <p>{{second.shortDescription}}</p>
                                <div class="levelAssessment">
                                    <div *ngFor="let third of second.testTypes">
                                        <span class="heading">{{third.testName}}</span>
                                        <span class="assessmentHour">{{third.sumtotalhour}} Min(s) <span>|</span>
                                            {{third.totalQuestion}} Questions</span>
                                    </div>
                                </div>
                            </div>
                            <div class="buyNowCart">
                                <span class="purchaseRate"><em class="icon-Rupee" *ngIf="!second.is_free"></em>{{!second.is_free?second.sellingPrice:"Free"}}</span>
                                <button class="buyNow" *ngIf="!second.is_free"
                                    (click)="addCart(false,first.levelId,second.cid,'buy')">Buy Now</button>
                                <button class="addCart" *ngIf="!second.is_free"
                                    (click)="addCart(false,first.levelId,second.cid,'cart')">Add to Cart</button>
                                <button class="taketest" *ngIf="second.is_free"
                                    (click)="addCart(false,first.levelId,second.cid,'cart',second)">Take
                                    test</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion> -->
        </div>
    </div>
</section>
<ng-template #kycmandate>
    <app-kyc-mandate></app-kyc-mandate>
</ng-template>