@import "variables";

.certificationDetails {
    padding: 3.75em 0 0 0;
    font-size: 10px;
    @include md {
        font-size: 12px;
    }
    @include lg {
        font-size: 14px;
    }
    @include xl {
        font-size: 16px;
    }
}
.getCertified {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
    @include md {
        flex-wrap: nowrap;
    }
    .certifiedDescription {
        width: 100%;
        @include md {
            width: 40%;
        }
        .heading4 {
            color: $blackColor;
            margin-bottom: 0.5em;
            display: inline-block;
            width: 100%;
        }
        p {
            color: $mediumGrey;
            line-height: 1.4;
            margin: 0;
        }
    }
    .certifiedImage {
        width: 100%;
        @include md {
            width: 55%;
        }
        figure {
            display: flex;
        }
    }
}

.assessmentDetails {
    background-color: $bgColor;
    padding: 3.75em 0 3.75em 0;
    font-size: 10px;
    position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.7;
    }
    &::before {
        left: 0;
        top: 0;
        background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/assessment-details1.webp');
        width: 50%;
        height: 33%;
    }
    &::after {
        right: 0;
        bottom: 0;
        background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/assessment-details.webp');
        width: 60%;
        height: 10%;
        @include sm {
            width: 45%;
        }
        @include md {
            width: 45%;
            height: 20%;
        }
    }
    @include md {
        font-size: 12px;
    }
    @include lg {
        font-size: 14px;
    }
    @include xl {
        font-size: 16px;
    }
    .heading2 {
        margin-bottom: 0.75em;
    }
}
.assessmentCallouts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
    @include md {
        margin-left: 0;
    }
    @include lg {
        margin-left: -1%;
    }
}
.assessment1 {
    width: 100%;
    margin: 2em 0 0 0;
    text-align: center;
    @include md {
        width: 48%;
        margin: 2em 1% 0 1%;
    }
    @include lg {
        width: 31%;
        margin: 2em 1% 0 1%;
    }
    @include xl {
        padding: 0.5em;
        box-sizing: border-box;
        transition: all 0.3s ease-out 0s;
    }
    &:hover {
        @include xl {
            box-shadow: 0 0 30px 0 rgb(0 0 0 / 18%);
            transform: translate(0px, -10px);
        }
    }
    figure, .heading4 {
        margin-bottom: 0.5em;
    }
    em {
        color: $primaryColor;
        font-size: 1.75em;
    }
    .heading4 {
        color: $blackColor;
    }
    p {
        font-size: 0.94em;
        font-weight: 400;
        line-height: 1.4;
        color: $mediumGrey;
        padding: 0 1.5em;
        @include md {
            padding: 0 0.5em;
        }
    }
}

.assessmentSteps {
    font-size: 10px;
    background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/AssessmentSteps_bg.webp');
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    &::before {
        content: '';
        display: block;
        padding-bottom: 160%;
        @include sm {
            padding-bottom: 75%;
        }
        @include md {
            padding-bottom: 46%;
        }
        @include lg {
            padding-bottom: 38%;
        }
        @include xl {
            padding-bottom: 33%;
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.8);
    }
    @include md {
        font-size: 12px;
    }
    @include lg {
        font-size: 14px;
    }
    @include xl {
        font-size: 16px;
    }
    .stepsPosition {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        padding: 3.75em 0;
    }
    .heading2 {
        color: $whiteColor;
    }
}

.stepsSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4em;
    @include md {
        flex-wrap: nowrap;
    }
}
.steps {
    width: 100%;
    text-align: center;
    @include md {
        width: 30%;
    }
    a{
        cursor: default !important;
    }
    .icons {
        background-color: $whiteColor;
        width: 5em;
        height: 5em;
        border-radius: 50%;
        padding: 1.5em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        em {
            color: $primaryColor;
            font-size: 2.5em;
        }
    }
    .heading4 {
        font-weight: 400;
        color: $whiteColor;
        margin: 0.5em 0;
        text-transform: uppercase;
    }
    p {
        font-weight: 400;
        color: $lightGrey;
        line-height: 1.4;
        padding: 0 1em;
    }
}
