<section class="myPurchase" *ngIf="assessmentList.length > 0 && isShow">
     <!-- My Course -->
    <ng-container *ngIf="productType == 'course'">
        <div class="container">
            <div class="commonHeadingStyle">{{'My Course'}}</div>
            <div class="list">
                <div class="card"  *ngFor="let item of assessmentList">
                    <div class="left">
                        <figure>
                            <img [src]="item?.assessmentDetails?.image?.url" alt="">
                        </figure>    
                    </div>
                    <div class="right">
                        <div class="heading" [ngStyle]="{'color' : productType == 'course' ? '#20B19A' :'#5B6ABA'}"><em class="icon-Right_Play"></em> <span >{{item.cart.competencyName}}</span></div>
                        <div class="courseHeading">{{item?.cart?.assessmentName}}</div>
                        <div class="contentWrapper">
                            <p>{{item?.assessmentDetails?.shortDescription}}</p>
                            <button (click)="goToCourse()">Go To course</button>
                        </div>
                        <div class="durationwrapper">
                            <div class="durationTxt">Batch starts on</div>
                            <div class="duration"><em class="icon-Time"></em> <span>{{item?.assessmentDetails?.courseContents?.batchStartDate | date :'dd MMM, yyyy'}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <!-- My Assessment -->
    <ng-container *ngIf="productType != 'course'">
        <div class="container">
            <div class="commonHeadingStyle">{{'My Assessment'}}</div>
            <div class="list">
                <div class="card"  *ngFor="let item of assessmentList">
                    <div class="left">
                        <figure>
                            <img [src]="item?.assessmentDetails?.image?.url" alt="">
                        </figure>    
                    </div>
                    <div class="right">
                        <div class="assessmentWrapper">
                            <div>
                                <div class="heading" [ngStyle]="{'color' : productType == 'course' ? '#20B19A' :'#5B6ABA'}"><em class="icon-Right_Play"></em> <span >{{item.cart.competencyName}}</span></div>
                                <div class="levels">{{item.cart.levelName}}</div>
                                <div class="subHeading">{{item.cart.assessmentName}}</div>
                            </div>
                            <div class="btnarea">
                                <button *ngIf="item.assessmentDetails.assmentstatus != 'Completed'" (click)="uapRedirect(item.assessmentDetails.assessmentId)">Go To Test</button>
                                <button *ngIf="item.assessmentDetails.assmentstatus == 'Completed'" (click)="viewReportRedirect(item)">View Port</button>
                            </div>
                        </div>
                        <div class="levelAssessment">
                            <div  *ngFor="let testType of item.assessmentDetails.testTypes index as i">
                                <span class="heading">{{testType.testName}}</span>
                                <span class="assessmentHour">
                                    <span><em class="icon-Time"></em>{{testType.sumtotalhour}} Min(s)</span>
                                    <span><em class="icon-Layers"></em> {{testType.totalQuestion}} Questions</span>
                                </span>
                                <div class="bookaSlot">
                                    <button *ngIf="!testType.bookaslotstatus" (click)="bookSlot(item,i)">Book a slot</button>
                                    <ng-container *ngIf="testType.bookaslotstatus&& testType.teststatus!=='Completed'">
                                        <span style="color: #1B4E9B;">Booked</span>
                                        <div class="date">{{testType.bookeddate|date : 'M/d/y'}} {{testType.bookeddate|date : 'hh:mm a'}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="testType.bookaslotstatus&& testType.teststatus ==='Completed'">
                                        <span style="color: #56B35A;">Completed</span>
                                        <!-- <div class="date">{{testType.bookeddate|date : 'M/d/y'}} {{testType.bookeddate|date : 'hh:mm a'}}</div> -->
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</section>

<!-- No Card -->
<section *ngIf="assessmentList.length == 0 && isShow" class="emptyCart">
    <div class="imgContainer">
        <figure>
            <img src="https://lmsassetspremium.lntedutech.com/portalicons/empty-assessment.png" alt="" />
            <div class="heading3">{{productType != 'course' ? 'Benchmark your skills, get your assessments!!!':'Build your competencies, get your courses!!!'}}</div>
            <button (click)="toCatalogue()">Go to Catalog</button>
        </figure>
    </div>
</section>
