@import "variables";
@import "keyframes";

[class*=app-] {
    display: inline-block;
    width: 100%;
}

// bannercount
.bannercount {
    background-color: #F9FDFF;
    padding: 2.75em 0;
    font-size: 11px;
    @include sm {
      font-size: 12px;
    }
    @include md {
      font-size: 13px;
    }
    @include lg {
      font-size: 14px;
    }
    @include xl {
      font-size: 16px;
    }
    .container {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0;
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 1em;
                &:first-child {
                  margin-top: 0;
                }
                &:nth-child(2) {
                  @include md {
                    margin-top: 0;
                  }
                }
                &:last-child {
                  @include sm {
                    margin-top: 1em;
                  }
                  @include md {
                    margin-top: 0;
                  }
                }
                @include sm {
                  width: 45%;
                }
                @include md {
                  width: 30%;
                }
                @include lg {
                }
                figure {
                    margin-right: 2em;
                    width: 17%;
                }
                .right {
                  width: 81%;
                    .count {
                        color: $blueLabelColor;
                        font-family: "OpenSans", sans-serif;
                        font-size: 2.1875em;
                        font-weight: 400;
                        margin-bottom: 0.25em;
                        line-height: normal;
                    }
                    p {
                        color: $shadeBlueColor;
                        font-size: 1.125em;
                        font-weight: 700;
                        line-height: normal;
                        margin: 0;
                    }
                }
            }
        }
    }
}
// trail
.trail {
    position: relative;
    background-color: $whiteColor;
    font-size: 14px;
    @include sm {
      padding: 2.75em 0;
    }
    @include md {
      font-size: 13px;
    }
    @include lg {
      font-size: 14px;
    }
    @include xl {
      font-size: 16px;
    }
    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("#{$imagePath}/trail-left.svg");
        background-position: top;
        top: 10px;
        left: -373px;
        width: 50%;
        height: 90%;
    }
    &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("#{$imagePath}/trail-right.svg");
        background-position: top;
        top: 10px;
        right: -373px;
        width: 50%;
        height: 90%;
    }
    .container {
        text-align: center;
        line-height: normal;
        p {
            color: $blueLabelColor;
            font-family: "OpenSans", sans-serif;
            font-size: 2.1875em;
            font-weight: 800;
        }
        .desc{
            margin: 1.5em 0;
            color: $shadeBlueColor;
            font-size: 0.8125;
            font-weight: 400;
        }
        button {
            font-family: "OpenSans", sans-serif;
            padding: 0.35em 1.5em;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            font-size: 1.3125em;
            font-weight: 700;
            border-radius: 5px;
            background-color: #49AE31;
            color: $whiteColor;
            border: 1px solid  #49AE31;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color:$whiteColor;
                color: #49AE31;
            }
        }
    }
}