@import "variables";
@import "keyframes";

[class*=app-] {
    display: inline-block;
    width: 100%;
}

// bannercount
.bannercount {
    background-color: #F9FDFF;
    padding: 2.75em 0;
    font-size: 11px;
    @include sm {
      font-size: 12px;
    }
    @include md {
      font-size: 13px;
    }
    @include lg {
      font-size: 14px;
    }
    @include xl {
      font-size: 16px;
    }
    .container {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0;
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 1em;
                &:first-child {
                  margin-top: 0;
                }
                &:nth-child(2) {
                  @include md {
                    margin-top: 0;
                  }
                }
                &:last-child {
                  @include sm {
                    margin-top: 1em;
                  }
                  @include md {
                    margin-top: 0;
                  }
                }
                @include sm {
                  width: 45%;
                }
                @include md {
                  width: 30%;
                }
                @include lg {
                }
                figure {
                    margin-right: 2em;
                    width: 17%;
                }
                .right {
                  width: 81%;
                    .count {
                        color: $blueLabelColor;
                        font-family: "OpenSans", sans-serif;
                        font-size: 2.1875em;
                        font-weight: 600;
                        margin-bottom: 0.25em;
                        line-height: normal;
                    }
                    p {
                        color: $shadeBlueColor;
                        font-size: 1.125em;
                        font-weight: 400;
                        line-height: normal;
                        margin: 0;
                    }
                }
            }
        }
    }
}

//Success Career
.successfulCareer {
  position: relative;
  background-color: $whiteColor;
  font-size: 14px;
  padding: 3.75em 0;
  @include sm {
  }
  @include md {
    font-size: 13px;
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
}

//carrerpath
.successfulCareer {
  background-image: url("https://lmsassetspremium.lntedutech.com/portalicons/carrerpathbg.webp ");
  background-repeat: no-repeat; 
  background-size: cover;
  font-size: 14px;
  padding: 3.75em 0;
  @include sm {
  }
  @include md {
    font-size: 13px;
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
  .container {
    text-align: center;
    p {
      text-align: center;
      color: $darkMediumGrey;
      font-size: 1em;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 1em;
    }
    button {
      color: $whiteColor;
      background-color: $secondaryColor;
      padding: 0.5em 1.5em;
      border: 1px solid $secondaryColor;
      border-radius: 5px;
      font-family: "OpenSans", sans-serif;
      font-size: 1em;
      font-weight: 400;
      line-height: normal;
      transition: all 0.3s ease-in-out;
      &:hover {
          background-color:$whiteColor;
          color: $secondaryColor;
      }
    }
  }
  .wrapper {
    margin: 3.5em 0;
    position: relative;
    overflow: hidden;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      @include md {
        width: 100%;
        display: table;
        table-layout: fixed;
      }
      li {
        width: auto;
        transition: all .5s ease;
        cursor: pointer;
        border-radius: 10px;
        overflow: hidden;
        @media only screen and (max-width: 699px) {
          margin-bottom: 3px;
        }
        @include md {
          width: 20%;
          display: table-cell;
          position: relative;
          border: 2px solid $whiteColor;
        }
        &:first-child {
          background-color: #585F0B;
          .content-container {
            figure {
              @include lg {
                &::after {
                  background: rgba(88, 95, 11, 0.4);
                  background: linear-gradient(to top, rgba(88, 95, 11, 1), rgba(88, 95, 11, 0.4), rgba(88, 95, 11, 0));
                }
              }
            }
          }
        }
        &:nth-child(2) {
          background-color: #1E876B;
          .content-container {
            figure {
              @include lg {
                &::after {
                  background: rgba(30, 135, 107, 0.4);
                  background: linear-gradient(to top, rgba(30, 135, 107, 1), rgba(30, 135, 107, 0.4), rgba(30, 135, 107, 0));
                }
              }
            }
          }
        }
        &:nth-child(3) {
          background-color: #5E2D83;
          .content-container {
            figure {
              @include lg {
                &::after {
                  background: rgba(30, 135, 107, 0.4);
                  background: linear-gradient(to top, rgba(94, 45, 131, 1), rgba(94, 45, 131, 0.4), rgba(94, 45, 131, 0));
                }
              }
            }
          }
        }
        &:nth-child(4) {
          background-color: #1C4586;
          .content-container {
            figure {
              @include lg {
                &::after {
                  background: rgba(30, 135, 107, 0.4);
                  background: linear-gradient(to top, rgba(28, 69, 134, 1), rgba(28, 69, 134, 0.4), rgba(28, 69, 134, 0));
                }
              }
            }
          }
        }
        &:last-child {
          background-color: #1E7387;
          .content-container {
            figure {
              @include lg {
                &::after {
                  background: rgba(30, 135, 107, 0.4);
                  background: linear-gradient(to top, rgba(30, 115, 135, 1), rgba(30, 135, 107, 0.4), rgba(30, 115, 135, 0));
                }
              }
            }
          }
        }
        &.active {
          width: auto;
          outline: none;
          overflow: hidden;
          cursor: initial;
          @include md {
            width: 100%;
          }
          @include lg {
            width: 75%;
          }
          .content-container {
            height: 250px;
            @include md {
              height: 300px;
            }
            figure {
              @media only screen and (max-width: 699px) {
                width: 30%;
              }
              @include md {
                width: auto;
              }
              img {
                @media only screen and (max-width: 699px) {
                  object-position: bottom;
                }
                @include md {
                  width: auto;
                }
              }
              &::after {
                content: none;
              }
              .title {
                opacity: 0;
              }
            }
            .content {
              height: 100%;
              text-align: left;
              @media only screen and (max-width: 699px) {
                width: 70%;
              }
              @include md {
                padding: 0 20px 10px 20px;
                margin-left: 37%;
              }
              @include lg {
                margin-left: 31%;
                padding: 0 20px 20px 20px;
              }
              @include xl {
                margin-left: 27%;
              }
              .heading, p {
                opacity: 1;
                transition-delay: 0.3s;
              }
            }
          }
        }
        .content-container {
          height: 140px;
          transition: all .5s ease;
          overflow: hidden;
          display: flex;
          @include md {
            display: block;
            height: 300px;
          }
          figure {
            position: relative;
            left: 0;
            top: 0;
            order: 2;
            @media only screen and (max-width: 699px) {
              width: 30%;
            }
            @include md {
              position: absolute;
              order: 1;
            }
            img {
              @media only screen and (max-width: 699px) {
                object-position: top;
              }
              width: 100%;
              height: 300px;
              object-fit: cover;
            }
            @include lg {
              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50%;
              }
            }
            .title {
              position: absolute;
              bottom: 1em;
              left: 0;
              width: 100%;
              font-family: "OpenSans", sans-serif;
              font-size: 0.875em;
              font-weight: 600;
              color: $whiteColor;
              line-height: normal;
              z-index: 1;
              opacity: 0;
              transition: opacity 0.3s 0s ease-in-out;
              @include lg {
                opacity: 1;
              }
            }
          }
          .content {
            position: relative;
            @media only screen and (max-width: 699px) {
              width: 70%;
              padding: 15px;
            }
            .heading, p {
              color: $whiteColor;
              text-align: left;
              position: relative;
            }
            .heading {
              opacity: 1;
              font-family: "OpenSans", sans-serif;
              font-size: 1.25em;
              font-weight: 700;
              top: 1.5em;
              @media only screen and (max-width: 699px) {
                top: 0.75em;
              }
              @include md {
                opacity: 0;
              }
            }
            p {
              opacity: 0;
              margin: 0;
              font-size: 0.9375em;
              font-weight: 300;
              line-height: 1.7;
              top: 2em;
              @media only screen and (max-width: 699px) {
                transition: all 0.3s;
              }
              @include md {
                top: 3em;
              }
            }
            &::before {
              content: '';
              position: absolute;
              background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/pathbg.webp');
              background-repeat: no-repeat;
              background-size: cover;
              background-position: bottom;
              width: 100%;
              height: 100%;
              bottom: 0;
              right: 0;
              opacity: 0.15;
            }
          }
        }
      }
    }
  }
  // .wrapper {
  //   margin: 2.5em 0;
  //   ul {
  //     display: flex;
  //     max-height: 300px;
  //     min-height: 300px;
  //     margin: 0;
  //     padding: 0;
  //     overflow: hidden;
  //     list-style-type: none;
  //   }
  //   li {
  //     flex: 1;
  //     display: flex;
  //     align-items: stretch;
  //     margin: 0 3px;
  //     border-radius: 10px;
  //     cursor: pointer;
  //     overflow: hidden;
  //     transition: all .5s ease;
  //     width: 20%;
  //     &:first-child {
  //       background-color: #585F0B;
  //     }
  //     &:nth-child(2) {
  //       background-color: #1E876B;
  //     }
  //     &:nth-child(3) {
  //       background-color: #5E2D83;
  //     }
  //     &:nth-child(4) {
  //       background-color: #1C4586;
  //     }
  //     &:last-child {
  //       background-color: #1E7387;
  //     }
  //     &.active {
  //       flex: 5;
  //       cursor: default;
  //       border-radius: 10px;
  //       &:first-child {
  //         background-color: #585F0B;
  //       }
  //       &:nth-child(2) {
  //         background-color: #1E876B;
  //       }
  //       &:nth-child(3) {
  //         background-color: #5E2D83;
  //       }
  //       &:nth-child(4) {
  //         background-color: #1C4586;
  //       }
  //       &:last-child {
  //         background-color: #1E7387;
  //       }
  //       > div {
  //         display: flex;
  //         align-items: flex-start;
  //         position: relative;
  //         &::before {
  //           content: '';
  //           position: absolute;
  //           background-image: url('#{$imagePath}/careerPathBg.png');
  //           background-repeat: no-repeat;
  //           background-size: cover;
  //           background-position: bottom;
  //           width: 100%;
  //           height: 100%;
  //           bottom: 0;
  //           right: 0;
  //           opacity: 0.15;
  //         }
  //       }
  //       h2 {
  //         color: #E74C3C;
  //       }
  //       .section-title {
  //         text-align: left;
  //         flex: 1;
  //         .heading {
  //           display: none;
  //         }
  //       }
  //       .section-content {
  //         flex: 3;
  //         opacity: 1;
  //         flex-direction: column;
  //         width: 72%;
  //         .heading {
  //           font-family: "OpenSans", sans-serif;
  //           font-size: 1.25em;
  //           font-weight: 700;
  //           color: $whiteColor;
  //           padding: 1.5em 0 0 1em;
  //         }
  //         p {
  //           padding: 1.25em;
  //         }
  //       }
  //     }
  //     .section-title {
  //       flex: 1;
  //       display: flex;
  //       align-items: center;
  //       width: 100%;
  //       margin: 0;
  //       padding: 0;
  //       text-align: center;
  //       color: white;
  //       position: relative;
  //       transition-delay: 0.5s;
  //       .heading {
  //         opacity: 1;
  //       }
  //       figure {
  //         img {
  //           height: 300px;
  //           object-fit: cover;
  //         }
  //       }
  //       .heading {
  //         position: absolute;
  //         left: 0;
  //         bottom: 10px;
  //         margin: 0;
  //         width: 100%;
  //         font-family: "OpenSans", sans-serif;
  //         font-size: 0.9375em;
  //         font-weight: 600;
  //         color: $whiteColor;
  //       }
  //     }
  //     .section-content {
  //       flex: 1;
  //       display: flex;
  //       margin: 0;
  //       padding: 0;
  //       opacity: 0;
  //       transition: all .25s .5s ease-out;
  //       text-align: left;
  //       p {
  //         margin: 0;
  //         text-align: left;
  //         font-size: 0.9375em;
  //         font-weight: 400;
  //         color: $whiteColor;
  //         line-height: 2;
  //       }
  //     }
  //   }    
  // }
}

// trail
.trail {
    position: relative;
    background-color: $whiteColor;
    font-size: 14px;
    padding: 3.75em 0;
    @include sm {
    }
    @include md {
      font-size: 13px;
    }
    @include lg {
      font-size: 14px;
    }
    @include xl {
      font-size: 16px;
    }
    &::before, &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
      top: 50%;
      transform: translateY(-50%);
      height: 93%;
      width: 70%;
      opacity: 0.2;
      @include sm {
        opacity: 1;
        width: 45%;
      }
      @include md {
        width: 29%;
      }
      @include lg {
        width: 25%;
      }
      @include xl {
        width: 20%;
      }
      @media only screen and (min-width: 1540px) {
        width: 14%;
      }
    }
    &::before {
        background-image: url("https://lmsassetspremium.lntedutech.com/portalicons/trail-left.webp");
        left: -11em;
        @include md {
          left: -8em;
        }
    }
    &::after {
        background-image: url("https://lmsassetspremium.lntedutech.com/portalicons/trail-right.webp");
        right: -11em;
        @include md {
          right: -8em;
        }
    }
    .container {
        text-align: center;
        line-height: normal;
        p {
            color: $blueLabelColor;
            font-family: "OpenSans", sans-serif;
            font-size: 2.1875em;
            font-weight: 800;
        }
        .desc {
            margin: 1.5em 0;
            color: $shadeBlueColor;
            font-size: 0.8125;
            font-weight: 400;
        }
        button {
            font-family: "OpenSans", sans-serif;
            padding: 0.35em 1.5em;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            font-size: 1.3125em;
            font-weight: 700;
            border-radius: 5px;
            background-color: #49AE31;
            color: $whiteColor;
            border: 1px solid  #49AE31;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color:$whiteColor;
                color: #49AE31;
            }
        }
    }
}
.feedback {
      position: relative;
      font-size: 14px;
      background-color: #F6F7FA;
      padding: 3.75em 0;
        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height :100%;
          background-image: url("https://lmsassetspremium.lntedutech.com/portalicons/feedbackbg.webp");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          background-position:center;
          opacity: 1;
        }
    @include sm {
      padding: 4.75em ​0;
    }
    @include md {
      font-size: 13px;
    }
    @include lg {
      font-size: 14px;
    }
    @include xl {
      font-size: 16px;
    }
    .container { 
        .owlCarouselWrapper {
          margin-top: 3em;
          position: relative;
          width: 100%;
          text-align: center;
          .card {
            position: relative;
            width: 90%;
            background-color: $whiteColor;
            padding: 2.75em;
            border-radius: 5px;
            margin: 1em auto 1em auto;
            @include md {
              width: 100%;
            }
            .title {
              color: $darkMediumGrey;
              font-family: "OpenSans", sans-serif;
              font-size: 1.125em;
              font-weight: 700;
              margin-bottom: 1.25em;
            }
            .desc {
              color:$lightGrey;
              font-size: 1em;
              font-weight: 400;
              line-height: 1.5;
              margin: 0;
            }
            .imagearea {
              margin-top: 20px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -40px;
              display: flex;
              align-items: center;
                  .greencircle {
                    height: 4.5em;
                    width: 4.5em;
                    border-radius: 50%;
                    background-color:#20B19A;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    left: 0.65em;
                    em {
                      font-size: 1.5em;
                      color: $whiteColor;
                    }
                  }
                  figure {
                    display: inline-block;
                    overflow: hidden;
                    border-radius: 50%;
                    box-shadow: 15px 15px 10px 0 rgb(0 0 0 / 10%);
                    transition: all 0.4s ease;
                    width: 4.5em;
                    position: relative;
                    right: 0.65em;
                  }
            }
       
          }
          .footer {
            margin-top: 4em;
            p {
              color: $darkMediumGrey;
              font-family: "OpenSans", sans-serif;
              font-size: 0.9375em;
              font-weight: 700;
            }
            span {
              color:$lightGrey;
              font-size: 0.9375em;
              font-weight: 400;
              margin: 1em 0;
            }
          }
        }
    }
}
::ng-deep.owlCarouselWrapper {
  .owl-carousel { 
    .owl-item { 
      .card ,.footer {
        opacity: 0.6;
      }
      .card {
        &::before {
          box-shadow: none;
          background: #f5f5f5;
        }
      }
      &.center { 
        .card ,.footer { 
          opacity: 1;
        }
        .card {
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .owl-theme {
    .owl-dots {
      margin-top: 1em;
      position: absolute;
      bottom: auto;
      left: 0;
      width: 100%;
      .owl-dot span {
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background-color: #E9EBF0;
        &:hover {
          background-color: #2EA3F2;
        }
      }
    }
  }
}

// aboutProgram
.aboutProgram {
  position: relative;
  padding: 1.75em 0;
  background-color: $aliceBlueColor;
  font-size: 13px;
  @include md {
    font-size: 14px;
  }
  @include lg {
    font-size: 15px;
  }
  @include xl {
    font-size: 16px;
  }
  &::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    top: 50%;
    transform: translateY(-50%);
    height: 93%;
    width: 70%;
    opacity: 0.2;
    @include sm {
      opacity: 1;
      width: 45%;
    }
    @include md {
      width: 29%;
    }
    @include lg {
      width: 25%;
    }
    @include xl {
      width: 20%;
    }
    @media only screen and (min-width: 1540px) {
      width: 14%;
    }
  }
  &::before {
    background-image: url("https://lmsassetspremium.lntedutech.com/portalicons/curriculum-left.webp");
    left: -11em;
    @include md {
      left: -5em;
    }
  }
  .container {
    position: relative;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    @include md {
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
    }
    .leftSideImage {
      width: 100%;
      order: 2;
      @include md {
        width: 45%;
        order: 1;
      }
      figure {
        img {
          width: 100%;
        }
      }
    }
    .rightSideDetails {
      width: 100%;
      order: 1;
      @include md {
        width: 50%;
        order: 2;
      }
      .heading2 {
        text-align: left;
        line-height: 1.3;
        position: relative;
        margin-left: 0.2em;
        color: $secondaryColor;
        &::after {
          left: 0;
          transform: translateX(0);
        }
      }
      p {
        color: $darkMediumGrey;
        font-size: 1em;
        line-height: 2em;
        padding-bottom: 1em;
        margin: 0;
        text-align: justify;
        @include md {
          font-size: 1.1em;
          line-height: 1.5em;
          margin: 1em 0em;
        }
      }
    }
  }
}

// capabilities
.capabilities{
  position: relative;
  padding: 3.75em 0;
  font-size: 13px;
  @include md {
    font-size: 14px;
  }
  @include lg {
    font-size: 15px;
  }
  @include xl {
    font-size: 16px;
  }
  .container{
    position: relative;
    z-index: 9;
  }
  .division{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include md {
      flex-wrap: nowrap;
    }
  }
  .heading2 {
    background-color: $whiteColor;
    text-align: start;
    line-height: 1.3;
    div{
      margin-top: 0.3em;
    }
    &::after {
        content: none;
    }
    span {
        position: relative;
        margin-left: 0.2em;
        color: $secondaryColor;
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/border.webp');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
.left {
  width: 100%;
  @include md {
    width: 45%;
  }
  div{
    text-align: center;
    @include md {
      text-align: start;
    }
  }
  p {
    color: $darkMediumGrey;
    font-size: 1em;
    line-height: 2em;
    padding-bottom: 2em;
    margin: 0;
    text-align: justify;
    @include md {
      font-size: 1.1em;
      line-height: 1.5em;
      margin: 1em 0em;
    }
  }
  ul{
    margin-bottom: 1em;
    @include md {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0;
    }
    li {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      @include md {
        width: 47%;
        margin-bottom: 0em;
        justify-content: space-between;
      }
      span{
        color: $darkGrey;
        font-size: 1.3em;
        font-weight: 700;
        line-height: 1.5;
        @include md {
          font-size: 1em;
          font-weight: 700;
          width: 80%;
        }
        
      }
    }
    figure{
      width: 17%;
    }
    p{
      font-size: 1.2em;
      font-weight: 800;
    }
  }
  button {
    background: $shadeBlueColor;
    border: 0;
    border-radius: 5px;
    font-weight: 400;
    color: $whiteColor;
    padding: 0.5em 1em;
    transition: background 0.3s ease-in-out;
    width: 40%;
    &:hover {
        background: $primaryColor;
    }
    @include md {
      margin: 3em 0em;
      font-size: 1.1em;
    }
}
}

.right{
  width: 100%;
  @include md {
    width: 38%;
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
  }
}
&::before{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  top: 50%;
  transform: translateY(-50%);
  height: 93%;
  width: 70%;
  opacity: 0.2;
  @include sm {
    opacity: 1;
    width: 45%;
  }
  @include md {
    width: 29%;
  }
  @include lg {
    width: 25%;
  }
  @include xl {
    width: 20%;
  }
  @media only screen and (min-width: 1540px) {
    width: 14%;
  }
}
&::before {
  background-image: url("https://lmsassetspremium.lntedutech.com/portalicons/curriculum-left.webp");
  left: -11em;
  @include md {
    left: -1em;
  }
}
}

//aboutLTE
.aboutLTE {
  position: relative;
  padding: 1.75em 0;
  // background-color: $veryLightGray;
  @include md {
    font-size: 13px;
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  &::after {
      background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/industryleater-bottomleft.webp');
      width: 57%;
      height: 40%;
      right: 0;
      bottom: -2em;
      @include sm {
          width: 50%;
          height: 20%;
      }
      @include md {
          width: 70%;
          height: 40%;
          right: -10em;
      }
      @include lg {
          right: -20em;
      
      }
      @include xl {
          width: 57%;
          height: 40%;
          right: -15em;
      }
      @media only screen and (min-width: 1540px) {
          width: 53%;
          height: 52%;
      }
  }
  .wrapper {
    background-image: linear-gradient(to right, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff);
    .container {
      border-radius: 0 100px 100px 0;
      background-color: $whiteSmoke;
      position: relative;
      z-index: 9;
      display: flex;
      flex-wrap: wrap; 
      padding: 1.25em 1.25em 1.25em 0;
      @include md {
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 2.25em 2.25em 2.25em 0;
      }
      .leftSideImg {
        width: 100%;
        order: 2;
        @include md {
          width: 45%;
          order: 1;
        }
        figure {
          img {
            width: 100%;
            border-radius: 10%;
          }
        }
      }
      .rightSideContent {
        width: 100%;
        order: 1;
        @include md {
          width: 50%;
          order: 2;
        }
        .heading2 {
          text-align: left;
          line-height: 1.3;
          position: relative;
          margin-left: 0.2em;
          color: $secondaryColor;
          &::after {
            left: 0;
            transform: translateX(0);
          }
        }
        p {
          color: $darkMediumGrey;
          font-size: 1em;
          line-height: 2em;
          padding-bottom: 1em;
          margin: 0;
          text-align: justify;
          @include md {
            font-size: 1.1em;
            line-height: 1.5em;
            margin: 1em 0em;
          }
        }
      }
    }
  }
}

//aboutGTU
.aboutGTU {
  position: relative;
  padding: 1.75em 0;
  font-size: 13px;
  // background-color: $veryLightGray;
  @include md {
    font-size: 14px;
  }
  @include lg {
    font-size: 15px;
  }
  @include xl {
    font-size: 16px;
  }
  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  &::before {
      background-image: url('../../../../assets/images/leftCircle.png');
      width: 45%;
      height: 40%;
      left: -15em;
      bottom: 0;
      @include md  {
        left: -25em;
        bottom: 0;
      }
      @include lg {
        left: -25em;
        bottom: 0;
      }
      @include xl {
        height: 45%;
        bottom: 0;
      }
  }
  .wrapper {
    background-image: linear-gradient(to left, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff);
    .container {
      border-radius: 100px 0 0 100px;;
      background-color: $whiteSmoke;
      position: relative;
      z-index: 9;
      display: flex;
      flex-wrap: wrap;
      padding: 3.25em 0 3.25em 1.25em; 
      @include md {
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        padding: 2.25em 0 2.25em 2.25em;
      }
      .leftCon {
        width: 100%;
        // order: 2;
        @include md {
          width: 50%;
          order: 1;
        }
        .heading2 {
          text-align: left;
          line-height: 1.3;
          position: relative;
          margin-left: 0.2em;
          color: $secondaryColor;
          &::after {
            left: 0;
            transform: translateX(0);
          }
        }
        p {
          color: $darkMediumGrey;
          font-size: 1em;
          line-height: 2em;
          padding-bottom: 1em;
          margin: 0;
          text-align: justify;
          @include md {
            font-size: 1.1em;
            line-height: 1.5em;
            margin: 1em 0em;
          }
        }
      }
      .rightImgCont {
        width: 100%;
        // order: 1;
        @include md {
          width: 45%;
          order: 2;
        }
        figure {
          img {
            width: 100%;
            border-radius: 10%;
          }
        }
      }
    }
  }
}


//What We Do
.whatWeDo {
  background-color: #f9f9f9;
  padding: 0 0 3.75em 0;
  .banner {
    background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/whatwedo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #003F72;
      opacity: 0.75;
      z-index: 1;
    }
    @include md {
      height: 300px;
    }
    @include lg {
      height: 350px;
    }
  }
  .headingContent {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 1.5em;
    @include md {
      padding-top: 3.5em;
    }
    @include lg {
      padding-top: 6em;
    }
    .heading2, .heading5, .heading6 {
      color: $whiteColor;
    }
    .heading5 {
      margin: 0.75em 0 0.5em 0;
      display: inline-flex;
    }
    .heading5, .heading6 {
      font-weight: 400;
    }
  }
  .bannerContent {
    background-color: $whiteColor;
    border: 1px solid $greyColor;
    border-radius: 10px;
    padding: 2.5em;
    margin-top: -3.5em;
    position: relative;
    z-index: 9;
    @include sm {
      margin-top: -6em;
    }
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        margin: 1em 0;
        @include md {
          margin: 2em 0;
          width: 45%;
        }
        &:nth-of-type(2n+1) {
          &::before {
            content: none;
            position: absolute;
            width: 1px;
            height: 100%;
            right: -2em;
            top: 50%;
            transform: translateY(-50%);
            background-color: $blackColor;
            @include md {
              content: '';
            }
            @include lg {
              right: -3.5em;
            }
          }
        }
        figure {
          width: 10%;
          em {
            color: $blackColor;
            font-size: 1.75em;
          }
        }
        p {
          width: 86%;
          margin: 0 0 0 4%;
          font-size: 1em;
          font-weight: 300;
          color: $darkGrey;
          line-height: 2;
        }
      }
    }
  }
}

//Choose Us
.chooseus {
  background-color: $whiteColor;
  font-size: 14px;
  padding: 3.75em 0;
  @include sm {
  }
  @include md {
    padding: 3.75em 0 5em 0;
    font-size: 13px;
  }
  @include lg {
    font-size: 14px;
  }
  @include xl {
    font-size: 16px;
  }
  .container {
    position: relative;
    margin-top: 2.5em;
    @include xl {
      margin-top: 5em;
    }
  }
  .contentwrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include md {
      flex-wrap: nowrap;
    }
    .left {
      width: 100%;
      @include md {
        width: 45%;
      }
      ul {
        li {
          margin-bottom: 1em;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .listleft {
            width: 22%;
            margin-right: 2em;
            @include sm {
              width: 13%;
            }
            @include md {
              width: 22%;
            }
            @include lg {
              width: 19%;
            }
            .circle {
              background-color: #EDF4F8;
              width: 5.5em;
              height: 5.5em;
              border-radius: 50%;
              position: relative;
              em {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 2em;
                color: #5EB4E7;
              }
            }
          }
          .listright {
            width: 76%;
            @include sm {
              width: 85%;
            }
            @include md {
              width: 76%;
            }
            @include lg {
              width: 79%;
            }
            div {
              color: $mediumGrey;
              font-family: "OpenSans", sans-serif;
              font-size: 1.125em;
              font-weight: 600;
              line-height: normal;
              margin-bottom: 0.75em;
            }
            p {
              color: $mediumGrey;
              font-size: 0.9375em;
              font-weight: 400;
              line-height: 1.7;
              margin: 0;
            }
          }
        }
      }
    }
    .right {
      width: 100%;
      @include md {
        width: 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      figure {

      }
    }
  }
}