<ng-container *ngIf="commonData">
    <app-header-image class="app-Header" [HomeBannerImage]="commonData.ImageData"></app-header-image>
    <!-- bannercount -->
    <!-- <section class="bannercount">
      <div class="container">
          <ul>
            <li *ngFor="let item of commonData?.landingPageContents?.bannerFooter">
              <figure>
                 <img [src]="item?.imageurl" alt="">
              </figure>
                <div class="right">
                    <div class="count">{{item?.title}}</div>
                    <p class="desc">{{item?.description}}</p>
                </div>
            </li>
          </ul>
      </div>
    </section> -->

    <!--aboutProgram-->
    <section class="aboutProgram" *ngIf="commonData?.landingPageContents?.aboutProgram?.displayStatus">
      <div class="container">
        <div class="leftSideImage">
          <figure>
            <img src="https://lmsassetspremium.lntedutech.com/portalicons/aboutProgram-landscape.webp" alt="aboutProgram">
          </figure>
        </div>
        <div class="rightSideDetails">
            <div class="heading2">{{commonData?.landingPageContents?.aboutProgram?.title}}</div>
            <p>{{commonData?.landingPageContents?.aboutProgram?.description}}</p>
        </div>
      </div>
    </section>

    <!-- capabilities -->
    <!-- <section class="capabilities" *ngIf="commonData?.landingPageContents?.capabilities?.displaystatus">
      <span class="obstacles"></span>
      <div class="container">
        <div class="heading2">{{commonData?.landingPageContents?.capabilities?.title}}
          <div>With<span>L&T EduTech</span></div>
        </div>
        <div class="division">
          <div class="left">
            <p>{{commonData?.landingPageContents?.capabilities?.description}}</p>
            <ul>
              <li *ngFor="let item of commonData?.landingPageContents?.capabilities?.innerArray">
                <figure>
                  <img [src]="item?.imageurl" alt="">
                </figure>
                <span>{{item?.title}}</span>
              </li>
            </ul>
            <div>
              <button (click)="navigateCatalog()">Explore Catalog</button>
            </div>
          </div>
          <div class="right">
            <figure>
              <img [src]="commonData?.landingPageContents?.capabilities?.imageurl" alt="">
            </figure>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <app-domain-list class="app-Domain"></app-domain-list> -->
    <app-assessments-list class="app-Assessment"></app-assessments-list>
    <app-featured-courses></app-featured-courses>

    <!--aboutL&TEduTech-->
    <section class="aboutLTE" *ngIf="commonData?.landingPageContents?.aboutLNT?.displayStatus">
      <div class="wrapper">
        <div class="container">
          <div class="leftSideImg">
            <figure>
              <img [src]="commonData?.landingPageContents?.aboutLNT?.imageurl" alt="aboutL&TEduTech">
            </figure>
          </div>
          <div class="rightSideContent">
            <div class="heading2">{{commonData?.landingPageContents?.aboutLNT?.title}}</div>
            <p>{{commonData?.landingPageContents?.aboutLNT?.description}}</p>
          </div>
        </div>
    </div>
    </section>

    <!--aboutGTU-->
    <section class="aboutGTU" *ngIf="commonData?.landingPageContents?.aboutGTU?.displayStatus">
      <div class="wrapper">
        <div class="container">
          <div class="leftCon">
            <div class="heading2">{{commonData?.landingPageContents?.aboutGTU?.title}}</div>
            <p>{{commonData?.landingPageContents?.aboutGTU?.description}}</p>
          </div>
          <div class="rightImgCont">
            <figure>
              <img [src]="commonData?.landingPageContents?.aboutGTU?.imageurl" alt="aboutGTU">
            </figure>
          </div>
        </div>
      </div>
    </section>

    <!-- What we Do -->
    <!-- <section class="whatWeDo" *ngIf="commonData?.landingPageContents?.weDo?.displaystatus">
      <div class="banner">
        <div class="headingContent">
          <div class="heading2">{{commonData?.landingPageContents?.weDo?.title}}</div>
          <div class="heading5">{{commonData?.landingPageContents?.weDo?.description}}</div>
          <div class="heading6">{{commonData?.landingPageContents?.weDo?.secondDescription}}</div>
        </div>
      </div>
      <div class="container">
        <div class="bannerContent">
          <ul>
            <li *ngFor="let item of commonData?.landingPageContents?.weDo?.innerArray">
              <figure>
                <em class="icon-Folder"></em>
              </figure>
              <p>{{item?.description}}</p>
            </li>
          </ul>
        </div>
      </div>
    </section> -->

    <!-- chooseus -->
    <!-- <section class="chooseus" *ngIf="commonData?.landingPageContents?.chooseUs?.displaystatus">
      <div class="heading2">{{commonData?.landingPageContents?.chooseUs?.title}}</div>
      <div class="container">
        <div class="contentwrapper">
          <div class="left">
            <ul>
              <li *ngFor="let item of commonData?.landingPageContents?.chooseUs?.innerArray">
                <div class="listleft">
                  <div class="circle">
                    <em class="icon-CheckMark"></em>
                  </div>
                </div>
                <div class="listright">
                  <div>{{item?.title}}</div>
                  <p>{{item?.description}}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="right">
            <figure>
              <img [src]="commonData?.landingPageContents?.chooseUs?.imageurl" alt="">
            </figure>
          </div>
        </div>
      </div>
    </section>
     -->
    <section class="whyLNT" *ngIf="commonData?.landingPageContents?.whyLNT?.displayStatus">
      <div class="container">
        <div class="heading2">{{commonData?.landingPageContents?.whyLNT?.title}}</div>
      
        <div  class="content">
          <ul>
            <li *ngFor="let item of commonData?.landingPageContents?.whyLNT?.innerArray">
              <figure>
                <img [src]="item?.imageurl" alt="">
              </figure>
              <p>{{item?.title}}</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

<section class="learnanywhere" *ngIf="commonData?.landingPageContents?.learnAnytime?.displayStatus">
  <div class="container">
    <div class="heading2"><h1>{{commonData?.landingPageContents?.learnAnytime?.title}}</h1></div>
    <p>{{commonData?.landingPageContents?.learnAnytime?.description}}</p>
         <div class="contentcenter">
          <div class="group">
            <figure class="grpimg">
              <img [src]="commonData?.landingPageContents?.learnAnytime?.imageurl" alt="group">
            </figure>
          </div>
          <div class="scanner">
            <span>Scan this QR code on your camera app to download the app </span>
            <figure>
              <img src="/assets/images/YLy3V.png" alt="scanner">
            </figure>
            <p>or</p>
            <div class="apps">
              <figure class="store">
                <img src="/assets/images/Mask Group 14588.png" alt="">
              </figure>
              <figure class="appstore">
                <img src="/assets/images/Mask Group 14589.png" alt="">
              </figure>
            </div>
          </div>
         </div>
  </div>
</section>

<!-- <section class="feedback" *ngIf="commonData?.landingPageContents?.studentAboutUs?.displaystatus">
  <div class="container">
    <div class="heading2">{{commonData?.landingPageContents?.studentAboutUs?.title}}</div>
    <div class="owlCarouselWrapper">
      <owl-carousel-o [options]="testimonialOptions">
        <ng-container *ngFor="let item of commonData?.landingPageContents?.studentAboutUs?.innerArray">
          <ng-template carouselSlide>
              <div class="card">
                  <p class="title">{{item?.title}}</p>
                  <p class="desc">{{item?.description}}</p>
              <div class="imagearea">
                  <div class="greencircle">
                    <em class="icon-MetroQuote"></em>
                  </div>
                <figure>
                  <img [src]="item?.imageurl" alt="">
                </figure>
              </div>
              </div>
              <div class="footer">
                <p>{{item?.name}}</p>
                <span>{{item?.designation}}</span>
              </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section> -->




       <!-- carrerpath -->
       <!-- <section class="successfulCareer">
        <div class="container">
          <div class="heading2">{{'Successful Career Paths'}}</div>
          <p>{{commonData?.landingPageContents?.careerPaths?.description}}</p>
          <div class="wrapper">
            <ul>
              <li *ngFor="let career of commonData?.landingPageContents?.careerPaths?.innerArray" (mouseenter)="showPhase(commonData?.landingPageContents?.careerPaths?.innerArray,career)" [class.active]= "career.isActive">
                <div class="content-container">
                  <figure>
                    <img [src]="career?.imageurl" alt="">
                    <span class="title">
                      {{career?.title}}
                    </span>
                  </figure>
                  <div class="content">
                    <div class="heading">
                      {{career?.title}}
                    </div>
                    <p>{{career?.description}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <button>More Careers</button>
        </div>
      </section> -->
    <!-- <app-goals class="app-Goals" [AchieveGoal]="commonData.acheiveData"></app-goals> -->
    <!-- <app-examination class="app-Examination" [Examination]="commonData.examinationData"></app-examination> -->
    <!-- feedback -->
    <section class="feedback" *ngIf="commonData?.landingPageContents?.studentAboutUs?.displaystatus">
      <div class="container">
        <div class="heading2">{{commonData?.landingPageContents?.studentAboutUs?.title}}</div>
        <div class="owlCarouselWrapper">
          <owl-carousel-o [options]="testimonialOptions">
            <ng-container *ngFor="let item of commonData?.landingPageContents?.studentAboutUs?.innerArray">
              <ng-template carouselSlide>
                  <div class="card">
                      <p class="title">{{item?.title}}</p>
                      <p class="desc">{{item?.description}}</p>
                  <div class="imagearea">
                      <div class="greencircle">
                        <em class="icon-MetroQuote"></em>
                      </div>
                    <figure>
                      <img [src]="item?.imageurl" alt="">
                    </figure>
                  </div>
                  </div>
                  <div class="footer">
                    <p>{{item?.name}}</p>
                    <span>{{item?.designation}}</span>
                  </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </section>
    <!-- trail -->
    <!-- <section class="trail" *ngIf="commonData?.landingPageContents?.trail?.displaystatus">
      <div class="container">
        <p>{{commonData?.landingPageContents?.trail?.title}}</p>
        <div class="desc">{{commonData?.landingPageContents?.trail?.description}}</div>
        <button>Get Started</button>
      </div>
    </section> -->
    <!-- Hiring Partners -->
    <!-- <ng-container *ngIf="commonData?.landingPageContents?.hiringPartners?.dispalystatus">
      <app-partners-list class="app-Partners" [OurPartners]="commonData?.landingPageContents?.hiringPartners"></app-partners-list>
    </ng-container> -->
</ng-container>
<!-- <ng-template #kycmandate >
  <app-kyc-mandate></app-kyc-mandate>
</ng-template> -->
