<ng-container *ngIf="commonData">
    <app-header-image class="app-Header" [HomeBannerImage]="commonData.ImageData"></app-header-image>
    <!-- bannercount -->
    <section class="bannercount">
      <div class="container">
          <ul>
            <li *ngFor="let item of commonData?.landingPageContents?.bannerFooter">
              <figure>
                 <img [src]="item?.imageurl" alt="">
              </figure>
                <div class="right">
                    <div class="count">{{item?.title}}</div>
                    <p class="desc">{{item?.description}}</p>
                </div>
            </li>
          </ul>
      </div>
    </section>
    <!-- capabilities -->
    <section class="capabilities" *ngIf="commonData?.landingPageContents?.capabilities?.displaystatus">
      <span class="obstacles"></span>
      <div class="container">
        <div class="heading2">{{commonData?.landingPageContents?.capabilities?.title}}
          <div>With<span>L&T Edutech</span></div>
        </div>
        <div class="division">
          <div class="left">
            <p>{{commonData?.landingPageContents?.capabilities?.description}}</p>
            <ul>
              <li *ngFor="let item of commonData?.landingPageContents?.capabilities?.innerArray">
                <figure>
                  <img [src]="item?.imageurl" alt="">
                </figure>
                <span>{{item?.title}}</span>
              </li>
            </ul>
            <div>
              <button (click)="navigateCatalog()">Explore Catalog</button>
            </div>
          </div>
          <div class="right">
            <figure>
              <img [src]="commonData?.landingPageContents?.capabilities?.imageurl" alt="">
            </figure>
          </div>
        </div>
      </div>

    </section>
    <!-- carrerpath -->
    <section class="carrerpath">
      <div class="container">
          <div class="heading2">{{'Successful Career Paths'}}</div>
             <p>Market is full of opportunities. Align your interest and skills to utilise the opportunities.</p>
               <p class="desc">Explore the pathways suitable to you.</p>
               <div>
                 
               </div>
               <button>More Careers</button>
    </div>
    </section>
    <!-- Successful Career paths -->
    <!-- <section class="successfulCareer">
      <div class="container">
        <div class="wrapper">
          <ul class="sub_modules">
            <li *ngFor="let goals of commonData.acheiveData" (click)="showPhase(goals)" [class.active]= "activeButton === goals" class="active">
              <div class="section-title">
                <h2>{{goals?.name}}</h2>
              </div>
              <div class="section-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora totam delectus, eius nostrum aspernatur voluptas enim fugit ipsa magni voluptatem, odio sit accusamus vel id, commodi consequuntur possimus repellat necessitatibus!</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section> -->

    <!-- <app-domain-list class="app-Domain"></app-domain-list> -->
    <app-assessments-list class="app-Assessment"></app-assessments-list>

    <!-- What we Do -->
    <section class="whatWeDo" *ngIf="commonData?.landingPageContents?.weDo?.displaystatus">
      <div class="banner">
        <div class="headingContent">
          <div class="heading2">{{commonData?.landingPageContents?.weDo?.title}}</div>
          <div class="heading5">{{commonData?.landingPageContents?.weDo?.description}}</div>
          <div class="heading6">{{commonData?.landingPageContents?.weDo?.secondDescription}}</div>
        </div>
      </div>
      <div class="container">
        <div class="bannerContent">
          <ul>
            <li *ngFor="let item of commonData?.landingPageContents?.weDo?.innerArray">
              <figure>
                <em class="icon-Folder"></em>
              </figure>
              <p>{{item?.description}}</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- chooseus -->
    <section class="chooseus" *ngIf="commonData?.landingPageContents?.chooseUs?.displaystatus">
      <div class="heading2">{{commonData?.landingPageContents?.chooseUs?.title}}</div>
      <div class="container">
        <div class="contentwrapper">
          <div class="left">
            <ul>
              <li *ngFor="let item of commonData?.landingPageContents?.chooseUs?.innerArray">
                <div class="listleft">
                  <div class="circle">
                    <em class="icon-CheckMark"></em>
                  </div>
                </div>
                <div class="listright">
                  <div>{{item?.title}}</div>
                  <p>{{item?.description}}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="right">
            <figure>
              <img [src]="commonData?.landingPageContents?.chooseUs?.imageurl" alt="">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <app-goals class="app-Goals" [AchieveGoal]="commonData.acheiveData"></app-goals>
    <!-- <app-examination class="app-Examination" [Examination]="commonData.examinationData"></app-examination> -->
    <!-- feedback -->
    <section class="feedback" *ngIf="commonData?.landingPageContents?.studentAboutUs?.displaystatus">
      <div class="container">
        <div class="heading2">{{commonData?.landingPageContents?.studentAboutUs?.title}}</div>
        <div class="owlCarouselWrapper">
          <owl-carousel-o [options]="testimonialOptions">
            <ng-container *ngFor="let item of commonData?.landingPageContents?.studentAboutUs?.innerArray">
              <ng-template carouselSlide>
                  <div class="card">
                      <p class="title">{{item?.title}}</p>
                      <p class="desc">{{item?.description}}</p>
                  <div class="imagearea">
                      <div class="greencircle">
                        <em class="icon-MetroQuote"></em>
                      </div>
                    <figure>
                      <img [src]="item?.imageurl" alt="">
                    </figure>
                  </div>
                  </div>
                  <div class="footer">
                    <p>{{item?.name}}</p>
                    <span>{{item?.designation}}</span>
                  </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </section>
    <!-- trail -->
    <section class="trail" *ngIf="commonData?.landingPageContents?.trail?.displaystatus">
      <div class="container">
        <p>{{commonData?.landingPageContents?.trail?.title}}</p>
        <div class="desc">{{commonData?.landingPageContents?.trail?.description}}</div>
        <button>Get Started</button>
      </div>
    </section>
    <!-- Hiring Partners -->
    <ng-container *ngIf="commonData?.landingPageContents?.hiringPartners?.dispalystatus">
      <app-partners-list class="app-Partners" [OurPartners]="commonData?.landingPageContents?.hiringPartners"></app-partners-list>
    </ng-container>
</ng-container>
<ng-template #kycmandate >
  <app-kyc-mandate></app-kyc-mandate>
</ng-template>
