<footer *ngIf="footerData">
    <!-- <div class="container">
        <div class="containerWrapper">
            <section class="eduTech">
                <div class="heading4">L&T EduTech</div>
                <ul>
                    <ng-container *ngFor="let first of footerData.EduTech">
                        <li><a>{{first}}</a></li>
                    </ng-container>
                </ul>
            </section>
            <section class="offerings">
                <div class="heading4">Offerings</div>
                <ul>
                    <ng-container *ngFor="let second of footerData.Offerings">
                        <li><a>{{second}}</a></li>
                    </ng-container>
                </ul>
            </section>
            <section class="findUs">
                <div class="heading4">Find Us</div>
                <p>{{footerData.FindUs}}</p>
                <p [innerHtml]="footerData.Address"></p>
                <div class="socialIcons">
                    <ng-container *ngFor="let social of footerData.socialMedia">
                        <a><em class="{{social}}"></em></a>
                    </ng-container>
                </div>
            </section>
            <section class="store">
                <ng-container *ngFor="let app of footerData.downloadList">
                    <div><a class="{{app}}"></a></div>
                </ng-container>
            </section>
        </div>
        <div class="copyrightsTerms">
            <p>&copy; {{footerData.copyRights}}</p>
            <ul>
                <ng-container *ngFor="let content of footerData.settings">
                    <li><a>{{content}}</a></li>
                </ng-container>
            </ul>
            <ul>
                <li><a href="https://lntedutech.com/support-form/" target="singlewindow"><em class="icon-suport"></em>Technical support</a></li>
                <li><a href="https://lntedutech.com/feedback-form/" target="singlewindow"><em class="icon-feedback"></em>Feedback</a></li>
            </ul>
        </div>
    </div> -->
    <section class="ourPartners">
        <div class="container" >
          <div class="partnersSection">
            <div class="left">
              <div class="heading" >{{footerData?.heading}}</div>
              <div class="contacts"> 
                <span class="eduEmail"><figure><img [src]="footerData?.contact?.email?.imgUrl" alt=""></figure><p>{{footerData?.contact?.email?.txt}}</p></span>
                <span class="contactIcon"><figure><img [src]="footerData?.contact?.phone?.imgUrl" alt=""></figure><p>{{footerData?.contact?.phone?.txt}}</p></span>
              </div>
            </div>
            <div class="right">
              <div class="policy">
                <span>Terms of Use</span>
                <span>Privacy Policy</span>
              </div>
            </div>
          </div>
        </div>
      </section>
</footer>