@import "variables";

footer {
    border-top: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    background-color: $whiteColor;
    $fontsize: 13;
    font-size: #{$fontsize}px;
    @include lg {
        $fontsize: 14;
        font-size: #{$fontsize}px;
    }
    @include xl {
        $fontsize: 16;
        font-size: #{$fontsize}px;
    }
    .containerWrapper {
        display: flex;
        justify-content: space-between;
        padding: 2em 0 1.25em 0;
        flex-wrap: wrap;
        @include md {
            flex-wrap: nowrap;
        }
        .eduTech, 
        .offerings {
            width: 100%;
            @include sm {
                width: 48%;
            }
            @include md {
                width: 24%;
            }
        }
        .findUs {
            width: 100%;
            @include sm {
                width: 68%;
            }
            @include md {
                width: 34%;
            }
        }
        .store {
            width: 100%;
            text-align: left;
            @include sm {
                width: 30%;
                text-align: right;
            }
            @include md {
                width: 15%;
            }
        }
        .heading4 {
            color: $darkGrey;
            font-size: 1.25em;
            font-weight: 700;
            line-height: 1.1;
            margin: 0 0 0.937em 0;
        }
        ul {
            li {
                margin-bottom: 1.1em;
                a {
                    color: $mediumGrey;
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
        p {
            color: $mediumGrey;
            margin: 0 0 1em 0;
            line-height: 1.4;
        }
        .socialIcons {
            margin-top: 0.625em;
            display: inline-flex;
            a {
                display: inline-block;
                margin-right: 0.937em;
                &::before {
                    content: '';
                    height: 0;
                }
                em {
                    font-size: 1em;
                    color: $lightGrey;
                    transition: all 0.3s linear;
                }
                &:hover {
                    em {
                        color: $primaryColor;
                    }
                }
            }
        }
        .store {
            div a {
                background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/sprite-image.webp');
                background-size: (1000 / $fontsize) * 1em;
                background-repeat: no-repeat;
                width: (260 / $fontsize) * 1em;
                height: (78 / $fontsize) * 1em;
                font-size: 0.5em;
                display: inline-block;
                &.appStore {
                    background-position: (-8 / $fontsize) * 1em (-92 / $fontsize) * 1em;}
                &.playStore {
                    background-position: (-8 / $fontsize) * 1em (-8 / $fontsize) * 1em;}
            }
        }
    }
}
.copyrightsTerms {
    // border-top: 1px solid $greyColor;
    padding: 0.75em 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    @include sm {
        flex-direction: row;
    }
    @include md {
        padding: 1.25em 0;
    }
    ul li a, p {
        font-size: 0.875em;
        color: $lightGrey;
    }
    p {
        margin: 0;
    }
    ul {
        li {
            display: inline-block;
            border-right: 1px solid $greyColor;
            padding-right: 10px;
            margin-right: 10px;
            a {
                display: flex;
                align-items: center ;
                &:hover {
                    em {
                        color: $primaryColor;
                    }
                }
                em {
                    margin-right: 5px;
                }
            }
            &:last-child {
                border-right: none;
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
}
.containerWrapper, 
.copyrightsTerms {
    p {
        font-weight: 400;
        color: $lightGrey;
        a {
            &:hover {
                em {
                    color: $primaryColor;
                }
                color: $primaryColor;
            }
        }
    }
    ul {
        li {
            line-height: normal;
            a {
                font-weight: 400;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}
.ourPartners {
    position: relative;
    background-color:$blackBgColor;
    padding: 1.5em 0;
    font-size: 13px;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    @include md {
      font-size: 14px;
    }
    @include lg {
      font-size: 15px;
    }
    @include xl {
      font-size: 16px;
    }
    .partnersSection {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      @include md {
        justify-content: space-between;
        flex-wrap: nowrap;
      }
      .heading {
        font-family: "OpenSans";
        font-size: 0.9375em;
        font-weight: 400;
        font-style: italic;
        color: $blueLabelColor;
        margin-bottom: 1em;
        text-align: center;
        @include md {
          text-align: left;
        }
      }
      .left {
        width: 100%;
        @include md {
            width: 65%;
        }
        .contacts{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: column;
          @include md {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
          }
          span {
            display: flex;
            align-items: center;
            line-height: 1;
            &:last-child {
              margin-right: 0;
            }
            @include md {
              margin-right: 2em;
            }
            figure {
              color: $greenColor;
              margin-right: 8px;
              font-size: 1.25em;
              img {
                width: 20px;
              }
            }
            p {
              font-family: "OpenSans";
              font-size: 1em;
              font-weight: 400;
              color: $whiteColor;
              margin: 0;
            }
          }
        }
      }
      .right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5em;
        @include md {
          margin-top: 0;
          width: 35%;
          justify-content: flex-end;
        }
        .policy {
          span {
            font-family: "OpenSans";
            font-size: 1em;
            font-weight: 400;
            color: $whiteColor;
            text-align: center;
            line-height: normal;
            margin-bottom: 1em;
            padding: 0 10px;
            border-right: 1px solid rgba(255,255,255,0.5);
            &:last-child {
              margin-bottom: 0;
              border-right: none;
            }
            @include md {
              text-align: left;
            }
          }
        }
      }
    }
  }