@import "variables";

footer {
    border-top: 1px solid rgba(0,0,0,0.15);
    width: 100%;
    background-color: $whiteColor;
    $fontsize: 13;
    font-size: #{$fontsize}px;
    @include lg {
        $fontsize: 14;
        font-size: #{$fontsize}px;
    }
    @include xl {
        $fontsize: 16;
        font-size: #{$fontsize}px;
    }
    .containerWrapper {
        display: flex;
        justify-content: space-between;
        padding: 2em 0 1.25em 0;
        flex-wrap: wrap;
        @include md {
            flex-wrap: nowrap;
        }
        .eduTech, 
        .offerings {
            width: 100%;
            @include sm {
                width: 48%;
            }
            @include md {
                width: 24%;
            }
        }
        .findUs {
            width: 100%;
            @include sm {
                width: 68%;
            }
            @include md {
                width: 34%;
            }
        }
        .store {
            width: 100%;
            text-align: left;
            @include sm {
                width: 30%;
                text-align: right;
            }
            @include md {
                width: 15%;
            }
        }
        .heading4 {
            color: $darkGrey;
            font-size: 1.25em;
            font-weight: 700;
            line-height: 1.1;
            margin: 0 0 0.937em 0;
        }
        ul {
            li {
                margin-bottom: 1.1em;
                a {
                    color: $mediumGrey;
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
        p {
            color: $mediumGrey;
            margin: 0 0 1em 0;
            line-height: 1.4;
        }
        .socialIcons {
            margin-top: 0.625em;
            display: inline-flex;
            a {
                display: inline-block;
                margin-right: 0.937em;
                &::before {
                    content: '';
                    height: 0;
                }
                em {
                    font-size: 1em;
                    color: $lightGrey;
                    transition: all 0.3s linear;
                }
                &:hover {
                    em {
                        color: $primaryColor;
                    }
                }
            }
        }
        .store {
            div a {
                background-image: url('#{$imagePath}/sprite-image.png');
                background-size: (1000 / $fontsize) * 1em;
                background-repeat: no-repeat;
                width: (260 / $fontsize) * 1em;
                height: (78 / $fontsize) * 1em;
                font-size: 0.5em;
                display: inline-block;
                &.appStore {
                    background-position: (-8 / $fontsize) * 1em (-92 / $fontsize) * 1em;}
                &.playStore {
                    background-position: (-8 / $fontsize) * 1em (-8 / $fontsize) * 1em;}
            }
        }
    }
}
.copyrightsTerms {
    // border-top: 1px solid $greyColor;
    padding: 0.75em 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    @include sm {
        flex-direction: row;
    }
    @include md {
        padding: 1.25em 0;
    }
    ul li a, p {
        font-size: 0.875em;
        color: $lightGrey;
    }
    p {
        margin: 0;
    }
    ul {
        li {
            display: inline-block;
            border-right: 1px solid $greyColor;
            padding-right: 10px;
            margin-right: 10px;
            a {
                display: flex;
                align-items: center ;
                &:hover {
                    em {
                        color: $primaryColor;
                    }
                }
                em {
                    margin-right: 5px;
                }
            }
            &:last-child {
                border-right: none;
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
}
.containerWrapper, 
.copyrightsTerms {
    p {
        font-weight: 400;
        color: $lightGrey;
        a {
            &:hover {
                em {
                    color: $primaryColor;
                }
                color: $primaryColor;
            }
        }
    }
    ul {
        li {
            line-height: normal;
            a {
                font-weight: 400;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}