<section class="microLearnWrapper" >
    <div>
        <div class="microLearnCertification" id="content" #content>
            <!-- <figure class="leftTop">
                <img src="assets/images/leftAsset.svg" alt="" />
            </figure>
            <figure class="rightTop">
                <img src="assets/images/topRightAsset.svg" alt="" />
            </figure>
            <figure class="rightBottom">
                <img src="assets/images/bottomRightAsset.svg" alt="" />
            </figure> -->
            <div class="innerBorder">
                <div class="content">
                    <!-- <figure class="innerAsset">
                        <img src="assets/images/rightInnerAsset.svg" alt="" />
                    </figure> -->
                    <header>
                        <figure class="logo">
                            <img src="../../../../assets/images/edutech_logo.png.png"  alt="L&T Logo">
                        </figure>
                        <figure class="qrCode">
                            <img [src]="certificateData?.uploadCertificate?.qrCode" alt="" />
                        </figure>
                    </header>
                    <div class="bodyContent">
                        <div class="certificateHeading">
                            <span>Certificate of Completion</span>
                        </div>
                        <div class="certificationDetails">
                            <span class="desc">This is to certify that</span>
                            <span class="nameTopic" id="userID">{{certificateData.firstName}}&nbsp;{{certificateData.lastName}}</span>
                            <span class="desc">has successfully completed the Micro Learning Courses on </span>
                            <span class="nameTopic" id="courseID">{{certificateData.courseName}}</span>
                            <span class="desc">offered by  the L&T EduTech Micro Learning initiative.</span>
                        </div>
                        <div class="details">
                            <div class="certificateHeading">
                                <span>Certificate of Completion</span>
                            </div>
                            <div class="certificationDetails">
                                <span class="nameTopic" id="userID">{{certificateData.firstName}}&nbsp;{{certificateData.lastName}}</span>
                                <span class="desc">has successfully completed the course</span>
                                <span class="nameTopic" id="courseID">{{certificateData.courseName}}</span>
                                <span class="desc">offered by L&T EduTech.</span>
                            </div>
                        </div>
                        <div class="badge">
                            <figure class="badgeImg">
                                <img src="/assets/images/badge.svg" alt="Badge" />
                            </figure>
                        </div>
                    </div>
                    <footer>
                        <div class="">
                            <span>Date of Completion</span>
                            <span>DD/MM/YYYY</span>
                        </div>
                        <figure class="qrCode">
                            <img [src]="certificateData?.uploadCertificate?.qrCode" alt="" />
                        </figure>
                        <div class="ccHead commonStyle">
                            <span class="fooWrapper">
                                <span class="heading">Febin M F<span class="position">Head - College Connect</span></span>
                            </span>
                        </div>
                        <div class="CEO commonStyle">
                            <span class="fooWrapper">
                                <figure class="signature">
                                    <img src="/assets/images/signature.png" alt="Signature" />
                                </figure>
                                <span class="heading">Sabyasachi Das<span class="position">Chief Executive Officer, L&T EduTech</span></span>
                            </span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section>
    <div class="microLearnCertification" id="content" #content>
        <div class="">
            <figure class="background">
                <img src="../../../../assets/images/Layer 2 copy@2x.png" alt="" />
            </figure>
        </div>
        <div class="">
            <figure class="innerbg">
                <img src="../../../../assets/images/Layer 2 copy 2@2x.png" alt="">
            </figure>
            <header>
                <figure class="logo">
                    <img src="../../../../assets/images/edutech_logo.png.png"  alt="L&T Logo | MicroLearning">
                </figure>
                <figure class="qrCode">
                    <img src="../../../../assets/images/Layer 5.png" alt="" />
                </figure>
            </header>
        </div>
        <div class="certificateHeading">
            <span>Certificate of Completion</span>
        </div>
        <div class="certificationDetails">
            <span class="desc">This is to certify that</span>
            <span class="nameTopic" id="userID">{{certificateData.firstName}}&nbsp;{{certificateData.lastName}}</span>
            <span class="desc">has successfully completed the Micro Learning Courses on </span>
            <span class="nameTopic" id="courseID">{{certificateData.courseName}}</span>
            <span class="desc">offered by  the L&T EduTech Micro Learning initiative.</span>
        </div>
    </div>
</section> -->
<!-- 
<section class="microLearnWrapper" >
        <div class="microLearnCertification" id="content" #content>
                <div class="content">
                    <header>
                        <figure class="logo">
                            <img src="../../../../assets/images/logo.png"  alt="L&T Logo | Micro-Learning">
                        </figure>
                    </header>
                    <div class="bodyContent">
                        <div class="certificateHeading">
                            <span>Certificate of Completion</span>
                            <div class="border"></div>
                        </div>
                        
                        <div class="certificationDetails">
                            <span class="desc">This is to certify that</span>
                            <span class="nameTopic" id="userID">{{certificateData.firstName}}&nbsp;{{certificateData.lastName}}</span>
                            <span class="desc">has successfully completed the Micro Learning Courses on </span>
                            <span class="nameTopic" id="courseID">{{certificateData.courseName}} <span>(2 Hours)</span></span>
                            <span class="desc">offered by  the L&T EduTech Micro Learning initiative.</span>
                        </div>
                    </div>
                    <footer>
                        <div class="dateDetails">
                            <span class="desc">Date of Completion</span>
                            <span class="date">DD/MM/YYYY</span>
                        </div>
                        <!-- <figure class="qrCode">
                            <img [src]="certificateData?.uploadCertificate?.qrCode" alt="" />
                        </figure> -->
                        <!-- <div class="dateDetails">
                            <span class="desc">Certificate NO</span>
                            <span class="date">227183408</span>
                        </div>
                    </footer>
                </div>
            </div>
</section> --> -->