@import "variables";

.microLearnCertification {
    background-image: linear-gradient(to bottom, #26c1f6, #00c3df, #00c1ba, #00bc8b, #56b35a);
    padding: 3em;
    position: relative;
    .leftTop, .rightTop, .rightBottom {
        position: absolute;
    }
    .leftTop {
        left: -50px;
        top: 50px;
    }
    .rightTop {
        right: -30px;
        top: 0;
    }
    .rightBottom {
        right: -40px;
        bottom: 0;
    }
    .innerBorder {
        border: 2px solid #ffffff;
    }
    .content {
        background-color: #ffffff;
        margin: 2em;
        padding: 30px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        z-index: 1;
        .innerAsset {
            position: absolute;
            top: 0;
            right: -35px;
            z-index: -1;
            img {
                max-width: 100%;
            }
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                width: 50%;
                img {
                    max-width: 30%;
                }
            }
            .qrCode {
                text-align: center;
                img {
                    max-width: 50%;
                }
                
            }
            .date {
                span {
                    font-family: "myriadPro";
                    font-weight: 700;
                    color :#1C1C1C;
                    opacity: 1;
                }
            }
        }
        .certificateHeading {
            font-family: 'Certificate';
            font-size: 45px;
            display: flex;
            justify-content: center;
            line-height: normal;
            margin: 50px 0 30px 0;
            span {
                color : #808081;
                font-weight: 700;
                margin-right: 10px;
                position: relative;
                text-transform: uppercase;
            }
            p {
                color : #808081;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
        .bodyContent {
            display: flex;
            justify-content: center;
            // margin: 10.5px 0;
            .badge {
                .badgeImg {
                    img {
                        max-width: 100%;
                    }
                }
            }
            .certificationDetails {
                display: flex;
                flex-direction: column;
                .dottedline{
                    display: flex;
                    align-items: flex-end;
                    .dot1 {
                        border-bottom: 2px dotted black;
                        display: inline-block;
                        width: 47%;
                    }
                    .dotof {
                        width: 6%;
                        text-align: center;
                        font-size: 20px;
                        line-height: 20px;
                    }
                   
                }
                .word {
                    margin : -16px 0 40px 0;
                    color:#1C1C1C;
                    font-family: 'OpenSans';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: normal;
                    text-align: center;
                }
                .dotline {
                    border-bottom: 2px dotted black;
                }
                .nameTopic {
                    color: #0099AD;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: normal;
                    margin: 15px 0;
                    display: block;
                }
                .desc {
                    color: #1C1C1C;
                    font-family: 'OpenSans';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: normal;
                    text-align: center;
                    margin: 25px 0 25px 0;
                }
            }
        }
        footer {
            margin: 60px 0 20px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .badgelogo {
                width: 15%;
            }
            .commonStyle {
                width: 33%;
                display: flex;
                justify-content: center;
                .fooWrapper {
                    display: inline-block;
                    text-align: center;
                }
                .signature {
                    display: flex;
                    justify-content: center;
                    img {
                        max-width: 40%;
                    }
                }
                .heading {
                    color: #222222;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: normal;
                    margin: 0;
                    font-family: 'OpenSans';
                }
                .position {
                    color: #333333;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;
                    display: block;
                }
               
            }
        }
    }
    
}

// ::ng-deep.certificationContainer {
//     width: 960px !important;
//     height: 78% !important;
// }