<section class="microLearnWrapper" >
    <div>
        <div class="microLearnCertification" id="content" #content>
            <!-- <figure class="leftTop">
                <img src="https://lmsassetspremium.lntedutech.com/portalicons/leftasset.webp" alt="" />
            </figure>
            <figure class="rightTop">
                <img src="https://lmsassetspremium.lntedutech.com/portalicons/topRightAsset.webp" alt="" />
            </figure>
            <figure class="rightBottom">
                <img src="https://lmsassetspremium.lntedutech.com/portalicons/bottomRightAsset.webp" alt="" />
            </figure> -->
            <div class="innerBorder">
                <div class="content">
                    <figure class="innerAsset">
                        <img src="../../../../assets/images/Layer 2 copy 2@2x.png" alt="" />
                    </figure>
                    <header>
                        <figure class="logo">
                            <img src="https://assets.lntedutech.com/edutech_logo.svg" alt="Logo" />
                        </figure>
                        <div class="">
                            <figure class="qrCode">
                                <img src="https://lmsassetspremium.lntedutech.com/portalicons/qrcode.webp" alt="" />
                            </figure>
                            <div class="date">
                                <span class="">Date of issue :</span>
                                <span class="">DD/MM/YYYY</span>
                            </div>
                        </div>
                    </header>
                    <div class="bodyContent">
                        <div class="details">
                            <div class="certificateHeading">
                                <span>Certificate </span> <p class="headcolor">of Completion</p>
                            </div>
                            <div class="certificationDetails">
                                <span class="desc">This is to certify that </span>
                                <div class="dottedline">
                                    <span class="dot1"></span>
                                    <span class="dotof">of</span>
                                    <span class="dot1"></span>
                                </div>
                                <span class="desc">has successfully completed the course</span>
                                <div class="dotline"></div>
                                <span class="desc">offered by CollegeConnect Programme of L&T EduTech. </span>
                                <span class="word">of L&T EduTech. </span>
                                <div class="dotline"></div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="ccHead commonStyle">
                            <span class="fooWrapper">
                                <figure class="signature">
                                    <img src="../../../../assets/images/sign.png" alt="Signature" />
                                </figure>
                                <span class="heading">Febin M F<span class="position">Head - College Connect</span></span>
                            </span>
                        </div>
                        <div class="badgelogo">
                            <figure>
                                <img src="../../../../assets/images/Group 1.png" alt="">
                            </figure>
                        </div>
                        <div class="CEO commonStyle">
                            <span class="fooWrapper">
                                <figure class="signature">
                                    <img src="https://lmsassetspremium.lntedutech.com/portalicons/signature.webp" alt="Signature" />
                                </figure>
                                <span class="heading">Sabyasachi Das<span class="position">Chief Executive Officer, L&T EduTech</span></span>
                            </span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>