@import 'variables';

.achieveGoals {
    background-color: #F4F1F9;
    padding: 3.75em 0;
    position: relative;
    font-size: 14px;
    @include md {
        font-size: 13px;
    }
    @include lg {
        font-size: 14px;
    }
    @include xl {
        font-size: 16px;
    }
    &::before {
        content: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: $whiteColor;
        height: 15vh;
    }
    @media only screen and (min-width: 767px) {
        &::before {
            content: '';
        }
    }
    .heading2 {
        &::after {
            content: none;
        }
        span {
            color: $secondaryColor;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('https://lmsassetspremium.lntedutech.com/portalicons/border.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    p {
        font-size: 0.875em;
        font-weight: 400;
        color: $darkMediumGrey;
        line-height: 1.6;
        text-align: center;
        margin: 1em 0 0 0;
    }
}
.goalsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em;
    @include xl {
        margin-top: 3em;
        flex-wrap: nowrap;
    }
    .goals {
        width: 100%;
        text-align: left;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
        position: relative;
        background: $whiteColor;
        transition: all 0.3s ease-out 0s;
        padding: 1.5em;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        margin-top: 2em;
        @include sm {
            width: 48%;
        }
        @include lg {
            width: 23%;
            margin-bottom: 0;
        }
        @include xl {
            margin-top: 0;
            box-sizing: border-box;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            height: 3px;
            transition: 0.3s;
        }
        &:first-child {
            &::after {
                background-color: #73d8fa;
            }
            .goalsNumber {
                em {
                    color: #73d8fa;
                }
            }
        }
        &:nth-child(2) {
            &::after {
                background-color: #648FCE;
            }
            .goalsNumber {
                em {
                    color: #648FCE;
                }
            }
        }
        &:nth-child(3) {
            &::after {
                background-color: #FF9676;
            }
            .goalsNumber {
                em {
                    color: #FF9676;
                }
            }
        }
        &:last-child {
            &::after {
                background-color: #7DD868;
            }
            .goalsNumber {
                em {
                    color: #7DD868;
                }
            }
        }
        .goalsNumber {
            display: flex;
            justify-content: space-between;
            align-items: center;
            em {
                font-size: 4em;
            }
            span {
                font-size: 3.75em;
                font-weight: 300;
                color: rgba(46, 61, 98, 0.05);
            }
        }
        .heading5 {
            font-family: "OpenSans", sans-serif;
            font-weight: 700;
            color: $secondaryColor;
            margin: 0.55em 0 0.65em 0;
            @include sm {
                height: 43px;
            }
            @include md {
                height: 48px;
            }
            @include lg {
                margin: 1em 0;
            }
        }
        p {
            color: $darkMediumGrey;
            font-size: 0.875em;
            font-weight: 400;
            line-height: 1.3;
            margin: 0;
            text-align: left;
            @include md {
                line-height: 1.5;
                padding: 0;
            }
        }
        &:hover {
            &::after {
                @include xl {
                    z-index: -1;
                    height: 100%;
                    opacity: 0.3;
                }
            }
            @include xl {
                box-shadow: 0 0 30px 0 rgb(0 0 0 / 18%);
                transform: translate(0px, -10px);
                .goalsNumber {
                    em {
                        // color: $whiteColor;
                        transition-delay: 0.2s;
                    }
                }
            }
        }
    }
}